* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.rowj {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  top: 0;
  left: 0;
}

.bgf {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  top: 0;
  left: 0;
}

@media (max-width: 770px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 9px;
    transition: all 0.3s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .h-menu__list {
    flex-direction: column;
    justify-content: flex-end;
  }

  .header__burger.burger-active span {
    transform: scale(0);
  }

  .header__burger.burger-active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.burger-active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .h-menu {
    position: relative;
  }

  .h-menu__list {
    position: absolute;
    top: -700px;
  }

  .h-menu__link {
    margin-top: 10px;
  }

  .h-menu__list.burger-active {
    top: 30px;
    right: -40px;
  }
}
.header {
  position: relative;
  padding: 58px 0 170px 0;
}
@media (max-width: 1200px) {
  .header {
    padding: 40px 0 80px 0;
  }
}
@media (max-width: 992px) {
  .header {
    padding: 25px 0 50px 0;
  }
}
@media (max-width: 1200px) {
  .header__logo {
    margin-left: 1%;
  }
}
@media (max-width: 992px) {
  .header__logo {
    margin-left: 2%;
  }
}
@media (max-width: 787px) {
  .header__logo {
    margin-left: 5%;
  }
}
.header__title {
  text-align: center;
  color: #ffffff;
  font-family: Rokkitt;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -0.63px;
  margin-top: 170px;
  margin-bottom: 34px;
  padding-top: 13px;
  position: relative;
}
.header__title:after {
  content: "";
  position: absolute;
  width: 614px;
  height: 1px;
  background-color: #ffffff;
  left: 17%;
  bottom: -10px;
}
@media (max-width: 992px) {
  .header__title:after {
    height: 0;
    width: 0;
  }
}
@media (max-width: 787px) {
  .header__title:after {
    height: 0;
    width: 0;
  }
}
@media (max-width: 1200px) {
  .header__title {
    font-size: 45px;
    margin: 60px 0 20px 0;
  }
}
@media (max-width: 992px) {
  .header__title {
    font-size: 20px;
    margin: 50px 0 20px 0;
  }
}
@media (max-width: 520px) {
  .header__title {
    text-align: left;
    margin-left: 10px;
  }
}
.header__subtitle {
  text-align: center;
  color: #ffffff;
  font-family: Quicksand;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.35px;
}
@media (max-width: 520px) {
  .header__subtitle {
    display: none;
  }
}
.header__btn {
  position: relative;
  text-align: center;
}
.header__btn button {
  position: absolute;
  left: 39%;
  margin-top: 14%;
  width: 218px;
  height: 57px;
  border: 6px solid rgba(155, 89, 182, 0.59);
  color: #ffffff;
  font-family: Rokkitt;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.38px;
  transition: all 0.8s;
  background-color: #9b59b6;
}
@media (max-width: 1200px) {
  .header__btn button {
    margin-top: 6%;
  }
}
@media (max-width: 992px) {
  .header__btn button {
    margin-top: 4%;
  }
}
@media (max-width: 787px) {
  .header__btn button {
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .header__btn button {
    margin-left: -2%;
  }
}
@media (max-width: 520px) {
  .header__btn button {
    text-align: left;
    margin-left: -35%;
  }
}
.header__btn button:hover {
  background-color: #841fac;
  box-shadow: 4px 4px 15px #9f53bd;
}
@media (max-width: 1200px) {
  .header__btn button {
    width: 200px;
    height: 50px;
    font-size: 17.5px;
  }
}
@media (max-width: 992px) {
  .header__btn button {
    width: 160px;
    height: 45px;
    font-size: 14px;
  }
}
@media (max-width: 787px) {
  .header__btn button {
    width: 140px;
    height: 35px;
    font-size: 13px;
  }
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

.logo__text {
  color: #ffffff;
  font-family: "Myriad Pro - Cond";
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .h-menu {
    margin-right: 1%;
  }
}
@media (max-width: 992px) {
  .h-menu {
    margin-right: 2%;
  }
}
@media (max-width: 787px) {
  .h-menu {
    margin-right: 8%;
  }
}
@media (max-width: 787px) {
  .h-menu {
    margin-right: 13%;
  }
}
.h-menu__list {
  display: flex;
}
.h-menu__link {
  margin-left: 30px;
  color: #ffffff;
  font-family: "Myriad Pro - Cond";
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  transition: all 0.5s;
}
.h-menu__link:hover {
  color: #1abc9c;
}
.h-menu__link-active {
  color: #9b59b6;
  text-decoration: underline;
}

.main {
  margin-top: 123px;
}
@media (max-width: 1200px) {
  .main {
    margin-top: 75px;
  }
}
@media (max-width: 992px) {
  .main {
    margin-top: 65px;
  }
}
@media (max-width: 787px) {
  .main {
    margin-top: 45px;
  }
}
.main hr {
  margin-top: 70px;
  height: 1px;
  background-color: #e8e8e8;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .main hr {
    margin: 50px 0 40px 0;
  }
}
@media (max-width: 992px) {
  .main hr {
    margin: 40px 0 30px 0;
  }
}
@media (max-width: 787px) {
  .main hr {
    margin: 30px 0 20px 0;
  }
}
.main__title {
  text-align: center;
  color: #9b59b6;
  font-family: "Myriad Pro";
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.58px;
  margin-bottom: 45px;
}
@media (max-width: 1200px) {
  .main__title {
    font-size: 31px;
    margin-bottom: 30px;
  }
}
@media (max-width: 992px) {
  .main__title {
    font-size: 26px;
    margin-bottom: 25px;
  }
}
@media (max-width: 787px) {
  .main__title {
    font-size: 21px;
    margin-bottom: 20px;
  }
}
.main__text {
  max-width: 762px;
  margin: 0 auto;
  text-align: center;
  color: #95a5a6;
  font-family: "Myriad Pro";
  font-size: 18px;
  line-height: 29px;
  letter-spacing: -0.29px;
}
@media (max-width: 1200px) {
  .main__text {
    margin: 0 auto;
    font-size: 19px;
    line-height: 23px;
    padding: 0 30px;
  }
}
@media (max-width: 992px) {
  .main__text {
    line-height: 20px;
  }
}
@media (max-width: 787px) {
  .main__text {
    line-height: 17px;
  }
}
.main__column {
  flex: 0 0 33.333%;
  padding: 0 50px;
}
@media (max-width: 1200px) {
  .main__column {
    flex: 0 0 33.333%;
    padding: 0 40px;
  }
}
@media (max-width: 992px) {
  .main__column {
    flex: 0 0 50%;
    padding: 0 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 787px) {
  .main__column {
    flex: 0 0 100%;
    padding: 0 100px;
    margin-bottom: 35px;
  }
}
.main__row {
  margin: 0 -50px;
  margin-top: 65px;
}
@media (max-width: 1200px) {
  .main__row {
    margin: 0 -40px;
    margin-top: 65px;
  }
}
@media (max-width: 992px) {
  .main__row {
    margin: 0 -30px;
    margin-top: 65px;
  }
}
@media (max-width: 787px) {
  .main__row {
    margin: 0 -100px;
    margin-top: 65px;
  }
}

.m-item__img {
  margin: 0 auto;
  width: 64px;
  height: 64px;
}
.m-item__img img {
  width: 100%;
  height: 100%;
}
.m-item__title {
  text-align: center;
  color: #9b59b6;
  letter-spacing: -0.32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  font-family: "Myriad Pro";
  letter-spacing: -0.22px;
  margin: 25px 0 30px 0;
  transition: all 0.5s;
}
.m-item__title:hover {
  color: #1abc9c;
}
@media (max-width: 1200px) {
  .m-item__title {
    margin: 20px 0 15px 0;
    font-size: 21px;
  }
}
@media (max-width: 992px) {
  .m-item__title {
    margin: 18px 0 13px 0;
    font-size: 22px;
  }
}
@media (max-width: 787px) {
  .m-item__title {
    margin: 15px 0 10px 0;
    font-size: 23px;
  }
}
.m-item__text {
  text-align: center;
  color: #95a5a6;
  letter-spacing: -0.32px;
  line-height: 29px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Myriad Pro";
  font-size: 18px;
  letter-spacing: -0.22px;
}
@media (max-width: 787px) {
  .m-item__text {
    margin: 0 auto;
    max-width: 530px;
  }
}

.photo__btn {
  text-align: center;
}
.photo__btn button {
  width: 218px;
  height: 57px;
  background-color: #9b59b6;
  color: #ffffff;
  font-family: Rokkitt;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.38px;
  transition: all 0.3s;
}
.photo__btn button:hover {
  background-color: #841fac;
  box-shadow: 4px 4px 15px #9f53bd;
}
@media (max-width: 1200px) {
  .photo__btn button {
    width: 200px;
    height: 50px;
    font-size: 17.5px;
  }
}
@media (max-width: 992px) {
  .photo__btn button {
    width: 160px;
    height: 45px;
    font-size: 14px;
  }
}
@media (max-width: 787px) {
  .photo__btn button {
    width: 140px;
    height: 35px;
    font-size: 13px;
  }
}
.photo__column {
  margin-bottom: 55px;
}
@media (max-width: 992px) {
  .photo__column {
    margin-left: 17%;
    margin-bottom: 30px;
    flex: 0 0 100%;
  }
}
@media (max-width: 787px) {
  .photo__column {
    margin-left: 17%;
  }
}
@media (max-width: 600px) {
  .photo__column {
    margin-left: 10%;
  }
}

.p-item__img {
  width: 400px;
  height: 300px;
}
@media (max-width: 992px) {
  .p-item__img {
    width: 600px;
    height: 500px;
  }
}
@media (max-width: 787px) {
  .p-item__img {
    max-width: 500px;
    max-height: 400px;
  }
}
@media (max-width: 600px) {
  .p-item__img {
    max-width: 400px;
    max-height: 300px;
  }
}
.p-item__img img {
  width: 100%;
  height: 100%;
}

.p-item-active {
  position: relative;
  width: 400px;
  height: 300px;
}
.p-item-active__bottom {
  position: absolute;
  background-color: #9b59b6;
  padding: 23px 136px 22px 20px;
  bottom: 0;
  left: 0;
}
.p-item-active__title {
  color: #ffffff;
  font-family: Rokkitt;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.48px;
}
.p-item-active__text {
  color: #6b3f7d;
  font-family: "Myriad Pro";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.24px;
}

.b {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
}

.hr {
  height: 1px;
  background-color: #e4e8e8;
  margin: 75px 0;
}

.form__container {
  padding: 0 100px;
}
@media (max-width: 992px) {
  .form__container {
    padding: 0 90px;
  }
}
@media (max-width: 789px) {
  .form__container {
    padding: 0 70px;
  }
}
@media (max-width: 50px) {
  .form__container {
    padding: 0;
  }
}
.form__title {
  color: #9b59b6;
  font-family: Rokkitt;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -0.63px;
  text-align: center;
}
@media (max-width: 1200px) {
  .form__title {
    font-size: 55px;
  }
}
@media (max-width: 992px) {
  .form__title {
    font-size: 50px;
  }
}
@media (max-width: 789px) {
  .form__title {
    font-size: 40px;
    margin-bottom: 12px;
  }
}
@media (max-width: 500px) {
  .form__title {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
.form__input {
  padding: 0 0 0 29px;
  margin: 74px 0 27px 0;
  width: 359px;
  height: 73px;
  background-color: rgba(149, 165, 166, 0.26);
  color: #cecece;
  font-family: Rokkitt;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.5px;
  transition: all 0.9s;
}
.form__input:hover {
  background-color: #000000;
}
@media (max-width: 1200px) {
  .form__input {
    margin: 74px 0 27px 0;
    width: 359px;
    height: 73px;
  }
}
@media (max-width: 992px) {
  .form__input {
    margin: 74px 0 27px 0;
    width: 278px;
    height: 73px;
  }
}
@media (max-width: 789px) {
  .form__input {
    margin: 5px 0 10px 0;
    width: 359px;
    height: 53px;
  }
}
@media (max-width: 500px) {
  .form__input {
    width: 300px;
    height: 60px;
    margin: 5px;
  }
}
@media (max-width: 380px) {
  .form__input {
    width: 250px;
    height: 60px;
    margin: 5px;
  }
}
.form__input-last {
  margin-left: 30px;
}
@media (max-width: 789px) {
  .form__input-last {
    margin-left: 0;
  }
}
.form__teaxtarea textarea {
  padding: 29px 0 0 29px;
  width: 768px;
  height: 250px;
  background-color: rgba(149, 165, 166, 0.26);
  color: #cecece;
  font-family: Rokkitt;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.5px;
  transition: all 0.9s;
}
.form__teaxtarea textarea:hover {
  background-color: #000000;
}
@media (max-width: 1200px) {
  .form__teaxtarea textarea {
    padding: 29px 0 0 29px;
    width: 768px;
    height: 250px;
  }
}
@media (max-width: 992px) {
  .form__teaxtarea textarea {
    padding: 29px 0 0 29px;
    width: 600px;
    height: 150px;
  }
}
@media (max-width: 787px) {
  .form__teaxtarea textarea {
    padding: 29px 0 0 29px;
    width: 359px;
    height: 120px;
  }
}
@media (max-width: 500px) {
  .form__teaxtarea textarea {
    padding: 20px 0 0 16px;
    width: 300px;
    height: 80px;
  }
}
@media (max-width: 380px) {
  .form__teaxtarea textarea {
    padding: 17px 0 0 10px;
    width: 250px;
    height: 100px;
  }
}

.footer {
  position: relative;
  background-color: #9b59b6;
  margin-top: 150px;
  padding-bottom: 80px;
}
@media (max-width: 1200px) {
  .footer {
    padding-bottom: 60px;
  }
}
@media (max-width: 992px) {
  .footer {
    padding-bottom: 40px;
  }
}
@media (max-width: 787px) {
  .footer {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
.footer__left {
  color: #ffffff;
  font-family: Rokkitt;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.38px;
}
.footer__right {
  color: #ffffff;
  font-family: Rokkitt;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.38px;
}

.conteiner-img {
  margin: 0 auto;
  max-width: 775px;
  margin-left: 250px;
}
@media (max-width: 1200px) {
  .conteiner-img {
    max-width: 775px;
    margin: 0 auto;
  }
}
@media (max-width: 787px) {
  .rowimg {
    display: none;
  }
}
.rowimg img {
  position: absolute;
  top: -30px;
}
@media (max-width: 1200px) {
  .rowimg img {
    position: relative;
  }
}
.row-en {
  margin-top: 105px;
}
@media (max-width: 1200px) {
  .row-en {
    margin-top: 65px;
  }
}
@media (max-width: 992px) {
  .row-en {
    margin-top: 50px;
  }
}
@media (max-width: 787px) {
  .row-en {
    margin-top: 0;
  }
}