@font-face {
	font-family: 'Proxima Nova';
	src: url('fonts/Mark Simonson - Proxima Nova Bold.eot');
	src: local('☺'), url('fonts/Mark Simonson - Proxima Nova Bold.woff') format('woff'), url('fonts/Mark Simonson - Proxima Nova Bold.ttf') format('truetype'), url('fonts/Mark Simonson - Proxima Nova Bold.svg') format('svg');
	font-weight: 700;
	font-style: 700;
}
@font-face {
	font-family: ' Proxima Nova';
	src: url('fonts/Mark Simonson - Proxima Nova Regular.eot');
	src: local('☺'), url('fonts/Mark Simonson - Proxima Nova Regular.woff') format('woff'), url('fonts/Mark Simonson - Proxima Nova Regular.ttf') format('truetype'), url('fonts/Mark Simonson - Proxima Nova Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

%fc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rowj{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.wrapper{
    position: relative;
    z-index: -10;
}

.bg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	top: 0;
	left: 0;
}
.bgf{
	//opacity: ;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	top: 0;
	left: 0;
}

.f-bg{
	//opacity: ;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	top: 0;
	left: 0;
}
.w-bg{
	//opacity: ;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -10;
	top: 0;
	left: 0;
}

/*@media (max-width: px){
	// body.lock{
	// 	overflow: hidden;
	// }
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		span{
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #fff;
			top: 9px;
			transition: all .3s;
		}
	}

	.header__burger:before ,
	.header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}
	.h-menu__list{
		flex-direction: column;
		justify-content: flex-end;
	}


	.header__burger.burger-active{
		span{
			transform: scale(0);
		}
	}

	.header__burger.burger-active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.burger-active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.h-menu{
		position: relative;
	}

	.h-menu__list{
		position: absolute;
		top: -700px;
	}
	.h-menu__link{
		margin-top: 7px;
		//margin-right: 50px;
	}
	.h-menu__list.burger-active{
		top: 0;
	}
	

}*/
.header {
    position: relative;
    padding: 40px 0px 300px 70px;
    @media (max-width: 1200px){
        padding: 30px 0 180px 60px;
    }
    @media (max-width: 992px){
        padding: 20px 0 85px 60px;
    }
    @media (max-width: 787px){
        padding: 10px 0 45px 60px;
    }
    // .header__top

    &__top {
    }

    &__menu-logo {
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 10.8px;
        position: relative;
        @media (max-width: 1200px){
            font-size: 30px;
        }
        @media (max-width: 992px){
            font-size: 23px;
        }
        @media (max-width: 787px){
            font-size: 17px;
        }
        &:after{
            position: absolute;
            content: '';
            top: 15px;
            left: 44px;
            width: 64px;
            height: 4px;
            background-color: #bea67c;
            @media (max-width: 1200px){
                top: 10px;
                left: 38px;
                width: 56px;
                height: 4px;
            }
            @media (max-width: 992px){
                top: 8px;
                left: 30px;
                width: 48px;
                height: 4px;
            }
            @media (max-width: 787px){
                top: 6px;
                left: 26px;
                width: 37px;
                height: 3px;
            }
        }
    }


    // .header__adaptive

    &__adaptive {
        opacity: 0.5;
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 15px;
        font-weight: 700;
        line-height: 27px;
        text-transform: uppercase;
        letter-spacing: 0.38px;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            width: 33px;
            height: 1px;
            border: 1px solid #bea67c;
            background-color: #ffffff;
            top: 19px;
            left: -40px;
        }
        &:before{
            content: '';
            position: absolute;
            width: 33px;
            height: 1px;
            border: 1px solid #bea67c;
            background-color: #ffffff;
            top: 12px;
            left: -40px;
        }
        span{
            &:after{
            content: '';
            position: absolute;
            width: 33px;
            height: 1px;
            border: 1px solid #bea67c;
            background-color: #ffffff;
            top: 5px;
            left: -40px;
            }
        }
    }

    // .header__menu

    &__menu {
        display: flex;
    }

    // .header__bureger

    &__bureger {
    }

    // .header__en

    &__en {
        display: flex;
        margin: 8px 40px 0 0;
        @media (max-width: 1200px){
            margin: 8px 60px 0 0;
        }
        @media (max-width: 992px){
            margin: 8px 80px 0 0;
        }
        @media (max-width: 787px){
            margin: 8px 90px 0 0;
        }
    }

    // .header__en-img

    &__en-img {
    }

    // .header__en-text

    &__en-text {
        opacity: 0.5;
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.75px;
        margin-left: 50px;
        line-height: 20px;
        @media (max-width: 1200px){
            margin-left: 38px;
        }
        @media (max-width: 992px){
            margin-left: 24px;
        }
        @media (max-width: 787px){
            margin-left: 10px;
        }
    }

    // .header__logo

    &__logo {
    }

    // .header__logo-text

    &__logo-text {
        color: #bea67c;
        font-family: "Proxima Nova";
        font-size: 100px;
        font-weight: 700;
        line-height: 99.96px;
        text-transform: uppercase;
        letter-spacing: 20.01px;
        text-align: center;
        margin: 150px 0 60px 0;
        @media (max-width: 1200px){
            font-size: 75px;
            margin: 90px 0 45px 0;
            line-height: 75px;
        }
        @media (max-width: 992px){
            font-size: 50px;
            margin: 55px 0 45px 0;
            line-height: 48px;
        }
        @media (max-width: 787px){
            font-size: 24px;
            margin: 30px 0 45px 0;
            background-image: 20px;
        }
        
    }

    &__logo-arr{
        margin-left: 353px;
        margin-top: 23px;
        @media (max-width: 1200px){
            margin-left: 270px;
        }
        @media (max-width: 992px){
            display: none;
        }
        @media (max-width: 787px){
        }
    }

    &__logo-mouse{
        margin-left: 350px;
        margin-top: 65px;
        position: relative;
        @media (max-width: 1200px){
            margin-left: 270px;
        }
        @media (max-width: 992px){
            display: none;
        }
        @media (max-width: 787px){
        }
    }

    // .header__logo-btn

    &__logo-btn {
        button{
            width: 307px;
            height: 58px;
            border: 2px solid #ffffff;
            color: #ffffff;
            font-family: "Proxima Nova";
            font-size: 14px;
            font-weight: 700;
            line-height: 58px;
            text-transform: uppercase;
            letter-spacing: 2.8px;
            background-color: rgba(1,1,1,0);
            padding-right: 0px;
            position: relative;
            margin-left: 350px;
            @media (max-width: 1200px){
                width: 240px;
                height: 58px;
                line-height: 58px;
                margin-left: 270px;
            }
            @media (max-width: 992px){
                width: 150px;
                height: 42px;
                line-height: 42px;
                margin-left: 270px;
            }
            @media (max-width: 787px){
                width: 115px;
                height: 34px;
                line-height: 34px;
                margin-left: 270px;
                font-size: 10px;
            }
            img{
                @media (max-width: 992px){
                    display: none;
                }
                margin-top: 22px;
                padding-left: 20px;
                //transform: skewX(45deg);
            }
            &:after{
                content: '';
                position: absolute;
                // top: 10px;
                // left: 0;
                background: url('img/strela.png') 100% 5px 5px no-repeat;
            }

            transition: all .9s;
            &:hover{
                box-shadow: 0 0 25px #fff;
            }
            
        }
    }

    // .header__transform

    &__transform {
        margin-left: 100px;
        position: absolute;
        //transform: skewX(-50deg);
       transform: rotate(90deg);
    @media (max-width: 1200px){    
        margin-left: 80px;
    }
    @media (max-width: 992px){
        margin-left: 55px;
    }
    @media (max-width: 787px){
        margin-left: 30px;
    }
    }
}
.row {
}

.h-menu {

    // .h-menu__list

    &__list {
        display: flex;
        max-width: 600px;
        margin: 0 auto;
        margin-top: 12px;
    }

    // .h-menu__link

    &__link {
        opacity: 0.5;
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 15px;
        font-weight: 700;
        //line-height: 27px;
        text-transform: uppercase;
        margin-left: 100px;
        letter-spacing: 0.38px;
        transition: all .4s;
        position: relative;
        @media (max-width: 1200px){    
            margin-left: 70px;
        }
        @media (max-width: 992px){
            margin-left: 45px;
        }
        @media (max-width: 787px){
            margin-left: 20px;
        }
        &:hover{
            color: #a9946e;
            text-shadow: 1px 1px 25px #fff;
        }
    }
}
.h-t {

    // .h-t__text

    &__text {
        position: absolute;
        left: -220px;
        bottom: 20px;
        color: #bea67c;
        font-family: "Proxima Nova";
        font-size: 90px;
        font-weight: 700;
        line-height: 100px;
        text-transform: uppercase;
        letter-spacing: 9px;
        @media (max-width: 1200px){
            left: -220px;
            bottom: 20px;
            font-size: 65px;
            line-height: 70px;
        }
        @media (max-width: 992px){
            left: -100px;
            bottom: 20px;
            font-size: 100px;
            line-height: 100px;
        }
        
        
        span{
        position: relative;
        &:after{
            position: absolute;
            content: '';/* Style for "Прямоуголь" */
            width: 51px;
            height: 4px;
            background-color: #c0af91;
            top: 50px;
            left: -180px;
            @media (max-width: 992px){
                top: 100px;
                left: -120px;
                width: 110px;
            }
        }
    }
    }

    // .h-t__dots

    &__dots {
        position: absolute;
        right: 0px;
        width: 10px;
        height: 10px;
        background-color: #303030;
        border-radius: 50%;
        bottom: 65px;
        @media(max-width: 992px){
            display: none;
        }

        &__sublast{
            right: -50px;
            @media (max-width: 1200px){
                right: -40px;
            }
            @media (max-width: 992px){
            }
            @media (max-width: 787px){
                display: none;
            }
        }

        &__last{
            right: -100px;
            @media (max-width: 1200px){
                right: -80px;
            }
            @media (max-width: 992px){
                display: none;
            }
            @media (max-width: 787px){
            }
        }
    }

    // .h-t__dots-active

    &__dots-active {
        position: absolute;
        //left: 160px;
        width: 10px;
        height: 10px;
        background-color: #bea67c;
        border-radius: 50%;
       //top: 45px;
        left: -60px;
        bottom: 65px;
    }
}
.bg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	top: 0;
	left: 0;
}

.t1{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	top: 0;
	left: 0;
}
.tf1{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	top: 0;
	left: 0;
}
.t2{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	top: 0;
	left: 0;
}
.tf2{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	top: 0;
	left: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.tovar {

    padding-bottom: 220px;
    margin-top: 90px;
    // .tovar__first

    &__first {
        margin-bottom: 80px;
    }


    &__column{
        flex: 0 0 50%;
    }

    // .tovar__second

    &__second {
        padding: 110px 0 0 48px;
    }
}
.row {
}
.tovar-title {
    color: #010101;
    font-family: "Proxima Nova";
    font-size: 48px;
    font-weight: 700;
    //line-height: 100px;
    text-transform: uppercase;
    letter-spacing: 3.36px;
    margin-bottom: 30px;
}
.tivar-text {
    color: #464646;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.38px;
}
.tovar-subtitle {
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 700;
    ///line-height: 70px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    text-align: center;
    margin: 30px 0 80px 0;
    
}

.tovar-num{
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 700;
    //line-height: 100px;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    
}
.t-first {

    // .t-first__left

    &__left {
        padding: 70px 35px 0 0;
    }

    // .t-first__title

    &__title {
        text-align: right;
        position: relative;
        &:before{
            position: absolute;
            content: "";
            width: 151px;
            height: 1px;
            border: 1px solid #000000;
            left: 65px;
            top: 20px;
        }
    }

    // .t-first__text

    &__text {
        text-align: left;
        max-width: 341px;
        margin-left: 250px;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            top: 8px;
            left: -75px;
            width: 44px;
            height: 4px;
            background-color: #bea67c;
        }
    }

    // .t-first__subtitle

    &__subtitle {
        position: relative;
    &:before{
        position: absolute;
        content: '';
        width: 44px;
        height: 2px;
        background-color: #a9946e;
        top:  20px;
        left: 225px;
    }
    }

    &__num{
        text-align-last: left;
        margin-left: 100px;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            bottom: -100px;
            left: 18px;
            width: 4px;
            height: 51px;
            background-color: #a9946e;
        }
    }
    // .t-first__right

    &__right {
        position: relative;
        &:after{
            position: absolute;
            content: '';
            top: -118px;
            right: 50px;
            width: 4px;
            height: 51px;
            background-color: #bea67c;
            }
    }

    // .t-first__img

    &__img {
        //position: relative;
        width: 546px;
        height: 397px;
        position: relative;
    }
}


.t1 {
}
.tf1 {
}
.t-second {

    // .t-second__left

    &__left {
        padding: 67px 40px 0 0;
    }

    // .t-second__title

    &__title {
        text-align: right;
        margin-right:172px;
        position: relative;
        &:before{
            position: absolute;
            content: "";
            width: 151px;
            height: 1px;
            border: 1px solid #000000;
            right: -200px;
            top: 20px;
        }
    }

    &__text{
        margin-left: 100px;
        max-width: 277px;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            top: 8px;
            right: -75px;
            width: 44px;
            height: 4px;
            background-color: #bea67c;
        }
    }
    // .t-second__subtitle

    &__subtitle {
        position: relative;
    &:before{
        position: absolute;
        content: '';
        width: 44px;
        height: 2px;
        background-color: #a9946e;
        top:  20px;
        left: 210px;
    }
    }

    // .t-second__right

    &__right {
    }

    // .t-second__img

    &__num{
        display: inline-block;
        padding-left: 410px;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            bottom: -100px;
            right: 32px;
            width: 4px;
            height: 51px;
            background-color: #a9946e;
        }
    }

    &__img {
        position: relative;
        width: 546px;
        height: 397px;
    }
}
.t2 {
}
.tf2 {
}

.video {

    padding-bottom: 150px;
    // .video__title

    &__title {
        text-align: center;
        position: relative;
        margin-bottom: 54px;
        &:after{
            position: absolute;
            content: '';
            //left: 650px;
            left: 50%;
            bottom: -30px;
            width: 44px;
            height: 4px;
            background-color: #bea67c;
        }
    }

    // .video__text

    &__text {
        color: #636262;
        font-family: "Proxima Nova";
        font-size: 15px;
        font-weight: 400;
        line-height: 25.03px;
        text-align: center;
        letter-spacing: 0.38px;
        margin-bottom: 80px;
    }

    // .video__row

    &__row {
        width: 980px;
        margin: 0 auto;
    }

    // .video__column

    &__column {
    }

    // .video__img

    &__img {
        max-width: 272px;
        max-width: 272px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    // .video__img-text

    &__img-text {
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.4px;
        margin-top: 55px;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            left: 125px;
            top: -18px;
            width: 25px;
            height: 1px;
            border: 1px solid #bea67c;
        }
    }
}
.tovar-title {
}
.tivar-text {
}
.row {
}

.black {
    position: relative;
    padding: 90px 0;

    // .black__container

    &__container {
        padding: 100px 0 100px 0;
        border: 1px solid #bea67c;
        max-width: 1200px;
        margin: 0 auto;
        
    }

    // .black__tilte

    &__tilte {
        max-width: 506px;
        margin-left: 250px;
        color: #bea67c;
        font-family: "Proxima Nova";
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            top: 15px;
            left: -175px;
            width: 151px;
            height: 1px;
            border: 1px solid #ffffff;
        }
        &:before{
            position: absolute;
            content: '';
            top: 75px;
            left: 855px;
            width: 1px;
            height: 151px;
            border: 1px solid #ffffff;
            @media(max-width: 1130px){
                display: none;
            }
        }
    }

    // .black__text

    &__text {
        margin-top: 24px;
        margin-left: 250px;
        width: 400px;
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.38px;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            top: 10px;
            left: -60px;
            width: 44px;
            height: 4px;
            background-color: #bea67c;
        }
    }

    // .black__btn

    &__btn {
        margin: 44px 0 0 250px;
        button{
            width: 306px;
            height: 58px;
            border: 2px solid #ffffff;
            color: #ffffff;
            font-family: "Proxima Nova";
            font-size: 14px;
            font-weight: 700;
            line-height: 58px;
            text-transform: uppercase;
            letter-spacing: 2.8px;
            background-color: rgba(1,1,1,0);
            img{
                margin: 15px 14px 0 10px;
            }
            transition: all .9s;
            &:hover{
                box-shadow: 0 0 25px #fff;
            }
        }
    }
}



.b-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	top: 0;
	left: 0;
}



.about {

    padding: 130px 0 130px 0;

    // .about__container

    &__container {
        max-width: 1018px;
        margin: 0 auto;
    }

    &__column{
        padding: 0 20px;
    }


    &__row{
        margin: 0 -20px;
    }
    // .about__header

    &__header {
    }

    &__body{
        padding-top: 100px;
    }

    // .about__img

    &__img {
        width: 570px;
        height: 480px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    // .about__title

    &__title {
        position: relative;
        &:after{
            position: absolute;
            content: '';
            top: 25px;/* Style for "Фигура 6 k" */
            width: 151px;
            height: 1px;
            border: 1px solid #000000;
            left: -186px;
        }
    }

    // .about__text

    &__text {
        margin-bottom: 30px;
        max-width: 331px;
        color: #464646;
        font-family: "Proxima Nova";
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.38px;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            top: 10px;
            width: 44px;
            height: 4px;
            background-color: #bea67c;
            left: -80px;
        }
    }

    // .about__subtitle

    &__subtitle {
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.8px;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            bottom: -10px;
            width: 44px;
            height: 2px;
            background-color: #bea67c;
            left: 0;
        }
        img{
            margin: 3px 0 0 9px;
        }
    }
}
.row {
}
.tovar-title {
}
.tivar-text {
}

.footer {
    position: relative;
    padding: 24px 0;

    @media( max-width: 992px ){
        padding: 15px 0;
    }
    @media( max-width: 787px ){
        padding: 10px 0;
    }

    // .footer__conrainer

    &__conrainer {
        max-width: 1167px;
        margin: 0 auto;
    }

    // .footer__date

    &__date {
        color: #464646;
        font-family: "Proxima Nova";
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
        letter-spacing: 0.38px;
        @media( max-width: 992px ){
            margin-left: 10px;
        }
        @media( max-width: 787px ){
            display: none;
        }
    }

    // .footer__light

    

    // .footer__logo

    &__logo {
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 10.8px;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            width: 54px;
            height: 4px;
            background-color: #bea67c;
            left: 38px;
            top: 12px;
        }
        @media( max-width: 992px ){
            
        }
        @media( max-width: 787px ){
            letter-spacing: 25px;
            margin: 0 auto;
        }
    }

    // .footer__info

    &__info {
        font-family: "Proxima Nova";
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        color: #464646;
        letter-spacing: 0.38px;
        @media( max-width: 992px ){
            margin-right: 10px;
        }
        @media( max-width: 787px ){
            display: none;
        }
    }
    &__light {
        color: #7d7d7d;
    }
}
.row {
}
.f-bg {
}
