@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  transition: all 1s;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.page {
  display: flex;
  flex-direction: column;
}

.main-screen {
  flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -100;
}

.row {
  display: flex;
  justify-content: space-between;
}

.header {
  padding-top: 30px;
  position: relative;
  height: 100vh;
}
.header__title {
  position: absolute;
  transform-origin: center;
  transform: rotate(40deg);
  color: #857b7b;
  font-size: 48px;
  margin-top: 250px;
  margin-right: 800px;
  font-family: Pacifico;
  transition: all 1s;
}
.header__title:hover {
  font-size: 53px;
}
.h-menu {
  margin-left: 30px;
}
.h-menu__list {
  display: flex;
  justify-content: space-between;
}
.h-menu__link a {
  margin: 0 5px;
  color: #424449;
  font-size: 30px;
  font-family: vollkorn;
  font-weight: bold;
  transition: all 1s;
  padding: 10px;
}
.h-menu__link a:hover {
  text-shadow: 0 0 30px #fff;
  color: #202020;
}

.scill {
  padding: 70px 0;
  background-image: linear-gradient(to left, #000, #e3e2ec, #000);
}
.scill__title {
  margin-bottom: 50px;
}
.scill__row {
  margin: 0 -75px;
  flex-wrap: wrap;
}
.scill__column {
  flex: 0 0 50%;
  padding: 0 75px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.all-title {
  font-family: Istok Web;
  font-weight: bold;
  font-size: 50px;
  color: #000;
  text-align: center;
  text-shadow: 2px 2px 0 #413f3f;
}

.scill__column {
  margin-bottom: 50px;
}

.box__row {
  align-items: flex-start;
}
.box__marker {
  width: 200px;
  height: 200px;
  margin-right: 35px;
}
.box__marker img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.box__text {
  max-width: 320px;
  font-family: Istok Web;
  font-size: 20px;
  color: #000;
  text-align: justify;
}
.box__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.box__descr {
  text-shadow: 0 0 30px #fff;
}

.hide {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
}

.box__title {
  font-family: vollkorn;
}
.box__title_html {
  color: #c9620f;
}
.box__title_css {
  color: #0689a7;
}
.box__title_js {
  color: #c7e022;
}
.box__title_w {
  color: #f1edea;
}

.i {
  padding: 80px 0;
  background-image: linear-gradient(to left, #000, #e3e2ec, #000);
}
.i__title {
  margin-bottom: 40px;
}

.tab__click {
  padding: 15px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 20px;
  color: #000;
  border: solid 2px #000;
  border-radius: 30%;
  transition: all 1s;
  box-shadow: 0 0 20px #fff;
  font-family: vollkorn;
}
.tab__click:hover {
  background-color: #000;
  color: #fff;
  border: solid 2px #fff;
  box-shadow: 0 0 20px #000;
}
.tab__content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 190px;
}
.tab__item {
  position: absolute;
  flex: 1 0 100%;
  width: 500px;
  font-size: 20px;
  font-family: Istok Web;
  font-size: 20px;
  color: #000;
  text-align: justify;
  min-height: 100%;
  z-index: 10;
}

.slider {
  margin-left: 30px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  left: 100px;
}
.slider__row {
  align-items: center;
  justify-content: space-between;
}
.slider__item {
  width: 300px;
  height: 300px;
}
.slider__item img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
}

.n {
  display: block;
}

.prev {
  cursor: pointer;
}

.next {
  cursor: pointer;
}

.b {
  width: 100%;
  height: 3px;
  background-color: #000;
}

.m {
  display: none;
}

.deacr {
  transition: all 2s;
  padding: 80px 0;
  background-image: linear-gradient(to left, #000, #e3e2ec, #000);
}
.deacr__title {
  margin-bottom: 40px;
}
.deacr__taxt {
  font-family: Istok Web;
  font-size: 40px;
  color: #000;
  font-weight: 700;
  max-width: 800px;
  transition: 3s;
  height: 400px;
}

.btn {
  margin: 40px 0;
  text-align: center;
  padding: 25px 45px;
  font-size: 30px;
  background-image: linear-gradient(to top, #000, #000, #fff, #000, #000);
  color: #000;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 20px #000;
  transition: all 0.5s;
  font-family: vollkorn;
}
.btn:hover {
  padding: 20px 40px;
  margin: 45px 10px;
}

.v {
  text-align: center;
  background-image: linear-gradient(to left, #000, #e3e2ec, #000);
}

.footer {
  padding: 50px 0;
  background-image: linear-gradient(to left, #000, #e3e2ec, #000);
}
.footer__text {
  text-align: center;
  font-size: 30px;
  font-family: vollkorn;
}
.footer__text a {
  color: #000;
  transition: all 1s;
}
.footer__text a:hover {
  text-decoration: underline;
}