@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
body{
    transition: all 1s;
}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
.ibg{

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    img{
    
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }
}

.page {
    display: flex;
    flex-direction: column;
}

.main-screen {
        flex: 1 0 100%;
        position: relative;
		// .main-screen__bg

		&__bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
		}
}

.footer{
    position: relative;
    padding: 100px 0;
}
.bg-f{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -100;
    @media(max-width: 580px){
        display: none;
    }
  }
  .bg-2{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -100;
      @media(max-width: 640px){
          display: block;
      }
    }
  
.row{
	display: flex;
	justify-content: space-between;
}

.header {
    padding-top: 30px;
    position: relative;
    height: 100vh;
    @media(max-width: 1200px){
    
    }
    @media(max-width: 992px){
        padding-top: 20px;
    }
    @media(max-width: 787px){
        
    }
    @media(max-width: 580px){
        
    }
    @media(max-width: 360px){
        
    }
    //flex: 0 0 100%;
   // margin-bottom: 85vh;

    // .header__menu

    &__container{
    }
    &__menu {
    }


    // .header__logo

    &__logo {
    }

    // .header__title

    &__title {
        //position: absolute;
        h1{
        transform-origin: center;
        transform: rotate(40deg);}
        color: rgb(133, 123, 123);
        font-size: 48px;
        margin-top: 20%;
        //margin-right: 800px;
        font-family: Pacifico;
        transition: all 1s;
        display: inline-block;
        @media(max-width: 1200px){
            margin-top: 50%;
        }
        @media(max-width: 992px){
            font-size: 40px;
           // margin-top: 190px;
           margin-top: 40%;
        }
        @media(max-width: 787px){
            //margin-top: 150px;
            margin-top: 50%;
        }
        @media(max-width: 580px){
            color: #000;
            text-shadow: 0 0 20px #fff;
            font-size: 33px;
           // margin-top: 110px;
           margin-top: 60%;
        }
        @media(max-width: 390px){
            font-size: 22px;
            margin-top: 70%;
            font-size: 30px;
           // margin-right: 80px;
        }
        @media(max-width: 360px){
            font-size: 22px;
            margin-top: 80%;
            font-size: 20px;
           // margin-right: 80px;
        }
        @media(max-width: 240px){
            font-size: 18px;
        }
        width: 100vh;
        &:hover{
            font-size: 55px;
            @media(max-width: 1200px){
            
            }
            @media(max-width: 992px){
                font-size: 44px;
            }
            @media(max-width: 787px){
                
            }
            @media(max-width: 580px){
                font-size: 35px;
            }
            @media(max-width: 360px){
                font-size: 25px;
            }
            @media(max-width: 240px){
                font-size: 20px;
            }
        }
    }

    // .header__b-title

    &__b-title {
    }
}
.row {
}
.h-menu {
    margin-right: 50%;
    margin-top: 2%;
    @media(max-width: 1200px){
    margin: 0 auto;
    margin-top: 3%;
    }
    @media(max-width: 992px){
        
    }
    @media(max-width: 787px){
        
    }
    @media(max-width: 580px){
        
    }
    @media(max-width: 360px){
        
    }
    // .h-menu__list

    &__list {
        display: flex;
        justify-content: space-between;
    }

    // .h-menu__link
    &__link a{
        margin: 0 5px;
        color:rgb(66, 68, 73);
        font-size: 30px;
        font-family: vollkorn;
        font-weight: bold;
        transition: all 1s;
        padding: 10px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            
        }
        @media(max-width: 787px){
            font-size: 40px;
        }
        @media(max-width: 580px){
            
        }
        @media(max-width: 360px){
            font-size: 30px;
        }
        // .h-menu__list
        &:hover{
            text-shadow: 0 0 30px #fff;
            color: rgb(32, 32, 32);
        }
    }
    &__link_active a{
        text-shadow: 0 0 30px #fff;
        color: rgb(32, 32, 32);
    }
}
.logo {
}


.scill {padding: 70px 0;
    background-image: linear-gradient(to left, #000, rgb(227, 226, 236), #000);
    @media(max-width: 1200px){
    
    }
    @media(max-width: 992px){
        padding: 55px 25px;
    }
    @media(max-width: 787px){
        padding: 30px 0;
    }
    @media(max-width: 580px){
        padding: 20px 0;
    }
    @media(max-width: 360px){
        padding: 10px 0;
    }

    // .scill__title

    &__title {
        margin-bottom: 50px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            margin-bottom: 40px;
        }
        @media(max-width: 787px){
            margin-bottom: 28px;
        }
        @media(max-width: 580px){
            margin-bottom: 20px;
        }
        @media(max-width: 360px){
            margin-bottom: 15px;
        }
    }

    // .scill__column

    &__row{
        margin: 0 -75px;
        flex-wrap: wrap;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            margin: 0 -30px;
        }
        @media(max-width: 787px){
            
        }
        @media(max-width: 580px){
            
        }
        @media(max-width: 360px){
            
        }
    }
    &__column {
        flex: 0 0 50%;
        padding: 0 75px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            padding: 0 20px;
        }
        @media(max-width: 787px){
            
        }
        @media(max-width: 580px){
            
        }
        @media(max-width: 360px){
            
        }
    }
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    @media(max-width: 1200px){
        max-width: 992px;
    
    }
    @media(max-width: 992px){
        max-width: 800px;
        
    }
    @media(max-width: 787px){
        padding: 0 70px;
        
    }
    @media(max-width: 580px){
        padding: 0 50px;
        
    }
    @media(max-width: 360px){
        padding: 0 30px;
        
    }
}
.all-title {
    font-family: Istok Web;
    font-weight: bold;
    font-size: 50px;
    color:#000;
    text-align: center;
    text-shadow: 2px 2px 0 rgb(65, 63, 63);
    @media(max-width: 1200px){
    
    }
    @media(max-width: 992px){
        
    }
    @media(max-width: 787px){
        font-size: 35px;
    }
    @media(max-width: 580px){
        font-size: 27px;
        
    }
    @media(max-width: 360px){
        
    }
}
.row {
}


.row {
}
.scill {

		// .scill__row

		&__row {
            @media(max-width: 787px){
                display: block;
            }
		}

		// .scill__column

		&__column {
            margin-bottom: 50px;
            @media(max-width: 1200px){
            
            }
            @media(max-width: 992px){
                margin-bottom: 35px;
            }
            @media(max-width: 787px){
                margin-bottom: 30px;
            }
            @media(max-width: 580px){
                margin-bottom: 25px;
            }
            @media(max-width: 360px){
                margin-bottom: 18px;
            }
		}
}




.box {

    &__row{
        align-items: flex-start;
        @media(max-width: 787px){
            align-items: center;
        }
    }
    // .box__marker

    &__marker {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // background-color: rgb(0, 0, 0);
        // min-width: 130px;
        // min-height: 130px;
        // border-radius: 100%;
        // color: #fff;
        // font-size: 30px;
        // font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        // margin-right: 35px;
        width: 200px;
        height: 200px;
        margin-right: 35px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            width: 130px;
            height: 130px;
            margin-right: 15px;
            margin-top: 10px;
        }
        @media(max-width: 787px){
            width: 120px;
            height: 120px;
            margin-right: 20px;
        }
        @media(max-width: 580px){
        }
        @media(max-width: 399px){
            width: 80px;
            height: 80px;
            display: none;
        }
        @media(max-width: 299px){
            display: none;
        }
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    // .box__text

    &__text {
        max-width: 320px;
        font-family: Istok Web;
        font-size: 20px;
        color: #000;
        text-align: justify;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            max-width: 230px;
        }
        @media(max-width: 787px){
            max-width: 350px;
        }
        @media(max-width: 580px){
            font-size: 14px;
        }
        @media(max-width: 360px){
            font-size: 13px;
        }
    }

    // .box__title

    &__title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            
        }
        @media(max-width: 787px){
            font-size: 25px;
        }
        @media(max-width: 580px){
            font-size: 20px;
            margin-bottom: 15px;
        }
        @media(max-width: 360px){
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    // .box__descr

    &__descr {
        text-shadow: 0 0 30px #fff;
        @media(max-width: 992px){
            font-size: 18px;
            text-align: left;
        }
        @media(max-width: 787px){
            font-size: 16px;
        }
        @media(max-width: 580px){
            font-size: 14px;
        }
        @media(max-width: 360px){
            font-size: 13px;
        }
    }
}

.hide{
    display: none;
    @media(max-width: 1200px){
    
    }
    @media(max-width: 992px){
        
    }
    @media(max-width: 787px){
        
    }
    @media(max-width: 580px){
        
    }
    @media(max-width: 360px){
        
    }
}
.show{
    display: flex;
    flex-direction: column;
    @media(max-width: 1200px){
    
    }
    @media(max-width: 992px){
        
    }
    @media(max-width: 787px){
        
    }
    @media(max-width: 580px){
        
    }
    @media(max-width: 360px){
        
    }
}
.box {

		

		&__title {
            font-family: vollkorn;

			// .box__title_html

			&_html {
                color: rgb(201, 98, 15);
			}

			// .box__title_css

			&_css {
                color: rgb(6, 137, 167);
			}

			// .box__title_js

			&_js {
                color: rgb(199, 224, 34);
			}

			// .box__title_w

			&_w {
                color: rgb(241, 237, 234);
			}
		}

}


.i {

    &__row{
        @media(max-width: 992px){
           display: block;
        }
    }
    padding: 80px 0;
    //padding-bottom: 200px ;
    background-image: linear-gradient(to left,  #000, rgb(227, 226, 236), #000),;
    @media(max-width: 1200px){
    padding: 60px 0;
    }
    @media(max-width: 992px){
        padding: 45px 0;
    }
    @media(max-width: 787px){
        padding: 30px 0;
    }
    @media(max-width: 580px){
        
    }
    @media(max-width: 360px){
        padding: 10px 0;
    }
    // .i__title

    &__title {
        margin-bottom: 40px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            
        }
        @media(max-width: 787px){
            margin-bottom: 30px;
            
        }
        @media(max-width: 580px){
            margin-bottom: 20px;
            font-size: 27px;
        }
        @media(max-width: 360px){
            
        }
    }
}
.title {
}
.container {
}
.row {
}
.tab {

    // .tab__wrapper

    &__wrapper {
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            max-width: 400px;
            margin: 0 auto;
        }
        @media(max-width: 787px){
            max-width: 300px;
        }
        @media(max-width: 580px){
            
        }
        @media(max-width: 360px){
            
        }
    }

    // .tab__click

    &__click {
        padding: 15px;
        margin: 0 10px;
        cursor: pointer;
        font-size: 20px;
        color: #000;
        border: solid 2px #000;
        border-radius: 30%;
        transition: all 1s;
        box-shadow: 0 0 20px #fff;
        font-family: vollkorn;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            padding: 10px;
            margin: 0 3px;
            font-size: 17px;
        }
        @media(max-width: 787px){
            
        }
        @media(max-width: 580px){
            font-size: 14px;
        }
        @media(max-width: 360px){
            padding: 5px;
            margin: 0 3px;
            font-size: 13px;
        }
        &:hover{
            background-color: #000;
            color: #fff;
            border: solid 2px #fff;
            box-shadow: 0 0 20px #000;
            @media(max-width: 1200px){
            
            }
            @media(max-width: 992px){
                
            }
            @media(max-width: 787px){
                
            }
            @media(max-width: 580px){
                
            }
            @media(max-width: 360px){
                
            }
        }
    }

    // .tab__content

    &__content {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: 190px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            min-height: 150px;
        }
        @media(max-width: 787px){
            margin-top: 35px;
        }
        @media(max-width: 580px){
            min-height: 0px;
            margin-top: 20px;
            margin-bottom: 20px;
            
        }
        @media(max-width: 360px){
           // min-height: 180px;
            
        }
    }

    // .tab__item

    &__item {
        position: absolute;
        flex: 1 0 100%;
        width: 500px;
        font-size: 20px;
        font-family: Istok Web;
        font-size: 20px;
        color: #000;
        text-align: justify;
        min-height: 100%;
        z-index: 10;
        text-shadow: 0 0 20px #fff;
        @media(max-width: 1200px){
        font-size: 19px;
        margin-left: 10px;
        }
        @media(max-width: 992px){
            width: 600px;
            margin-left: 40px;
        }
        @media(max-width: 787px){
            margin-left: 0;
            width: 420px;
            font-size: 15px;
        }
        @media(max-width: 583px){
            width: 330px;
            font-size: 13px;
            position: relative;
        }
        @media(max-width: 360px){
        }
    }
}



.slider {
    margin-left: 30px;
    width: 500px;
    margin: 0 auto;
    position: relative;
    left: 100px;
    @media(max-width: 1200px){
    width: 400px;
    }
    @media(max-width: 992px){
        left: 0px;
    }
    @media(max-width: 787px){
        
    }
    @media(max-width: 580px){
        width: 300px;
    }
    @media(max-width: 360px){
        width: 200px;
    }
    // .slider__item

    &__row{
        align-items: center;
        justify-content: space-between;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            
        }
        @media(max-width: 787px){
            
        }
        @media(max-width: 580px){
            
        }
        @media(max-width: 360px){
            
        }
    }
    &__item {
        width: 300px;
     //   height: 300px;
        @media(max-width: 1200px){
        width: 250px;
       // height: 250px;
        }
        @media(max-width: 992px){
            width: 200px;
           // height: 200px;
        }
        @media(max-width: 787px){
            width: 170px;
        }
        @media(max-width: 580px){
            width: 150px;
        }
        @media(max-width: 360px){
            width: 100px;
        }
        img{
            max-width: 100%;
            max-height: 100%;
            border-radius: 100%;
            @media(max-width: 1200px){
            
            }
            @media(max-width: 992px){
                
            }
            @media(max-width: 787px){
                
            }
            @media(max-width: 580px){
                
            }
            @media(max-width: 360px){
                
            }
        }
    }
}
.n{
    display: block;
    @media(max-width: 1200px){
    
    }
    @media(max-width: 992px){
        
    }
    @media(max-width: 787px){
        
    }
    @media(max-width: 580px){
        
    }
    @media(max-width: 360px){
        
    }
}
.row {
}
.prev {
    cursor: pointer;
}
.next {
    cursor: pointer;
    background-color: #000;
    box-shadow: rgb(221, 11, 11);
}
.b{
    width: 100%;
    height: 3px;
    background-color: #000;
    @media(max-width: 1200px){
    
    }
    @media(max-width: 992px){
        
    }
    @media(max-width: 787px){
        
    }
    @media(max-width: 580px){
        
    }
    @media(max-width: 360px){
        
    }
}

.m{
    display: none;
    @media(max-width: 1200px){
    
    }
    @media(max-width: 992px){
        
    }
    @media(max-width: 787px){
        
    }
    @media(max-width: 580px){
        
    }
    @media(max-width: 360px){
        
    }
}

.deacr {
    transition: all 2s;
    padding: 80px 0;
    //padding-bottom: 200px ;
    background-image: linear-gradient(to left,  #000, rgb(227, 226, 236), #000),;
    @media(max-width: 1200px){
    
    }
    @media(max-width: 992px){
        padding: 50px 0;
        
    }
    @media(max-width: 787px){
        padding: 25px 0;
        
    }
    @media(max-width: 580px){
        padding: 20px 0;
        
    }
    @media(max-width: 360px){
        padding: 11px 0;
        
    }
   

    // .deacr__title

    &__title {
        margin-bottom: 40px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            margin-bottom: 30px;
            
        }
        @media(max-width: 787px){
            margin-bottom: 15px;
        }
        @media(max-width: 580px){
            
        }
        @media(max-width: 360px){
            
        }
    }

    // .deacr__taxt

    &__taxt {
        font-family: Istok Web;
        font-size: 40px;
        color: #000;
        font-weight: 700;
        max-width: 800px;
        transition: 3s;
        height: 400px;
        @media(max-width: 1200px){
            height: 250px;
            font-size: 35px;
            margin: 0 auto;
        
        }
        @media(max-width: 992px){
            font-size: 27px;
            height: 200px;
            max-width: 700px;

        }
        @media(max-width: 787px){
            font-size: 20px;
            height: 145px;
        }
        @media(max-width: 580px){
            height: 180px;
            font-size: 17px;
        }
        @media(max-width: 360px){
            font-size: 13px;
            height: 155px;
        }
        @media(max-width: 260px){
            font-size: 13px;
            height: 175px;
        }
    }
}
.contant {
}
.all-title {
}

.btn{
    margin: 40px 0;
    text-align: center;
    padding: 25px 45px;
    font-size: 30px;
    background-image: linear-gradient(to top,  #000, #000, #fff, #000, #000),;
    color: #000;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 0 20px #000;
    transition: all .5s;
    font-family: vollkorn;
    @media(max-width: 1200px){
    
    }
    @media(max-width: 992px){
        margin: 30px 0;
        padding: 20px 30px;
        font-size: 22px;
        
    }
    @media(max-width: 787px){
        
    }
    @media(max-width: 580px){
        
    }
    @media(max-width: 360px){
        
    }
    &:hover{
        padding: 20px 40px;
        margin: 45px 10px;
        @media(max-width: 1200px){
        }
        @media(max-width: 992px){
            margin: 35px 5px;
            padding: 15px 25px; 

            
        }
        @media(max-width: 787px){
            
        }
        @media(max-width: 580px){
            
        }
        @media(max-width: 360px){
            
        }
    }
}
.v{
    text-align: center;
    background-image: linear-gradient(to left,  #000, rgb(227, 226, 236), #000);
}





.footer {
    padding: 60px 0;
    @media(max-width: 1200px){
    padding: 55px 0;
    }
    @media(max-width: 992px){
        padding: 50px 0;
    }
    @media(max-width: 787px){
        padding: 45px 0;
    }
    @media(max-width: 580px){
        padding: 40px 0;
        
    }
    @media(max-width: 360px){
        padding: 24px 0;
    }

    // .footer__text

    &__text {
        text-align: center;
        font-size: 30px;
        font-family: vollkorn;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            
        }
        @media(max-width: 787px){
            
        }
        @media(max-width: 580px){
            
        }
        @media(max-width: 360px){
            
        }
        a{
            color: #000;
            transition: all 1s;
            @media(max-width: 1200px){
            
            }
            @media(max-width: 992px){
                
            }
            @media(max-width: 787px){
                
            }
            @media(max-width: 580px){
                
            }
            @media(max-width: 360px){
                
            }
            &:hover{
                text-decoration: underline;
                @media(max-width: 1200px){
                
                }
                @media(max-width: 992px){
                    
                }
                @media(max-width: 787px){
                    
                }
                @media(max-width: 580px){
                    
                }
                @media(max-width: 360px){
                    
                }
            }
        }
    }
}
.container {
}

.portfolio {
    padding: 80px 0;
    background-image: linear-gradient(to left,  #000, rgb(227, 226, 236), #000),;
    @media(max-width: 1200px){
    padding: 60px 0;
    }
    @media(max-width: 992px){
        padding: 50px 0;
    }
    @media(max-width: 787px){
     padding: 35px 0;   
    }
    @media(max-width: 580px){
        padding: 25px 0;
    }
    @media(max-width: 360px){
        padding: 15px 0;
        padding-bottom: 5px;
    }

    // .portfolio__title
    &__container{
    }

    &__title {
        margin-bottom: 30px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            margin-bottom: 25px;
        }
        @media(max-width: 787px){
            margin-bottom: 18px;
        }
        @media(max-width: 580px){
            margin-bottom: 14px;
        }
        @media(max-width: 360px){
            margin-bottom: 13px;
        }
    }

    // .portfolio__text

    &__text {
        margin: 30px 0;
        font-family: Istok Web;
        font-size: 25px;
        color: #000;
        text-align: center;
        font-weight: 700;
        margin-bottom: 50px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            font-size: 24px;
            margin: 26px 0;
            margin-bottom: 40px;
        }
        @media(max-width: 787px){
            font-size: 20px;
            margin: 22px 0;
        }
        @media(max-width: 580px){
            font-size: 18px;
            margin: 20px 0;
        }
        @media(max-width: 360px){
            font-size: 15px;
            margin: 18px 0;
        }
    }
}
.all-title {
}
.container {
}
.string {
    border: solid 2px rgb(36, 36, 170);
    box-shadow: 0 0 20px rgb(36, 36, 170);
    padding: 25px 10px;
    margin-bottom: 20px;
    transition: all .5s;
    @media(max-width: 1200px){
        margin: 0 15px;
        margin-bottom: 10px;
    
    }
    @media(max-width: 992px){
        
    }
    @media(max-width: 787px){
        margin: 0 -90px;
        margin-bottom: 10px;
        padding: 23px 8px;
    }
    @media(max-width: 580px){
    }
    @media(max-width: 360px){
        margin: 0 -35px 10px -35px;
        
    }
    &:hover{
        padding: 35px 20px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
        }
        @media(max-width: 787px){
            padding: 25px 10px;
            
        }
        @media(max-width: 580px){
            
        }
        @media(max-width: 360px){
            
        }
    }
    .row{
        align-items: center;
        
            @media(max-width: 580px){
              display: block;  
        }
    
    }
    // .string__left

    &__left {
    }

    // .string__title

    &__title {
        font-size: 30px;
        font-family: vollkorn;
        color:  #000;
        margin-bottom: 15px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            font-size: 18px;
        }
        @media(max-width: 787px){
            font-size: 16px;
            margin-bottom: 10px;
        }
        @media(max-width: 580px){
            font-size: 21px;
            text-align: center;
        }
        @media(max-width: 360px){
            
        }
    }

    // .string__descr

    &__descr {
        font-family: Istok Web;
        font-size: 20px;
        color: #000;
        max-width: 600px;
        text-align: justify;
        line-height: 25px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            max-width: 400px;
            font-size: 17.5px;
            line-height: 15px;
        }
        @media(max-width: 787px){
            font-size: 15px;
            max-width: 230px;
            line-height: 15px;
            text-align: left;
        }
        @media(max-width: 580px){
            font-size: 20px;
            text-align: center;
            max-width: 360px;
            margin: 0 auto;
            margin-bottom: 19px;
        }
        @media(max-width: 360px){
            line-height: 16.5px;
        }
    }

    // .string__right

    &__right {
    }

    // .string__link

    &__link {
        font-size: 20px;
        font-family: vollkorn;
        color: #000;
        transition: all .5s;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            font-size: 19px;
        }
        @media(max-width: 787px){
            font-size: 14px;
        }
        @media(max-width: 580px){
            text-align: center;
            font-size: 18px;
        }
        @media(max-width: 360px){
            font-size: 14px;
        }
        &:hover{
            transform: scale(-1, 1);
            display: flex;
            flex-direction: row-reverse;
            @media(max-width: 1200px){
            
            }
            @media(max-width: 992px){
                
            }
            @media(max-width: 787px){
                
            }
            @media(max-width: 580px){
                
            }
            @media(max-width: 360px){
                
            }
        }
        &:target{
            transform: scale(1, -1);
        }
        a{
            color: #000;
        }
    }
}
.row {
}


.contact {
    padding: 70px 0;
    background-image: linear-gradient(to left,  #000, rgb(227, 226, 236), #000),;
    @media(max-width: 1200px){
    padding: 60px 0;
    }
    @media(max-width: 992px){
        padding: 50px 0;
    }
    @media(max-width: 787px){
     padding: 35px 0;   
    }
    @media(max-width: 580px){
        padding: 25px 0;
    }
    @media(max-width: 360px){
        padding: 15px 0;
        padding-bottom: 5px;
    }

    // .contact__title

    &__title {
        margin-bottom: 30px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            margin-bottom: 25px;
        }
        @media(max-width: 787px){
            margin-bottom: 18px;
        }
        @media(max-width: 580px){
            margin-bottom: 14px;
        }
        @media(max-width: 360px){
            margin-bottom: 13px;
        }
    }

    // .contact__text

    &__text {
        margin: 30px 0;
        font-family: Istok Web;
        font-size: 25px;
        color: #000;
        text-align: center;
        font-weight: 700;
        margin-bottom: 50px;
        margin: 30px 0;
        font-family: Istok Web;
        font-size: 25px;
        color: #000;
        text-align: center;
        font-weight: 700;
        margin-bottom: 50px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            font-size: 24px;
            margin: 26px 0;
            margin-bottom: 40px;
        }
        @media(max-width: 787px){
            font-size: 20px;
            margin: 22px 0;
        }
        @media(max-width: 580px){
            font-size: 18px;
            margin: 20px 0;
        }
        @media(max-width: 360px){
            font-size: 15px;
            margin: 18px 0;
        }
    }
}
.container {
}
.all-title {
}
.soc {
    border: solid 2px rgb(78, 2, 105);
    box-shadow: 0 0 20px rgb(78, 2, 105);
    padding: 25px 10px;
    margin-bottom: 20px;
    transition: all .5s;
    
    //max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    @media(max-width: 1200px){
        margin: 0 15px;
        margin-bottom: 10px;
    
    }
    @media(max-width: 992px){
        
    }
    @media(max-width: 787px){
        margin: 0 -20px;
        margin-bottom: 10px;
        padding: 23px 8px;
    }
    @media(max-width: 580px){
    }
    @media(max-width: 360px){
        margin: 0 -26px 10px -26px;
        
    }
    &:hover{
        padding: 35px 20px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
        }
        @media(max-width: 787px){
            padding: 25px 10px;
            
        }
        @media(max-width: 580px){
            
        }
        @media(max-width: 360px){
            
        }
    }

    &__row{
        align-items: center;
        
            @media(max-width: 580px){
              display: block;  
        }
    

    }
    // .soc__title

    &__title {
        color: #000;
        font-size: 30px;
        font-family: vollkorn;
        margin-bottom: 30px;
        margin-left: 80px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            font-size: 18px;
        }
        @media(max-width: 787px){
            font-size: 16px;
            margin-bottom: 10px;
        }
        @media(max-width: 580px){
            font-size: 21px;
            text-align: center;
            margin-left: 0;
        }
        @media(max-width: 360px){
            
        }
    }

    // .soc__text

    &__text {
        font-family: Istok Web;
        font-size: 20px;
        color: #000;
        max-width: 600px;
        text-align: justify;
        line-height: 25px;
        @media(max-width: 1200px){
        max-width: 550px;
        }
        @media(max-width: 992px){
            max-width: 380px;
            font-size: 17.5px;
            line-height: 15px;
        }
        @media(max-width: 787px){
            font-size: 15px;
            max-width: 230px;
            line-height: 15px;
            text-align: left;
        }
        @media(max-width: 580px){
            font-size: 20px;
            text-align: center;
            max-width: 360px;
            margin: 0 auto;
            margin-bottom: 19px;
        }
        @media(max-width: 360px){
            line-height: 16.5px;
        }
    }

    .row{
        align-items: center;
    }
    // .soc__link

    &__link {
        font-size: 20px;
        font-family: vollkorn;
        transition: all .5s;
        @media(max-width: 1200px){
        max-width: 350px;
        }
        @media(max-width: 992px){
            font-size: 19px;
            max-width: 330px;
        }
        @media(max-width: 787px){
            font-size: 14px;
            max-width: 240px;
        }
        @media(max-width: 580px){
            text-align: center;
            font-size: 16px;
            margin: 0 auto;
            max-width: 290px;
        }
        @media(max-width: 360px){
            font-size: 14px;
        }
        a{
            color: #000;
            display: inline-block;
            transition: all .8s;
            @media(max-width: 1200px){
            
            }
            @media(max-width: 992px){
                
            }
            @media(max-width: 787px){
                
            }
            @media(max-width: 580px){
                
            }
            @media(max-width: 360px){
                
            }
            &:hover{
                color: rgb(78, 2, 105);
                @media(max-width: 1200px){
                
                }
                @media(max-width: 992px){
                    
                }
                @media(max-width: 787px){
                    
                }
                @media(max-width: 580px){
                    
                }
                @media(max-width: 360px){
                    
                }
            }
        }
    }
}





.know {
    padding: 80px 0;
    padding-left: 150px;
    background-image: linear-gradient(to left,  #000, rgb(227, 226, 236), #000);
    @media(max-width: 1200px){
        padding: 60px 0;
        }
        @media(max-width: 992px){
            padding: 50px 0;
        }
        @media(max-width: 787px){
         padding: 35px 0;   
        }
        @media(max-width: 580px){
            padding: 25px 0;
        }
        @media(max-width: 360px){
            padding: 15px 0;
            padding-bottom: 5px;
        }


    // .know__title

    &__title {
        margin-bottom: 30px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            margin-bottom: 25px;
        }
        @media(max-width: 787px){
            margin-bottom: 18px;
        }
        @media(max-width: 580px){
            margin-bottom: 14px;
        }
        @media(max-width: 360px){
            margin-bottom: 13px;
        }
    }
}
.container {
}
.all-title {
}
.knows {

    // .knows__title

    &__title {
        margin-left: 80px;
        font-size: 30px;
        color: rgb(163, 22, 17);
        font-family: vollkorn;
        margin-bottom: 30px;
        margin-top: 30px;
        transition: all .5s;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
        }
        @media(max-width: 787px){
            font-size: 26px;
            margin: 23px 0 15px 80px;
        }
        @media(max-width: 580px){
            font-size: 23px;
            margin: 18px 0 13px 80px;
        }
        @media(max-width: 360px){
            margin-left: 50px;
        }
        &:hover{
            color: rgb(170, 133, 78);
        }
    }

    // .knows__body

    &__body {
    }

    // .knows__subtitle

    &__subtitle {
        font-family: Istok Web;
        font-size: 25px;
        color: #000;
        text-shadow: 0 0 10px rgb(248, 246, 246);
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            margin-left: 10px;
        }
        @media(max-width: 787px){
            font-size: 23px;
        }
        @media(max-width: 580px){
            font-size: 18px;
        }
        @media(max-width: 360px){
            font-size: 15px;
        }
    }

    // .knows__text

    &__text {
        font-family: Istok Web;
        font-size: 20px;
        color: #000;
        max-width: 630px;
        line-height: 25px;
        margin: 10px 0 10px 50px;
        transition: all .5s;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            
        }
        @media(max-width: 787px){
            max-width: 500px;
            line-height: 20px;
            font-size: 17px;
            
        }
        @media(max-width: 580px){
            max-width: 320px;
            line-height: 15px;
            font-size: 14px;
            
        }
        @media(max-width: 360px){
            
        }
        &:hover{
            font-size: 23px;
            @media(max-width: 1200px){
            
            }
            @media(max-width: 992px){
                
            }
            @media(max-width: 787px){
                font-size: 17px;
            }
            @media(max-width: 580px){
                font-size: 14px;
            }
            @media(max-width: 360px){
                
            }
        }
    }
}

@media (max-width: 787px){
	// body.lock{
	// 	overflow: hidden;
	// }
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
        height: 20px;
        z-index: 50;
		span{
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #fff;
			top: 9px;
			transition: all .3s;
		}
	}

	.header__burger:before ,
	.header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
        transition: all .3s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}
	.h-menu__list{
		flex-direction: column;
		justify-content: flex-end;
	}


	.header__burger.burger-active{
		span{
			transform: scale(0);
		}
	}

	.header__burger.burger-active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.burger-active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.h-menu{
        position: relative;
	}

	.h-menu__list{
		position: absolute;
        top: -700px;
	}
	.h-menu__link{
        margin-top: 7px;
        margin-bottom: 10px;
        margin-right: 150px;
        @media(max-width: 1200px){
        
        }
        @media(max-width: 992px){
            
        }
        @media(max-width: 787px){
            font-size: 40px;
            margin-right: 240px;
        }
        @media(max-width: 580px){
            
        }
        @media(max-width: 360px){
            
        }
	}
	.h-menu__list.burger-active{
        top: 50px;
        left: 90px;
        
	}
	

.header__menu{
    max-width: 300px;
    margin-left: 54%;
    margin-right: 4%;
}
.header.burger-active{
    background-image: linear-gradient(to left,  #000, rgb(227, 226, 236), #000),;
}
.header__row{
    flex-direction: row-reverse;
}
.header__title.burger-active{
    display: none;
}
}

@media(max-width: 787px){
	.h-menu__list.burger-active{
        left: -150px;
        
	}
}

.menu-item a{
    margin: 0 5px;
    color:rgb(66, 68, 73);
    font-size: 30px;
    font-family: vollkorn;
    font-weight: bold;
    transition: all 1s;
    padding: 10px;
    @media(max-width: 1200px){
    
    }
    @media(max-width: 992px){
        
    }
    @media(max-width: 787px){
        font-size: 40px;
    }
    @media(max-width: 580px){
        
    }
    @media(max-width: 360px){
        font-size: 30px;
    }
    // .h-menu__list
    &:hover{
        text-shadow: 0 0 30px #fff;
        color: rgb(32, 32, 32);
    }
}

.current-menu-item a{
    text-shadow: 0 0 30px #fff;
    color: rgb(32, 32, 32);
}