* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}




.row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.container {
	max-width: 1170px;
	margin: 0 auto;

	@media (max-width: 1200px) {
		padding: 0 20px;
	}
}

@media (max-width: 786px) {

	body.lock {
		overflow: hidden;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 201;

		span {
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: rgb(19, 17, 17);
			top: 9px;
			transition: all .3s;
		}
	}

	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color: rgb(15, 10, 10);
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s;
	}

	.header__burger:before {
		top: 0;
	}

	.header__burger:after {
		bottom: 0;
	}

	.h-menu__list {
		flex-direction: column;
		justify-content: flex-end;
		//height: 100vh;
		background-color: #000;
	}


	.header__burger.burger-active {
		span {
			transform: scale(0);
			background-color: #fff;
		}
	}

	.header__burger.burger-active:before {
		transform: rotate(45deg);
		top: 9px;
		background-color: #fff;
	}

	.header__burger.burger-active:after {
		transform: rotate(-45deg);
		bottom: 9px;
		background-color: #fff;
	}

	.h-menu {
		position: relative;
		
	}

	.h-menu__list {
		position: absolute;
		top: -700px;
		left: -90px;
		padding: 50px 400px;
		z-index: 100;
		transition: all 1s;

		@media(max-width: 500px) {
			padding: 0px 250px;
			left: -20px;
		}

		@media(max-width: 430px) {
			left: -70px;
		}

		@media(max-width: 380px) {
			padding: 40px 300px;
			left: -180px;
			top: -720px;
		}

		@media(max-width: 302px) {
			padding: 40px 200px;
			left: -120px;
			top: -720px;
		}
	}

	.h-menu__link {
		margin-top: 7px;
		//line-height: 40px;
		font-size: 20px;
		width: 200px;
		margin-bottom: 15px;
		a{
			color: #fff;
		}
	}

	.h-menu__list.burger-active {
		top: -55px;
		transition: all 1s;
		height: 103vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

	}
	.contact__form.burger-active{
		z-index: -5;
	}
	.phone.burger-active {
		z-index: -5;
	}
	.slider.burger-active {
		z-index: -5;
	}
	.footer__item.burger-active {
		z-index: -5;

	}

}









.slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;

	&__draggable {
		width: 1000px;
	}
}

.draggable {
	max-width: 1170px;
}

/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: center;
}

/* Слайд */
.slick-slide {
	margin: 0 20px;
	min-width: 357px;
	display: flex;
	flex-direction: column;
	flex: 0 1 33.333%;
	min-width: 0;
}

/* Слайд активный (показывается) */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
.slick-arrow {
	font-size: 0;
	position: relative;
	&::after{
		position: absolute;
		content: '';
		width: 50px;
		height: 50px;
		top: 0;
		left: 0;
	}
}

/* Стрелка влево */
.slick-arrow.slick-prev {
	//position: absolute;
	left: 10%;
	position: absolute;
	z-index: 10;
	top: 50%;
	&::after{
		background: url('../img/pre.svg') no-repeat;
	}
}

/* Стрелка вправо */
.slick-arrow.slick-next {
	position: absolute;
	right: 10%;
	top: 50%;

	&::after {
		background: url('../img/aft.svg') no-repeat;
	}
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {}

.slick-dots li {}

/* Активная точка */
.slick-dots li.slick-active {}

/* Элемент точки */
.slick-dots li button {}

