@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@font-face {
    font-family: reey;
    src: url("../fonts/reey-regular.eot");
    src: local("☺"), url("../fonts/reey-regular.woff") format("woff"), url("../fonts/reey-regular.ttf") format("truetype"), url("fonts/reey-regular.svg") format("svg");
    font-weight: 400;
    font-style: normal
}

* {
    padding: 0;
    margin: 0;
    border: 0
}

*,
:after,
:before {
    box-sizing: border-box
}

:active,
:focus {
    outline: none
}

a:active,
a:focus {
    outline: none
}

aside,
footer,
header,
nav {
    display: block
}

body,
html {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
    font-family: inherit
}

input::-ms-clear {
    display: none
}

button {
    cursor: pointer
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

a,
a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

ul li {
    list-style: none
}

img {
    vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400
}

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative
}

.ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden
}

.row {
    display: flex;
    justify-content: space-between
}

@media (max-width:786px) {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 101
    }

    .header__burger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        top: 9px;
        transition: all 0.3s
    }

    .header__burger:after,
    .header__burger:before {
        content: "";
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s
    }

    .header__burger:before {
        top: 0
    }

    .header__burger:after {
        bottom: 0
    }

    .h-menu__list {
        flex-direction: column;
        justify-content: flex-end
    }

    .header__burger.burger-active span {
        transform: scale(0)
    }

    .header__burger.burger-active:before {
        transform: rotate(45deg);
        top: 9px
    }

    .header__burger.burger-active:after {
        transform: rotate(-45deg);
        bottom: 9px
    }

    .h-menu {
        position: relative
    }

    .h-menu__list {
        position: absolute;
        top: -8000px;
        left: -90px;
        background: rgb(46, 41, 41);
        padding: 40px 432px;
        z-index: 100;
        transition: all 1s
    }
}

@media (max-width:786px) and (max-width:500px) {
    .h-menu__list {
        padding: 40px 250px;
        left: -20px
    }
}

@media (max-width:786px) and (max-width:430px) {
    .h-menu__list {
        left: -70px
    }
}

@media (max-width:786px) and (max-width:380px) {
    .h-menu__list {
        padding: 40px 300px;
        left: -180px;
        top: -720px
    }
}

@media (max-width:786px) and (max-width:302px) {
    .h-menu__list {
        padding: 40px 200px;
        left: -115px;
        top: -720px
    }
}

@media (max-width:786px) {
    .h-menu__link {
        margin-top: 7px;
        line-height: 40px;
        font-size: 20px;
        width: 200px;
        margin-bottom: 15px
    }
}

@media (max-width:786px) {
    .h-menu__list.burger-active {
        top: -70px;
        transition: all 1s
    }
}

.page {
    overflow: auto
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@font-face {
    font-family: "reey-regular";
    font-display: swap;
    src: url("../fonts/reey-regular.woff") format("woff"), url("../fonts/reey-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.page {
    overflow: hidden;
}

.header {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.header__container {
    max-width: 1170px;
    padding: 0 50px;
    margin: 0 auto;
}

.header__menu-body {
    /* max-width: 995px; */
    margin-left: 350px;
    margin-bottom: 0px;
    /* margin-top: 30px; */
    padding-top: 50px;
}

.header__menu {
    /* max-width: 748px; */
}



@-webkit-keyframes search {
    0% {
        -webkit-transform-origin: left;
        transform-origin: left;
        position: relative;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        position: relative;
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }

    100% {
        position: relative;
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes search {
    0% {
        -webkit-transform-origin: left;
        transform-origin: left;
        position: relative;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        position: relative;
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }

    100% {
        position: relative;
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
.rotate-stop{
    animation: stop 0s ;
}
@-webkit-keyframes stop {
    0% {
        -webkit-transform-origin: left;
        transform-origin: left;
        position: relative;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        position: relative;
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes stop {
    0% {
        -webkit-transform-origin: left;
        transform-origin: left;
        position: relative;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }


    100% {
        position: relative;
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
.header__logo {
    /* Style for "Place Your" */
    max-width: 136px;
    max-height: 109px;
    margin-bottom: 60px;
    margin-top: -60px;
}

.header__logo img {
    width: 100%;
    height: 100%;
}

.header__title {
    text-shadow: 0 5px 5px rgba(84, 82, 79, 0.22);
    color: #ffffff;
    font-family: 'Reey';
    font-size: 92px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-bottom: 40px;
    font-size: 80px;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.header__title._active {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.header__subtitle {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    text-align: justify;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header__btn {
    margin-bottom: 20px;
}

.header__btn button {
    padding: 14px 37px;
    color: #2e3034;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    border-radius: 25px;
}

.header__text {
    max-width: 475px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 21px;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

.header__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -10;
}

.header__bg img {
    width: 100%;
    height: 100%;
}

.h-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 400px;
}

.h-menu__link {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}



.h-menu__link a {
    color: #fff;
}

.header__spagetty {
    position: absolute;
    max-width: 500px;
    max-width: 500px;
    top: 15%;
    right: 58px;
    z-index: -5;
}

.header__spagetty img {
    width: 100%;
    height: 100%;
}

.header__porigge {
    position: absolute;
    width: 293px;
    height: 290px;
    top: 60%;
    right: 39%;
    z-index: -5;
}

.header__porigge img {
    width: 100%;
    height: 100%;
}

.header__list {
    position: absolute;
    width: 500px;
    height: 370px;
    top: 70%;
    right: -60px;
    z-index: -5;
}

.header__list img {
    width: 100%;
    height: 100%;
}

.page {
    overflow: hidden;
}

.italian-food {
    padding: 35px 0px 50px 0px;
}

.italian-food__container {
    max-width: 1170px;
    margin: 0 auto;
}

.italian-food__title {
    margin-top: 35px;
    text-align: center;
    margin-bottom: 38px;
    color: #222328;
    font-family: Reey;
    font-size: 75px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.italian-food__title._active {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.italian-food__text {
    max-width: 694px;
    color: #2f3135;
    font-family: "Open Sans";
    font-size: 27px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 57px;
}

.italian-food__chose {
    max-width: 970px;
    margin: 0 auto;
    margin-bottom: 61px;
}

.italian-food__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 45px;
}

.italian-food__column {
    margin: 0 -45px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    top: 0;
}

.italian-food__column:hover {
    position: relative;
    top: -8px;
}

.italian-food__btn {
    text-align: center;
}

.block__img {
    max-width: 234px;
    max-height: 222px;
    margin-bottom: 33px;
    margin-left: -5%;
}

.block__img img {
    width: 100%;
    height: 100%;
}

.block__title {
    margin-bottom: 15px;
    color: #343434;
    font-family: "Open Sans";
    font-size: 29px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    max-width: 190px;
}

.block__text {
    max-width: 299px;
    color: #343434;
    font-family: "Open Sans";
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
}

.black-btn {
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.black-btn button {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 23px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21.01px;
    text-align: left;
    text-transform: uppercase;
    padding: 28px 71px 29px 80px;
    border-radius: 20px;
    background-color: #343434;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border: solid 1px #fff;
}

.black-btn button:hover {
    color: #343434;
    border: solid 1px #343434;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px #343434;
    box-shadow: 0 0 5px #343434;
}

.description {
    padding: 40px 0;
    background-color: #27292c;
}

.description__container {
    max-width: 1170px;
    margin: 0 auto;
}

.description__title {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    text-align: center;
    color: #ffffff;
    font-family: Reey;
    font-size: 75px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 40px;
}

.description__title._active {
    -webkit-transition: all 1s 0.5s;
    -o-transition: all 1s 0.5s;
    transition: all 1s 0.5s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.description__text {
    max-width: 910px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.description__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.description__left-text {
    max-width: 400px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: justify;
}

.description__right-text {
    max-width: 400px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: justify;
}

.white-btn {
    text-align: center;
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
}

.white-btn._active {
    opacity: 1;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.white-btn button {
    padding: 19px 57px;
    color: #27292c;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: #fefefe;
    border: solid 1px #27292c;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.white-btn button:hover {
    color: #fff;
    background: #27292c;
    border: solid 1px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
}

.discount {
    padding: 50px 0;
}

.discount__container {
    max-width: 1170px;
    margin: 0 auto;
}

.discount__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.discount__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

.discount__column:first-child {
    margin-bottom: 80px;
}

.discount__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    max-width: 500px;
    max-width: 500px;
}

.discount__img img {
    width: 100%;
    height: 100%;
}

.discount__title {
    margin-bottom: 35px;
    width: 533px;
    color: #27292c;
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}


.discount__text {
    /* Style for "Lorem ipsu" */
    max-width: 505px;
    margin-bottom: 30px;
    color: #27292c;
    font-family: "Open Sans";
    line-height: 10px;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 23.63px;
    text-align: left;
}

.discount__order-1 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    float: right;
}

.discount__order-2 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.pizza {
    padding: 100px 0 600px 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.pizza__title {
    text-align: center;
    color: #f8f6f1;
    font-family: Reey;
    font-size: 58px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 50px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.pizza__title._active {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.pizza__text {
    max-width: 706px;
    margin: 0 auto;
    color: #f8f6f1;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 33.33px;
    text-align: center;
    position: relative;
}

.pizza__text::after {
    position: absolute;
    content: '';
    bottom: -40px;
    left: 50%;
    width: 162px;
    height: 11px;
    background-color: #fafafa;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.pizza__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -50;
}

.pizza__bg img {
    width: 100%;
    height: 100%;
}

.pizza__big-list {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    top: -6%;
    z-index: -48;
}

.pizza__big-list img {
    width: 100%;
    height: 100%;
}

.pizza__pizza-full {
    position: absolute;
    max-width: 600px;
    max-height: 600px;
    right: 150px;
    top: 400px;
    z-index: -48;
}

.pizza__pizza-full img {
    width: 100%;
    height: 100%;
}

.pizza__slice {
    position: absolute;
    max-width: 600px;
    max-height: 600px;
    right: 515px;
    top: 720px;
    z-index: -48;
    -webkit-transform: scale(0) rotate(-360deg);
    -ms-transform: scale(0) rotate(-360deg);
    transform: scale(0) rotate(-360deg);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.pizza__slice._active {
    -webkit-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}

.pizza__slice img {
    width: 100%;
    height: 100%;
}

.comments {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    padding: 100px 0;
    padding-top: 180px;
}

.comments._active {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.comments__container {
    max-width: 970px;
    margin: 0 auto;
}

.comments__box {
    margin-bottom: 100px;
}

.comments__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.comments__column {
    margin: 0 -20px;
    margin-bottom: 40px;
}

.comments__column:last-child {
    margin-bottom: 0;
}

.comments__title {
    color: #393939;
    font-family: Reey;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 33.24px;
    text-align: center;
    margin-bottom: 30px;
}

.comments__text {
    max-width: 332px;
    color: #333d42;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24.93px;
    text-align: left;
}

.comments__subtext {
    max-width: 792px;
    color: #3f3f3f;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.comments__subtitle {
    color: #3f3f3f;
    font-family: "Open Sans";
    font-size: 21px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 33.33px;
    text-align: center;
}

.mail {
    padding: 150px 0;
    background-color: #27292c;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.mail__container {
    max-width: 970px;
    margin: 0 auto;
    z-index: 2;
}

.mail__title {
    z-index: 2;
    margin-bottom: 50px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 75px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.mail__title._active {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.mail__text {
    max-width: 890px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.mail__form {
    max-width: 770px;
    margin: 0 auto;
    z-index: 2;
}

.mail__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
}

.mail__input input {
    padding: 20px 300px 20px 35px;
    color: #54524f;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: #fff;
}

.mail__input input::-webkit-input-placeholder {
    opacity: 0.68;
}

.mail__input input::-moz-placeholder {
    opacity: 0.68;
}

.mail__input input:-ms-input-placeholder {
    opacity: 0.68;
}

.mail__input input::-ms-input-placeholder {
    opacity: 0.68;
}

.mail__input input::placeholder {
    opacity: 0.68;
}

.mail__btn {
    position: relative;
    left: -100px;
    display: inline-block;
    cursor: pointer;
}

.mail__btn button {
    cursor: pointer;
    border-radius: 40px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: #54524f;
    padding: 20px 40px;
}

.mail__bh-list {
    position: absolute;
    width: 90%;
    height: 140%;
    left: 0;
    top: -70px;
    z-index: -10;
}

.mail__bh-list img {
    width: 100%;
    height: 100%;
}

.footer {
    padding: 100px 0;
}

.footer__container {
    max-width: 1170px;
    margin: 0 auto;
}

.footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer__column_1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-right: 50px;
}

.footer__column_2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
}

.footer__column_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
}

.footer__column_4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
}

.footer__title {
    margin-bottom: 30px;
    color: #343434;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

.footer__text {
    /* Style for "Lorem ipsu" */
    max-width: 400px;
    color: #343434;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-bottom: 20px;
}

.footer__icon-column {
    max-width: 212px;
}

.footer__icon {
    margin-left: 10px;
    max-width: 42px;
    max-height: 42;
}

.footer__icon:first-child {
    margin-left: 0;
}

.footer__icon img {
    background-color: #000;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.footer__link {
    margin-bottom: 15px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 41.76px;
    text-align: left;
    /* Text style for "H, istory" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.footer__link:last-child {
    margin-bottom: 0;
}

.footer__link a {
    color: #343434;
}

.footer__link a {
    position: relative;
    line-height: normal;
}

.footer__link a::after {
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    position: absolute;
    content: '';
    width: 0;
    left: 50%;
    height: 2px;
    bottom: -2px;
    background-color: #343434;
}

.footer__link a:hover::after {
    left: 0;
    width: 100%;
}

.black-btn._active {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}


@media (max-width: 1200px) {
    .header__menu-body {
        /* max-width: 650px; */
        margin-left: 280px;
    }

    .header__menu {
        /* max-width: 480px; */
    }

    

    .header__title {
        font-size: 70px;
        margin-bottom: 80px;
        position: relative;
        top: -20px;
    }

    .header__spagetty {
        width: 400px;
        height: 400px;
        right: 7%;
    }

    .header__porigge {
        right: 35%;
        top: 50%;
        width: 250px;
        height: 250px;
    }

    .header__list {
        width: 400px;
    }

    .italian-food__title {
        font-size: 65px;
        margin-bottom: 30px;
    }

    .italian-food__text {
        font-size: 25px;
        margin-bottom: 45px;
    }

    .italian-food__chose {
        max-width: 800px;
        margin-bottom: 40px;
    }

    .discount__container {
        padding: 0 20px;
    }

    .discount__title {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .discount__text {
        max-width: 450px;
        margin-bottom: 25px;
    }

    .comments {
        padding-bottom: 80px;
        padding-top: 150px;
    }

    .comments__container {
        padding: 0 20px;
    }

    .comments__box {
        margin-bottom: 70px;
    }

    .comments__title {
        font-size: 35px;
        margin-bottom: 25px;
    }

    .comments__text {
        max-width: 300px;
        font-size: 18px;
    }

    .mail {
        padding: 100px 0;
    }

    .mail__title {
        font-size: 70px;
        margin-bottom: 20px;
    }

    .footer {
        padding: 70px 0;
    }

    .footer__container {
        padding: 0 20px;
    }

    .footer__column_3 {
        margin-left: 15px;
    }

    .footer__title {
        margin-bottom: 25px;
    }

    .footer__text {
        max-width: 300px;
        text-align: justify;
    }

    .footer__link {
        line-height: 30px;
        margin-bottom: 10px;
    }
}

@media (max-width: 982px) {
    .header {
        /* padding-top: 15px; */
    }

    .header__menu-body {
        margin-left: 140px;
    }

    .header__logo {
        max-width: 100px;
    }

    .h-menu__list {
        width: 350px;
    }

    .header__spagetty {
        right: 8%;
        top: 20%;
        width: 300px;
        height: 300px;
    }

    .italian-food__container {
        padding: 0 20px;
    }

    .italian-food__title {
        font-size: 55px;
        margin-bottom: 20px;
    }

    .italian-food__text {
        margin-bottom: 30px;
    }

    .italian-food__chose {
        max-width: 700px;
    }

    .block__img {
        margin-left: -7%;
    }

    .block__title {
        font-size: 23px;
        max-width: 170px;
    }

    .block__text {
        max-width: 150px;
        font-size: 20px;
    }

    .black-btn button {
        font-size: 20px;
        padding: 20px 50px;
    }

    .description {
        padding: 20px 0px;
    }

    .description__container {
        padding: 0 20px;
    }

    .description__title {
        font-size: 60px;
        margin-bottom: 60px;
        margin-top: 30px;
    }

    .description__text {
        max-width: 700px;
    }

    .description__left-text {
        max-width: 300px;
    }

    .description__right-text {
        max-width: 300px;
    }

    .white-btn button {
        font-size: 20px;
        padding: 20px 50px;
    }

    .discount__column:first-child {
        margin-bottom: 40px;
    }

    .discount__title {
        max-width: 450px;
        font-size: 28px;
        margin-bottom: 20px;
    }

    .discount__title {
        max-width: 350px;
    }

    .discount__text {
        max-width: 400px;
        margin-bottom: 20px;
        line-height: 20px;
    }

    .pizza {
        padding-bottom: 450px;
        padding-top: 70px;
    }

    .pizza__title {
        font-size: 45px;
        margin-bottom: 35px;
    }

    .pizza__text::after {
        display: none;
    }

    .pizza__text {
        font-size: 23px;
        line-height: 28px;
    }

    .pizza__pizza-full {
        top: 270px;
        max-width: 500px;
        right: 50px;
    }

    .pizza__slice {
        top: 640px;
        max-width: 300px;
        top: 520px;
        right: 330px;
    }

    .comments {
        padding-top: 90px;
        padding-bottom: 50px;
    }

    .comments__container {
        padding: 0 10px;
    }

    .comments__box {
        margin-bottom: 30px;
    }

    .comments__title {
        font-size: 30px;
        margin-bottom: 20px;
        line-height: 28px;
    }

    .comments__text {
        max-width: 230px;
        font-size: 17px;
        line-height: 20px;
        text-align: justify;
    }

    .comments__subtext {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .mail {
        padding: 70px 0;
        padding-top: 50px;
    }

    .mail__form {
        max-width: 600px;
    }

    .mail__input input {
        padding: 20px 200px 20px 30px;
    }

    .footer {
        padding: 40px 0;
    }

    .footer__column_1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .footer__column_2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        margin-bottom: 15px;
        text-align: right;
    }

    .footer__column_3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        margin-left: 0;
    }

    .footer__column_4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
    }
}

@media (max-width: 786px) {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 101;
    }

    .header__burger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        top: 9px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .h-menu__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .header__burger.burger-active span {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .header__burger.burger-active:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.burger-active:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .h-menu {
        position: relative;
    }

    .h-menu__list {
        position: absolute;
        top: -800px;
        left: -90px;
        background: rgb(46, 41, 41);
        padding: 40px 432px;
        z-index: 100;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }

    .h-menu__link {
        margin-top: 7px;
        line-height: 40px;
        font-size: 20px;
        width: 200px;
        margin-bottom: 15px;
    }

    .h-menu__list.burger-active {
        top: -70px;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }

    .header__container {
        padding: 0 30px;
    }

    .header__menu-body {
        margin-bottom: 60px;
        margin-left: 0;
    }

  

    .header__logo {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .header__logo {
        margin-top: 0;
    }

    .header__title {
        font-size: 45px;
        margin-left: 40%;
        margin-top: -150px;
        margin-bottom: 70px;
    }

    .header__text {
        max-width: 250px;
    }

    .h-menu__link {
        font-size: 30px;
    }

    .header__spagetty {
        top: 30%;
        right: 3%;
    }

    .header__porigge {
        display: none;
    }

    .italian-food {
        padding: 20px 0;
    }

    .italian-food__title {
        font-size: 40px;
        margin-bottom: 25px;
    }

    .italian-food__text {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .italian-food__column {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .block__img {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .block__title {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .block__text {
        margin: 0 auto;
        max-width: 320px;
        padding: 0 10px;
        text-align: justify;
    }

    .description__title {
        font-size: 45px;
        margin-bottom: 45px;
    }

    .description__text {
        margin-bottom: 25px;
    }

    .description__left-text {
        max-width: 600px;
        margin-bottom: 15px;
    }

    .description__right-text {
        max-width: 600px;
    }

    .discount {
        padding: 25px 0;
    }

    .discount__column:first-child {
        margin-bottom: 20px;
    }

    .discount__title {
        max-width: 200px;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .discount__text {
        margin-bottom: 15px;
        font-size: 18px;
        max-width: 280px;
    }

    .pizza {
        padding-top: 45px;
        padding-bottom: 380px;
    }

    .pizza__title {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .pizza__text {
        font-size: 20px;
        line-height: 23px;
    }

    .pizza__pizza-full {
        max-width: 400px;
        right: 0;
        top: 220px;
    }

    .pizza__slice {
        top: 430px;
        max-width: 230px;
        right: 240px;
    }

    .comments {
        padding-top: 70px;
        padding-bottom: 30px;
    }

    .comments__title {
        text-align: left;
    }

    .comments__text {
        max-width: 600px;
    }

    .comments__subtext {
        text-align: left;
        margin-bottom: 20px;
    }

    .mail {
        padding: 40px 0;
        padding-top: 20px;
    }

    .mail__title {
        font-size: 55px;
        margin-bottom: 0;
    }

    .mail__text {
        font-size: 25px;
        margin-bottom: 30px;
        text-align: justify;
        margin-left: 10px;
        padding: 0 5px;
    }

    .mail__form {
        max-width: 550px;
    }

    .mail__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .mail__input {
        width: 100%;
        display: block;
        text-align: left;
        margin-left: 15px;
    }

    .mail__input input {
        padding: 15px 130px 15px 20px;
        border-radius: 40px;
        margin-bottom: 10px;
    }

    .mail__btn {
        left: 0;
        display: block;
        text-align: left;
        width: 100%;
        margin-left: 15px;
    }

    .mail__btn button {
        padding: 10px 20px;
        font-size: 20px;
    }

    .footer {
        padding: 25px 0;
    }

    .footer__title {
        margin-bottom: 15px;
    }

    .footer__text {
        max-width: 200px;
        font-size: 18px;
    }

    .footer__icon {
        max-width: 30px;
        max-width: 30px;
    }

    .footer__link {
        line-height: 20px;
        font-size: 18px;
    }
}

@media (max-width: 786px) and (max-width: 500px) {
    .h-menu__list {
        padding: 40px 250px;
        left: -20px;
    }
}

@media (max-width: 786px) and (max-width: 430px) {
    .h-menu__list {
        left: -70px;
    }
}

@media (max-width: 786px) and (max-width: 380px) {
    .h-menu__list {
        padding: 40px 300px;
        left: -180px;
        top: -720px;
    }
}

@media (max-width: 786px) and (max-width: 302px) {
    .h-menu__list {
        padding: 40px 432px;
        left: -115px;
        top: -720px;
    }
}

@media (max-width: 560px) {
    .header__container {
        padding: 0 15px;
    }
    .search__input {
        padding: 10px 100px 10px 20px;
    }

    .header__menu-body {
        margin-bottom: 40px;
    }

    .header__logo {
        display: inline-block;
    }

    .header__title {
        font-size: 31px;
        width: 200px;
        position: relative;
        top: -10px;
        right: 0;
        padding-right: 10px;
    }

    .black-btn button {
        font-size: 18px;
        padding: 15px 30px;
    }

    .description__title {
        font-size: 35px;
    }

    .white-btn button {
        font-size: 18px;
        padding: 15px 30px;
    }

    .discount__column:first-child {
        margin-bottom: 10px;
    }

    .discount__img {
        float: left;
        max-width: 215px;
        max-height: 215px;
    }

    .discount__text {
        margin-bottom: 15px;
        font-size: 17px;
        width: 100%;
        line-height: 15px;
        font-size: 16px;
        max-width: 170px;
    }

    .pizza {
        padding-top: 25px;
        padding-bottom: 255px;
    }

    .pizza__title {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .pizza__text {
        font-size: 17px;
        line-height: 18px;
        max-width: 250px;
        text-align: justify;
        margin-left: 20px;
        padding: 0 5px;
    }

    .pizza__pizza-full {
        max-width: 250px;
        top: 150px;
        top: 240px;
    }

    .pizza__slice {
        max-width: 150px;
        top: 281px;
        right: 150px;
        top: 371px;
    }

    .comments {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .mail {
        padding: 20px 0;
        padding-top: 10px;
    }

    .mail__title {
        font-size: 40px;
    }

    .mail__text {
        font-size: 20px;
        margin-bottom: 15px;
        line-height: normal;
    }

    .mail__input input {
        font-size: 20px;
        padding: 15px 60px 15px 0px;
    }

    .mail__btn button {
        font-size: 17px;
    }

    .footer__container {
        padding: 0 10px;
    }

    .footer__column_1 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .footer__column_2 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 20px;
    }

    .footer__column_3 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
        margin-right: -18px;
    }

    .footer__column_4 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-right: -18px;
    }

    .footer__title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .footer__text {
        max-width: 150px;
        font-size: 16px;
        line-height: 19px;
    }

    .footer__link {
        font-size: 17px;
        line-height: 10px;
    }
}

@media (max-width: 420px) {
    .discount__img {
        min-width: 165px;
        height: 165px;
    }
}

@media (max-width: 381px) {
    .discount__img {
        min-width: 130px;
        max-height: 130px;
    }
    .search__input {
        right: 0;
        top: 55px;
        padding: 8px 70px 8px 20px;
    }
    .pizza {
        padding-bottom: 235px;
    }

    .pizza__pizza-full {
        top: 210px;
    }

    .pizza__slice {
        top: 341px;
    }

    .comments {
        padding-top: 25px;
    }
}

@media (max-width: 380px) {
    .header__menu-body {
        margin-bottom: 20px;
    }

    .header__logo {
        max-width: 80px;
    }

    .header__title {
        font-size: 28px;
    }

    .header__subtitle {
        font-size: 17px;
    }

    .header__btn button {
        font-size: 17px;
        padding: 10px 20px;
    }

    .header__text {
        font-size: 16px;
    }

    .footer__text {
        font-size: 15px;
        max-width: 130px;
    }

    .footer__icon-column {
        max-width: 200px;
    }

    .footer__icon {
        max-width: 27px;
        max-width: 27px;
    }

    .footer__link {
        font-size: 15px;
    }
}

@media (max-width: 347px) {
    .discount__img {
        display: none;
    }
}


.h-menu__list {
    align-items: center;
}

.link {
    display: flex;
    flex: 1 0 25%;
}

.header__search-img{
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.h-menu__link_search{
    position: relative;
    margin-left: 80px;
-webkit-animation: search 1s infinite;
animation: search 1s infinite;
}
.h-menu__link_search input{
    max-width: 180px;
    border-radius: 20px;
    padding: 12px 10px;
    padding-left: 15px;
    padding-right: 70px;
}

@media(max-width: 1200px){
    .h-menu__link_search {
        margin-left: 70px;
    }
}
.link {
    display: flex;
    flex: 1 0 25%;
}
@media(max-width: 982px) {
    .link {
        display: flex;
        flex: 1 0 95px;
        
    }
    .h-menu__link_search {
        margin-left: 20px;
    }
}
@media(max-width: 786px) {
    .link {
        margin-bottom: 0px;
    }

    .h-menu__link_search {
        margin-left: 0px;
        animation: none;
        -webkit-animation: none;
    }
    .header__search-img {
        position: absolute;
        top: 30%;
    }
}
@media(max-width: 381px){
    .h-menu__list {
        padding: 40px 400px;
        left: -200px;
    }
}

@-webkit-keyframes search {
    0% {
        -webkit-transform-origin: left;
        transform-origin: left;
        position: relative;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        position: relative;
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }

    100% {
        position: relative;
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes search {
    0% {
        -webkit-transform-origin: left;
        transform-origin: left;
        position: relative;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        position: relative;
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }

    100% {
        position: relative;
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
.rotate-stop{
    animation: none;
    -webkit-animation: none;
}
.header__search-img {
    width: 30px;
    height: 30px;
}
.header__search-img img {
   max-width: 100%;
   max-height: 100%;
}
