@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: " Libre Baskerville", "Georgia", "Times New Roman", "Times", "serif";
}

main {
  max-width: 100vw;
  overflow-x: hidden;
}

.logo {
  padding: 5px;
  background-color: #c00;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .logo {
    font-size: 25px;
  }
}
@media (max-width: 576px) {
  .logo {
    font-size: 18px;
  }
}

.bold {
  font-weight: bold;
  font-size: 1.1rem;
}

.red {
  color: #c00;
}

.title {
  line-height: 1.5rem;
  font-size: 20px;
  color: #333;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 150%;
  max-width: 800px;
}
@media (max-width: 768px) {
  .title {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 13px;
  }
}

.text {
  font-size: 1rem;
  line-height: 1.9rem;
  letter-spacing: 0.025em;
  color: #232323;
  max-width: 800px;
}
@media (max-width: 768px) {
  .text {
    line-height: 1.2rem;
  }
}
.text p {
  text-align: justify;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .text p {
    margin-bottom: 3px;
  }
}
.text p:last-child {
  margin-bottom: 0;
}

.header {
  max-width: 100vw;
  overflow-x: hidden;
  padding-top: 130px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .header {
    padding-top: 170px;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .header {
    margin-bottom: 15px;
    padding-top: 140px;
  }
}
.header__top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110px;
  padding: 10px 50px;
  background-color: #fff;
  z-index: 5;
  align-items: center;
  border-bottom: 1px solid rgb(171, 170, 170);
}
@media (max-width: 768px) {
  .header__top {
    padding: 10px 20px;
    height: 150px;
  }
}
@media (max-width: 576px) {
  .header__top {
    height: 120px;
  }
}
@media (max-width: 768px) {
  .header__top .row {
    display: grid;
    grid-template-areas: "title logo" "title burger";
  }
}
.header__burger {
  cursor: pointer;
  width: 15px;
  height: 5px;
  background-color: #c00;
  position: relative;
  z-index: 100001;
}
.header__burger::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 0;
  right: -6px;
  background-color: #c00;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.header__burger span {
  position: relative;
}
.header__burger span::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 4px;
  background-color: #c00;
  left: 0;
  top: 6px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.header__burger span::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 4px;
  background-color: #c00;
  left: 0;
  top: 12px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.header__burger.active {
  background-color: transparent;
}
.header__burger.active::after {
  background-color: transparent;
}
.header__burger.active span::after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  top: 12px;
}
.header__burger.active span::before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
@media (max-width: 768px) {
  .header__burger {
    grid-area: burger;
    justify-self: end;
    align-self: start;
    right: 0;
  }
}
@media (max-width: 768px) {
  .header__logo {
    grid-area: logo;
    justify-self: end;
    align-self: start;
  }
}
.header__title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .header__title-box {
    grid-area: title;
  }
}
.header__title {
  color: #c00;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 1200px) {
  .header__title {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .header__title {
    font-size: 16px;
    max-width: 480px;
  }
}
@media (max-width: 768px) {
  .header__title {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .header__title {
    max-width: 290px;
    font-size: 10px;
  }
}
.header__undertitle {
  text-align: center;
  font-size: 28px;
}
@media (max-width: 992px) {
  .header__undertitle {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .header__undertitle {
    font-size: 18px;
    max-width: 280px;
  }
}
@media (max-width: 576px) {
  .header__undertitle {
    font-size: 16px;
  }
}
.header__subtitle {
  max-width: 450px;
  margin-bottom: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 992px) {
  .header__subtitle {
    font-size: 23px;
  }
}
@media (max-width: 576px) {
  .header__subtitle {
    font-size: 18px;
  }
}
.header__menu {
  width: 400px;
  right: 100px;
  background-color: rgb(59, 55, 55);
  height: 100vh;
  z-index: 3;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  right: -1000px;
  top: 0;
  position: absolute;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.header__menu.active {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  right: 100px;
}
@media (max-width: 768px) {
  .header__menu.active {
    right: 50px;
  }
}
@media (max-width: 576px) {
  .header__menu.active {
    width: 280px;
  }
}
.header__search {
  display: block;
  margin-top: 20px;
  width: 250px;
  height: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px;
}
@media (max-width: 576px) {
  .header__search {
    width: 200px;
  }
}
.header__search:focus {
  border: 1px solid red;
}
.header__menu-box {
  height: 70px;
  padding: 30px;
  margin-bottom: 60px;
}
.header__list {
  height: 110vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 30px;
  overflow: auto;
}
.header__link {
  color: #fff;
}
.header__body .row {
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .header__body .row {
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 20px;
  }
}
.header__info {
  background-color: rgba(0, 0, 0, 0.9019607843);
  padding: 16px 20px;
  position: relative;
  right: -20px;
  border: 1px solid #c00;
}
@media (max-width: 768px) {
  .header__info {
    right: 0;
  }
}
.header__text {
  max-width: 450px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
@media (max-width: 992px) {
  .header__text {
    font-weight: normal;
  }
}
.header__img {
  width: 670px;
  height: 400px;
}
@media (max-width: 992px) {
  .header__img {
    width: 530px;
    height: 270px;
  }
}
@media (max-width: 576px) {
  .header__img {
    width: 350px;
    height: 200px;
  }
}
@media (max-width: 376px) {
  .header__img {
    width: 295px;
    height: 150px;
  }
}
.header__img img {
  width: 100%;
  height: 100%;
}

.desacription {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .desacription {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .desacription {
    margin-bottom: 15px;
  }
}
.desacription__img {
  width: 285px;
  height: 329px;
  float: left;
  margin: 10px 10px 10px 0px;
}
@media (max-width: 576px) {
  .desacription__img {
    width: 100%;
    height: auto;
  }
}
.desacription__img img {
  width: 100%;
  height: 100%;
}

.result {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .result {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .result {
    margin-bottom: 15px;
  }
}
.result__title_bottom {
  margin-bottom: 20px;
  max-width: 520px;
}
.result section {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .result section {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .result section {
    margin-bottom: 15px;
  }
}
.result section:last-child {
  margin-bottom: 0;
}
.result__img {
  max-width: 800px;
}
.result__img img {
  width: 100%;
}
.result__text {
  margin-bottom: 30px;
}
.result__text_bottom {
  max-width: 520px;
}
.result__bottom .row {
  flex-wrap: nowrap;
  align-items: start;
  justify-content: start;
}
@media (max-width: 576px) {
  .result__bottom .row {
    flex-direction: column;
  }
}
.result__img-left {
  width: 280px;
  height: 500px;
}
@media (max-width: 992px) {
  .result__img-left {
    height: auto;
  }
}
@media (max-width: 576px) {
  .result__img-left {
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }
}
.result__img-left img {
  width: 100%;
  height: 100%;
}
.result__info {
  margin-left: 10px;
}

.friends {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .friends {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .friends {
    margin-bottom: 15px;
  }
}
.friends__title {
  max-width: 800px;
}
.friends__title span {
  display: inline-block;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .friends__title span {
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .friends__title span {
    margin-bottom: 10px;
  }
}
.friends__text {
  max-width: 800px;
  text-align: justify;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .friends__text {
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .friends__text {
    margin-bottom: 10px;
  }
}
.friends__img {
  max-width: 800px;
}
.friends__img img {
  width: 100%;
}

.questions {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .questions {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .questions {
    margin-bottom: 15px;
  }
}
.questions__title {
  max-width: 800px;
  margin-bottom: 20px;
}
.questions__subtitle {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .questions__subtitle {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .questions__subtitle {
    margin-bottom: 10px;
  }
}
.questions__item {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .questions__item {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .questions__item {
    margin-bottom: 15px;
  }
}
.questions__undertitle {
  margin-bottom: 5px;
}
.sell {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .sell {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .sell {
    margin-bottom: 15px;
  }
}
.sell__img {
  width: 350px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
}
@media (max-width: 768px) {
  .sell__img {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .sell__img {
    margin-bottom: 15px;
  }
}
@media (max-width: 390px) {
  .sell__img {
    width: 70%;
    height: auto;
  }
}
.sell__img img {
  width: 100%;
  height: 100%;
}
.sell__img-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Arial", sans-serif;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 30px;
  width: 175px;
  height: 98px;
  text-align: center !important;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.3;
  transform: rotateZ(-7deg);
  background: linear-gradient(to right, rgb(238, 165, 19) 0%, rgb(253, 237, 19) 100%);
  border: 2px solid rgb(255, 255, 255);
  -o-border-image: initial;
     border-image: initial;
  border-radius: 19%;
  -webkit-border-radius: 19%;
  -moz-border-radius: 19%;
  -ms-border-radius: 19%;
  -o-border-radius: 19%;
}
.sell__img-text .row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sell__img-text span:nth-child(1) {
  font-size: 18px;
  margin-top: 9px;
}
.sell__img-text span:nth-child(2) {
  text-decoration: line-through;
}
.sell__img-text span:nth-child(3) {
  border-bottom: 2px solid #d31812;
  font-size: 25px;
  width: 185px;
}
@media (max-width: 576px) {
  .sell__img-text {
    width: 165px;
    bottom: 20px;
  }
  .sell__img-text span:nth-child(1) {
    font-size: 17px;
    margin-top: 9px;
  }
  .sell__img-text span:nth-child(2) {
    text-decoration: line-through;
  }
  .sell__img-text span:nth-child(3) {
    border-bottom: 2px solid #d31812;
    font-size: 22px;
  }
}
@media (max-width: 390px) {
  .sell__img-text {
    right: -20px;
  }
}
.sell__title_sacond {
  margin-bottom: 15px;
}
.sell__time {
  text-align: center;
  margin-bottom: 30px;
  color: #c00;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .sell__time {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .sell__time {
    margin-bottom: 15px;
  }
}
.sell__item {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .sell__item {
    margin-bottom: 10px;
  }
}
.sell__subtitle {
  text-align: center;
  margin-bottom: 10px;
}
.sell__input {
  border: 2px solid grey;
  padding: 10px;
  width: 30%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.sell__input::-moz-placeholder {
  color: #000;
}
.sell__input:-ms-input-placeholder {
  color: #000;
}
.sell__input::placeholder {
  color: #000;
}
@media (max-width: 992px) {
  .sell__input {
    width: 50%;
  }
}
@media (max-width: 530px) {
  .sell__input {
    width: 200px;
  }
}
.sell__btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  margin: 15px 0 40px 0;
  background-color: #de0606;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 576px) {
  .sell__btn {
    font-size: 17px;
    padding: 15px;
    margin-bottom: 25px;
  }
}
.comments {
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .comments {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .comments {
    margin-bottom: 20px;
  }
}
.comments__title {
  margin-bottom: 40px;
}
.comments__block {
  margin-bottom: 60px;
  position: relative;
}
@media (max-width: 768px) {
  .comments__block {
    margin-bottom: 40px;
  }
}
.comments__block:last-child {
  margin-bottom: 0;
}
.comments__block::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 0;
  height: 1px;
  width: 800px;
  background-color: red;
}
.comments__person {
  margin-bottom: 7px;
}
.comments__person .row {
  justify-content: start;
}
.comments__personal {
  font-size: 16px;
  color: #909090;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 768px) {
  .comments__personal {
    display: flex;
    flex-direction: column;
  }
}
.comments__profile-img {
  width: 70px;
  height: 70px;
  margin-left: 20px;
}
.comments__profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.comments__text {
  max-width: 800px;
  font-size: 1rem;
  line-height: 1.9rem;
  letter-spacing: 0.025em;
  color: #232323;
  padding-left: 30px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .comments__text {
    padding-left: 15px;
  }
}
@media (max-width: 768px) {
  .comments__text {
    line-height: 1.2rem;
    margin-bottom: 15px;
  }
}
.comments__added {
  max-width: 770px;
  padding-left: 30px;
}
@media (max-width: 768px) {
  .comments__added {
    padding-left: 15px;
  }
}
.comments__added img {
  width: 100%;
  height: auto;
}
.comments__answer {
  margin-left: 100px;
}
.comments__answer .comments__text {
  max-width: 533.3333333333px;
}
@media (max-width: 768px) {
  .comments__answer {
    margin-left: 50px;
  }
}

.discount {
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .discount {
    padding-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .discount {
    padding-bottom: 15px;
  }
}
.discount__link {
  font: 22px/24px "Roboto", arial, sans-serif;
  background: #d62a2a;
  color: #fff;
  padding: 16px 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  text-transform: uppercase;
  text-align: center;
  min-height: 64px;
  padding-right: 70px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
@media (max-width: 768px) {
  .discount__link {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .discount__link {
    margin-bottom: 15px;
    padding: 10px 6px;
    padding-right: 60px;
    font-size: 16px;
  }
}
.discount__link span {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 45px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #fff;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.discount__link span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 2px;
  width: 20px;
  transform: rotate(23deg) translate(-50%, -50%);
  -webkit-transform: rotate(23deg) translate(-50%, -50%);
  -moz-transform: rotate(23deg) translate(-50%, -50%);
  -ms-transform: rotate(23deg) translate(-50%, -50%);
  -o-transform: rotate(23deg) translate(-50%, -50%);
  background-color: #fff;
}
.discount__link span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 2px;
  width: 20px;
  transform: rotate(-23deg) translate(-50%, -50%);
  -webkit-transform: rotate(-23deg) translate(-50%, -50%);
  -moz-transform: rotate(-23deg) translate(-50%, -50%);
  -ms-transform: rotate(-23deg) translate(-50%, -50%);
  -o-transform: rotate(-23deg) translate(-50%, -50%);
  background-color: #fff;
}
.discount__link:hover {
  box-shadow: 10px 10px 20px #d62a2a;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.footer {
  color: #fff;
  background: #2b3139;
  padding: 40px 0;
}
@media (max-width: 992px) {
  .footer {
    padding: 30px 0;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 20px 0;
  }
}
.footer__logo {
  padding: 5px;
  background-color: #c00;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 992px) {
  .footer__logo {
    grid-area: footer-logo;
    display: inline-block;
  }
}
@media (max-width: 576px) {
  .footer__logo {
    font-size: 20px;
    width: 110px;
  }
}
@media (max-width: 992px) {
  .footer__politica {
    grid-area: politica;
    align-self: start;
  }
}
.footer__social {
  width: 200px;
}
@media (max-width: 992px) {
  .footer__social {
    grid-area: icons;
  }
}
@media (max-width: 576px) {
  .footer__social {
    width: 150px;
    justify-self: end;
  }
}
.footer__container {
  max-width: 1190px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .footer__container {
    padding: 0 10px;
  }
}
.footer__info {
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .footer__info > .row {
    display: grid;
    grid-template-areas: "politica footer-logo" "politica icons";
    row-gap: 10px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 576px) {
  .footer__info > .row {
    grid-template-areas: "footer-logo icons" "politica politica";
    row-gap: 20px;
  }
}
.footer__icon {
  z-index: 5;
  width: 30px;
  height: 30px;
}
.footer__icon img {
  width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  .footer__data {
    position: relative;
    top: -40px;
  }
}
@media (max-width: 576px) {
  .footer__data {
    top: 0;
  }
}

.back__btn {
  position: relative;
  background-color: #de0606;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  width: 280px;
  display: inline-block;
}
@media (max-width: 576px) {
  .back__btn {
    font-size: 17px;
    padding: 15px;
    margin-bottom: 25px;
    max-width: 230px;
  }
}
.back__form {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 576px) {
  .back__title {
    font-size: 18px;
  }
}
.back__item {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .back__item {
    margin-bottom: 10px;
  }
}
.back__subtitle {
  text-align: center;
  margin-bottom: 10px;
}
.back__input {
  border: 2px solid grey;
  padding: 10px;
  width: 280px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.back__input::-moz-placeholder {
  color: #000;
}
.back__input:-ms-input-placeholder {
  color: #000;
}
.back__input::placeholder {
  color: #000;
}
@media (max-width: 576px) {
  .back__input {
    max-width: 230px;
  }
}