// @mixin font($font_name, $file_name, $weight, $style) {

//     @font-face {
//         font-family: $font_name;
//         font-display: swap;
//         src: url("../fonts/#{$file_name}.woff") format("woff"),
//         url("../fonts/#{$file_name}.woff2") format("woff2");
//         font-weight: #{$weight};
//         font-style: #{$style};
//     }
// }
@font-face {
    font-family: reey;
    src: url('../fonts/reey-regular.eot');
    src: local('☺'), url('../fonts/reey-regular.woff') format('woff'), url('../fonts/reey-regular.ttf') format('truetype'), url('fonts/reey-regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "nullstyle";

.page{
    overflow: auto;
}
@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

// @mixin font($font_name, $file_name, $weight, $style) {

//     @font-face {
//         font-family: $font_name;
//         font-display: swap;
//         src: url("../fonts/#{$file_name}.woff") format("woff"),
//         url("../fonts/#{$file_name}.woff2") format("woff2");
//         font-weight: #{$weight};
//         font-style: #{$style};
//     }
// }


.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: 30px;
    @media (max-width: 982px) {
        padding-top: 15px;
    }

    &__container {
        max-width: 1170px;
        padding: 0 50px;
        margin: 0 auto;
        @media (max-width: 786px) {
            
            padding: 0 30px;
        }
        @media (max-width: 560px) {
           padding: 0 15px;
        }
    }

    &__menu-body {
        max-width: 795px;
        margin-left: 350px;
        margin-bottom: 0px;
        @media (max-width: 1200px) {
            max-width: 650px;
            margin-left: 280px;
        }
         @media (max-width: 982px) {
             margin-left: 150px;
         }
         @media (max-width: 786px) {
             margin-bottom: 60px;
             margin-left: 0;
         }

         @media (max-width: 560px) {
             margin-bottom: 40px;
         }
         @media (max-width: 380px) {
             margin-bottom: 20px;
         }
    }

    &__menu {
        max-width: 548px;
        @media (max-width: 1200px) {
            max-width: 480px;
        }
        @media (max-width: 786px) {
        }
        
    }

    &__burger {}

    &__search {
        padding: 12px 32px 9px 121px;
        background-color: #fff;
        border-radius: 15px;
        animation: search 1s  infinite;
        @keyframes search {
            0%{
                transform-origin: left;
                position: relative;
                transform: rotate(0deg);
            }

            50% {
                position: relative;
                transform-origin: left;
                transform: rotate(3deg);
            }

            100% {
                position: relative;
                transform-origin: left;
                transform: rotate(0deg);
            }

            

            // 40% {
            //     position: relative;
            //     transform-origin: left;
            //     transform: rotate(0deg);
            // }

            // 60% {
            //     position: relative;
            //     transform-origin: left;
            //     transform: rotate(5deg);
            // }

            // 80% {
            //     position: relative;
            //     transform-origin: left;
            //     transform: rotate(10deg);
            // }

            // 100% {
            //     position: relative;
            //     transform-origin: left;
            //     transform: translateY(5px);
            // }
        }

        @media (max-width: 1200px) {
            padding-left: 80px;
        }

        @media (max-width: 786px) {
            padding-left: 32px;
        }
    }

    &__logo {
        /* Style for "Place Your" */
        @media (max-width: 786px) {
            order: 1;
        }
        max-width: 136px;
        max-height: 109px;
        margin-bottom: 60px;
        margin-top: -60px;
        @media (max-width: 982px) {
           max-width: 100px;
        }
        @media (max-width: 786px) {
            margin-top: 0;
        }
         @media (max-width: 560px) {
            display: inline-block;
         }
         @media (max-width: 380px) {
             max-width: 80px;
         }
        
        img{
            width: 100%;
            height: 100%;
        }

    }

    &__title {
        text-shadow: 0 5px 5px rgba(84, 82, 79, 0.22);
        color: #ffffff;
        font-family: 'Reey';
        font-size: 92px;
        font-weight: 400;
        font-style: italic;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        margin-bottom: 40px;
        font-size: 80px;
        @media (max-width: 1200px) {
            font-size: 70px;
            margin-bottom: 80px;
            //margin-top: -50px;
            position: relative;
            top: -20px;
        }

        @media (max-width: 786px) {
            font-size:45px;
            margin-left: 40%;
            margin-top: -100px;
            margin-bottom: 70px;
        }

        @media (max-width: 560px) {
             font-size: 31px;
            // margin-top: -100px;
            // margin-left: 41%;
            //display: inline-block;
            width: 200px;
            position: relative;
            top: -10px;
            //margin-bottom: 0;
            right: 0;
            padding-right: 10px;
        }
        @media (max-width: 380px) {
            font-size: 28px;
        }
    }

    &__subtitle {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 25px;
        font-weight: 700;
        font-style: italic;
        letter-spacing: normal;
        line-height: normal;
        text-align: justify;
        text-transform: uppercase;
        margin-bottom: 20px;
        @media (max-width: 380px) {
            font-size: 17px;
        }
    }

    &__btn {
        margin-bottom: 20px;
        
        button{
            padding: 14px 37px;
            color: #2e3034;
            font-family: "Open Sans";
            font-size: 20px;
            font-weight: 900;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: center;
            text-transform: uppercase;
            border-radius: 25px;
            @media (max-width: 380px) {
                font-size: 17px;
                padding: 10px 20px;
            }
        }
    }

    &__text {
        
        max-width: 475px;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 21px;
        font-style: italic;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        @media (max-width: 786px) {
            max-width: 250px;
        }

        @media (max-width: 380px) {
            font-size: 16px;
        }
    }

    &__bg {

        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -10;
        img{
            width: 100%;
            height: 100%;
        }
        &_1 {}
    }
}

.h-menu {

    &__list {
        display: flex;
        justify-content: space-between;
        width: 400px;
        @media (max-width: 982px) {
            width: 350px;
        }
    }   

    &__link {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        //line-height: normal;
        text-align: left;
        transition: all 0.5s;
        @media (max-width: 786px) {
            font-size: 30px;
        }
        &:hover{
            transform: scale(1.3);
        }
        a{
            color: #fff;
        }
    }
}

.list {}
.header {

    &__spagetty {
        position: absolute;
        max-width: 500px;
        max-width: 500px;
        top: 15%;
        right: 58px;
       z-index: -5;

       @media (max-width: 1200px) {
           width: 400px;
           height: 400px;
           right: 7%;
       }
       @media (max-width: 982px) {
           right: 8%;
           top: 20%;
           width: 300px;
           height: 300px;
       }

       @media (max-width: 786px) {
           top: 30%;
           right: 3%;
       }
        img{
            width: 100%;
            height: 100%;
        }
    }

    &__porigge {
        position: absolute;
        width: 293px;
        height: 290px;
        top: 60%;
        right: 39%;
        z-index: -5;
        @media (max-width: 1200px) {
            right: 35%;
            top: 50%;
            width: 250px;
            height: 250px;
        }

        @media (max-width: 786px) {
            display: none;
        }
        // @media (max-width: 982px) {
        //     right: 35%;
        //     top: 40%;
        //     width: 250px;
        //     height: 250px;
        // }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__list {
        position: absolute;
        width: 500px;
        height: 370px;
        top: 70%;
        right: -60px;
        z-index: -5;
        @media (max-width: 1200px) {
            width: 400px;
           // height: 280px;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.link {}
.page{
    overflow: hidden;
}

.italian-food {

    padding: 35px 0px 50px 0px;
    @media (max-width: 786px) {
        padding: 20px 0;
    }
    &__container {
        max-width: 1170px;
        margin: 0 auto;

        @media (max-width: 982px) {
            padding: 0 20px;
        }
    }

    &__title {
        margin-top: 35px;
        text-align: center;
        margin-bottom: 38px;
        color: #222328;
        font-family: Reey;
        font-size: 75px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        @media (max-width: 1200px) {
             font-size: 65px;
             margin-bottom: 30px;
        }
        @media (max-width: 982px) {
            font-size: 55px;
            margin-bottom: 20px;
        }
        @media (max-width: 786px) {
            font-size: 40px;
            margin-bottom: 25px;
        }
        
    }

    &__text {
        max-width: 694px;
        color: #2f3135;
        font-family: "Open Sans";
        font-size: 27px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 57px;
        @media (max-width: 1200px) {
            font-size: 25px;
            margin-bottom: 45px;
        }
        @media (max-width: 982px) {
            margin-bottom: 30px;
        }
        @media (max-width: 786px) {
            font-size: 22px;
            margin-bottom: 20px;
        }
    }

    &__chose {
        max-width: 970px;
        margin: 0 auto;
        margin-bottom: 61px;

        @media (max-width: 1200px) {
            max-width: 800px;
            margin-bottom: 40px;
        }
        @media (max-width: 982px) {
            max-width: 700px;

        }
        
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0 45px;
    }

    &__column {
        margin: 0 -45px;
        @media (max-width: 786px) {
           display: inline-flex;
           flex-direction: column;
           flex: 0 1 100%;
           margin: 0 auto;
           margin-bottom: 15px;
        }
    }

    &__btn {
        text-align: center;
    }
}

.block {

    &__img {
        max-width: 234px;
        max-height: 222px;
        //box-shadow: 0 25px 24px rgba(12, 13, 12, 0.35);
        margin-bottom: 33px;
        margin-left: -5%;

        @media (max-width: 982px) {
            // max-width: 100px;
            // max-width: 100px;
            margin-left: -7%;

        }

        @media (max-width: 786px) {
            margin: 0 auto;
            margin-bottom: 15px;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        margin-bottom: 15px;
        color: #343434;
        font-family: "Open Sans";
        font-size: 29px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        max-width: 190px;
        @media (max-width: 982px) {
            
            font-size: 23px;
            max-width: 170px;
        }
        @media (max-width: 786px) {
           margin: 0 auto;
           margin-bottom: 10px;
        }
    }

    &__text {
        max-width: 299px;
        color: #343434;
        font-family: "Open Sans";
        font-size: 23px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        display: flex;
        flex: 1 0 100%;
        @media (max-width: 982px) {
            
            max-width: 150px;
            font-size: 20px;
        }
        @media (max-width: 786px) {
            margin: 0 auto;
            max-width: 320px;
            padding: 0 10px;
            text-align: justify;
        }
    }
}

.black-btn {
    button {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 23px;
        font-weight: 900;
        font-style: normal;
        letter-spacing: normal;
        line-height: 21.01px;
        text-align: left;
        text-transform: uppercase;
        padding: 28px 71px 29px 80px;
        border-radius: 20px;
        background-color: #343434;
        transition: all 0.5s;
        border: solid 1px #fff;
        &:hover{
            color: #343434;
            border: solid 1px #343434;
            background-color: #fff;
            box-shadow: 0 0 5px #343434;
        }
        @media (max-width: 982px) {
            font-size: 20px;
            padding: 20px 50px;
        }
        @media (max-width: 560px) {
            font-size: 18px;
            padding: 15px 30px;
        }
        
    }
}
.description {

    padding: 40px 0;
    background-color: #27292c;
    @media (max-width: 982px) {
        padding: 20px 0px;
    }
    &__container {
        max-width: 1170px;
        margin: 0 auto;

        @media (max-width: 982px) {
            padding: 0 20px;
        }
    }

    &__title {
        text-align: center;
        color: #ffffff;
        font-family: Reey;
        font-size: 75px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        //line-height: 52.13px;
        text-align: center;
        margin-bottom: 80px;
        margin-top: 40px;

        @media (max-width: 982px) {
            font-size: 60px;
            margin-bottom: 60px;
            margin-top: 30px;
        }
        @media (max-width: 786px) {
            font-size: 45px;
            margin-bottom: 45px;
            
        }

        @media (max-width: 560px) {
            font-size: 35px;
        }
    }

    &__text {
        max-width: 910px;
        margin: 0 auto;
        margin-bottom: 50px;
        @media (max-width: 982px) {
           max-width: 700px;
        }

        @media (max-width: 786px) {
            margin-bottom: 25px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__left-text {
        max-width: 400px;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: justify;

        @media (max-width: 982px) {
           max-width: 300px;
        }
        @media (max-width: 786px) {
            max-width: 600px;
            margin-bottom: 15px;
        }
    }
    &__right-text {
        max-width: 400px;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: justify;
        @media (max-width: 982px) {
            max-width: 300px;
        }
        @media (max-width: 786px) {
            max-width: 600px;
        }
    }

    &__btn {}
}

.white-btn {
    text-align: center;
    button {
        padding: 19px 57px;
        color: #27292c;
        font-family: Montserrat;
        font-size: 26px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        border-radius: 20px;
        background-color: #fefefe;
        border: solid 1px #27292c;
        transition: all 0.5s;
        &:hover{
            color: #fff;
            background: #27292c;
            border: solid 1px #fff;
            box-shadow: 0 0 5px #fff;
        }
        @media (max-width: 982px) {
            font-size: 20px;
            padding: 20px 50px;
        }

        @media (max-width: 560px) {
            font-size: 18px;
            padding: 15px 30px;
        }
    }
}
.discount {
    padding: 50px 0;
    @media (max-width: 786px) {
        padding: 25px 0;
    }

    &__container {
        max-width: 1170px;
        margin: 0 auto;
        @media (max-width: 1200px) {
            padding: 0 20px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__column {
        display: flex;
        flex-direction: column;
        flex: 0 1 50%;
        &:first-child{
            margin-bottom: 80px;
            @media (max-width: 982px) {
                margin-bottom: 40px;
            }

            @media (max-width: 786px) {
                margin-bottom: 20px;
            }
            @media (max-width: 560px) {
                margin-bottom: 10px;
            }
        }
    }

    &__img {
        display: flex;
        flex: 0 1 50%;
        max-width: 500px;
        max-width: 500px;
        @media (max-width: 560px) {
            float: left;
            max-width: 215px;
            max-height: 215px;
        }

        @media (max-width: 420px) {
            min-width: 165px;
            height: 165px;
        }

        @media (max-width: 381px) {
            min-width: 130px;
            max-height: 130px;
        }
        @media (max-width: 347px) {
            display: none;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }

    &__info {}

    &__title {
        margin-bottom: 35px;
        width: 533px;
        color: #27292c;
        font-family: "Open Sans";
        font-size: 48px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        @media (max-width: 1200px) {
            font-size: 35px;
            margin-bottom: 30px;
        }
        @media (max-width: 982px) {
            max-width: 450px;
            font-size: 28px;
            margin-bottom: 20px;
        }
        @media (max-width: 982px) {
            max-width: 350px;
        }

        @media (max-width: 786px) {
            max-width: 200px;
            font-size: 20px;
            margin-bottom: 15px;
        }
    }

    &__text {
        /* Style for "Lorem ipsu" */
        max-width: 505px;
        margin-bottom: 30px;
        color: #27292c;
        font-family: "Open Sans";
        line-height: 10px;
        font-size: 25px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 23.63px;
        text-align: left;

        
        @media (max-width: 1200px) {
            max-width: 450px;
            margin-bottom: 25px;
        }

        @media (max-width: 982px) {
            max-width: 400px;
            margin-bottom: 20px;
            line-height: 20px;
        }
        @media (max-width: 786px) {
            margin-bottom: 15px;
            font-size: 18px;
            max-width: 280px;
        }

        @media (max-width: 560px) {
            margin-bottom: 15px;
            font-size: 17px;
            width: 100%;
            line-height: 15px;
            font-size: 16px;
            max-width: 170px;
        }
        &_2 {
            @media (max-width: 560px) {

                //margin-left: -20px;
            }
        }
    }

    &__btn {}

    &__order-1 {
        order: 2;
        float: right;
    }

    &__order-2 {
        order: 1;
    }
}

.black-btn {}
.pizza {
    padding: 100px 0 600px 0;
    position: relative;
    width: 100%;
    height: 100%;

    @media (max-width: 982px) {
        padding-bottom: 450px;
        padding-top: 70px;
    }

    @media (max-width: 786px) {
        padding-top: 45px;
        padding-bottom: 380px;
    }

    @media (max-width: 560px) {
        padding-top: 25px;
        padding-bottom: 255px;
    }

    @media (max-width: 381px) {
        padding-bottom: 235px;
    }
    &__container {}

    &__title {
        text-align: center;
        color: #f8f6f1;
        font-family: Reey;
        font-size: 58px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        margin-bottom: 50px;

        @media (max-width: 982px) {
            font-size: 45px;
            margin-bottom: 35px;
        }

        @media (max-width: 786px) {
            font-size: 30px;
            margin-bottom: 25px;
        }
        @media (max-width: 560px) {
            font-size: 25px;
            margin-bottom: 15px;
        }
    }

    &__text {
        max-width: 706px;
        margin: 0 auto;
        color: #f8f6f1;
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 33.33px;
        text-align: center;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            bottom: -40px;
            left: 50%;
            width: 162px;
            height: 11px;
            background-color: #fafafa;
            transform: translateX(-50%);

            @media (max-width: 982px) {
                display: none;
            }

        }
        @media (max-width: 982px) {
            font-size: 23px;
            line-height: 28px;
        }

        @media (max-width: 786px) {
            font-size: 20px;
            line-height: 23px;
        }
        @media (max-width: 560px) {
            font-size: 17px;
            line-height: 18px;
            max-width: 250px;
            text-align: justify;
            margin-left: 20px;
            padding: 0 5px;
        }
        
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -50;
        img{
            width: 100%;
            height: 100%;
        }
    }

    &__big-list {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        left: 0;
        top: -6%;
        z-index: -48;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__pizza-full {
        position: absolute;
        max-width: 600px;
        max-height: 600px;
        right: 150px;
        top: 400px;
        z-index: -48;
        @media (max-width: 982px) {
            top: 270px;
            max-width: 500px;
            right: 50px;
        }

        @media (max-width: 786px) {
            max-width: 400px;
            right: 0;
            top: 220px;
        }
        @media (max-width: 560px) {
            max-width: 250px;
            top: 150px;
            top: 240px;
        }

        @media (max-width: 381px) {
            top: 210px;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__slice {
        position: absolute;
        max-width: 600px;
        max-height: 600px;
        right: 515px;
        top: 720px;
        z-index: -48;
        @media (max-width: 982px) {
            top: 640px;
            max-width: 300px;
            top: 520px;
            right: 330px;
        }

        @media (max-width: 786px) {
            top: 430px;
            max-width: 230px;
            right: 240px;
        }
        @media (max-width: 560px) {
            max-width: 150px;
            top: 281px;
            right: 150px;
            top: 371px;
        }

        @media (max-width: 381px) {
           top: 341px;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.white {

    padding: 100px 0;
    padding-top: 180px;
    @media (max-width: 1200px) {
        padding-bottom: 80px;
        padding-top: 150px;
    }
    @media (max-width: 982px) {
        padding-top: 90px;
        padding-bottom: 50px;
    }

    @media (max-width: 786px) {
        padding-top: 70px;
        padding-bottom: 30px;;
    }

    @media (max-width: 560px) {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    @media (max-width: 381px) {
        padding-top: 25px;
    }
    &__container {
        max-width: 970px;
        margin: 0 auto;
        @media (max-width: 1200px) {
            padding: 0 20px;
        }

        @media (max-width: 982px) {
            padding: 0 10px;
        }
    }

    &__box {
        margin-bottom: 100px;
        @media (max-width: 1200px) {
            margin-bottom: 70px;
        }
        @media (max-width: 982px) {
            margin-bottom: 30px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 20px;
        flex-wrap: wrap;
    }

    &__column {
        margin: 0 -20px;
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    &__title {
        color: #393939;
        font-family: Reey;
        font-size: 42px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 33.24px;
        text-align: center;
        margin-bottom: 30px;
        @media (max-width: 1200px) {
            font-size: 35px;
            margin-bottom: 25px;
        }

        @media (max-width: 982px) {
            font-size: 30px;
            margin-bottom: 20px;
            line-height: 28px;
        }

        @media (max-width: 786px) {
            text-align: left;
        }
    }

    &__text {
        max-width: 332px;
        color: #333d42;
        font-family: "Open Sans";
        font-size: 19px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24.93px;
        text-align: left;
        @media (max-width: 1200px) {
            max-width: 300px;
            font-size: 18px;
        }

        @media (max-width: 982px) {
            max-width: 230px;
            font-size: 17px;
            line-height: 20px;
            text-align: justify;
        }

        @media (max-width: 786px) {
            max-width: 600px;
        }
    }

    &__subtext {
        max-width: 792px;
        color: #3f3f3f;
        font-family: "Open Sans";
        font-size: 25px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;
        @media (max-width: 982px) {
            font-size: 20px;
            margin-bottom: 25px;
        }

        @media (max-width: 786px) {
            text-align: left;
            margin-bottom: 20px;
        }
    }

    &__subtitle {
        color: #3f3f3f;
        font-family: "Open Sans";
        font-size: 21px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 33.33px;
        text-align: center;
    }
}
.mail {
    padding: 150px 0;
    background-color: #27292c;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    @media (max-width: 1200px) {
        padding: 100px 0;
    }

    @media (max-width: 982px) {
        padding: 70px 0;
        padding-top: 50px;
    }
    @media (max-width: 786px) {
        padding: 40px 0;
        padding-top: 20px;
    }

    @media (max-width: 560px) {
        padding: 20px 0;
        padding-top: 10px;
    }
    &__container {
        max-width: 970px;
        margin: 0 auto;
        z-index: 2;
    }

    &__title {
        z-index: 2;
        margin-bottom: 50px;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 75px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;

        @media (max-width: 1200px) {
            font-size: 70px;
            margin-bottom: 20px;
        }

        @media (max-width: 786px) {
            font-size: 55px;
            margin-bottom: 0;
        }

        @media (max-width: 560px) {
            font-size: 40px;
        }
    }

    &__text {
        max-width: 890px;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 30px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;

        @media (max-width: 786px) {
            font-size: 25px;
            margin-bottom: 30px;
            text-align: justify;
            margin-left: 10px;
            padding: 0 5px;
        }

        @media (max-width: 560px) {
            font-size: 20px;
            margin-bottom: 15px;
            line-height: normal;
        }
    }

    &__form {
        max-width: 770px;
        margin: 0 auto;
        z-index: 2;
        @media (max-width: 982px) {
            max-width: 600px;
        }

        @media (max-width: 786px) {
            max-width: 550px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        @media (max-width: 786px) {
            flex-direction: column;
        }
    }

    &__input {
        @media (max-width: 786px) {
            width: 100%;
            display: block;
            text-align: left;
            margin-left: 15px;
        }
        input {
            padding: 20px 300px 20px 35px;
            color: #54524f;
            font-family: "Open Sans";
            font-size: 25px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            //line-height: normal;
            text-align: center;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
            background-color: #fff;

            @media (max-width: 982px) {
                padding: 20px 200px 20px 30px;
            }
            @media (max-width: 786px) {
                padding: 15px 130px 15px 20px;
                border-radius: 40px;
                margin-bottom: 10px;
            }

            @media (max-width: 560px) {
                font-size: 20px;
                padding: 15px 60px 15px 0px;
            }
            &::placeholder {
                opacity: 0.68;
            }
        }
        
    }

    &__btn {
        position: relative;
        left: -100px;
        display: inline-block;
        cursor: pointer;

        @media (max-width: 786px) {
            left: 0;
            display: block;
            text-align: left;
            width: 100%;
            margin-left: 15px;
        }
        button {
            cursor: pointer;
            border-radius: 40px;
            color: #ffffff;
            font-family: "Open Sans";
            font-size: 25px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            text-transform: uppercase;
            background-color: #54524f;
            padding: 20px 40px;
            @media (max-width: 786px) {
                padding: 10px 20px;
                font-size: 20px;
                
            }

            @media (max-width: 560px) {
               font-size: 17px;
            }
        }
    }

    &__bh-list {
        position: absolute;
        width: 90%;
        height: 140%;
        left: 0;
        top: -70px;
        z-index: -10;
        img{
            width: 100%;
            height: 100%;
        }
        //z-index: -5;

    }
}
.footer {

    padding: 100px 0;

    @media (max-width: 1200px) {
        padding: 70px 0;
    }

    @media (max-width: 982px) {
        padding: 40px 0;
    }
    @media (max-width: 786px) {
        padding: 25px 0;
    }
    &__container {
        max-width: 1170px;
        margin: 0 auto;

        @media (max-width: 1200px) {
            padding: 0 20px;
        }

        @media (max-width: 560px) {
            padding: 0 10px;
        }

    }

    &__row {
        display: flex;
        //justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__column {

        &_1 {
            flex: 0 1 auto;
            margin-right: 50px;
             @media (max-width: 982px) {
                 flex: 0 1 50%;
                 margin-right: 0;
                 margin-bottom: 15px;
             }

             @media (max-width: 560px) {
                 order: 3;
             }
        }

        &_2 {
            flex: 0 1 20%;
             @media (max-width: 982px) {
                 flex: 0 1 50%;
                 margin-bottom: 15px;
                 text-align: right;
             }
           @media (max-width: 560px) {
               order: 1;
               margin-bottom: 20px;
           }
        }

        &_3 {
            flex: 0 1 20%;

            @media (max-width: 1200px) {
                margin-left: 15px;
            }

            @media (max-width: 982px) {
                flex: 0 1 50%;
                margin-left: 0;
            }

            @media (max-width: 560px) {
                order: 4;
                //margin-left: -5px;
                margin-right: -18px;
            }
        }

        &_4 {
            flex: 0 1 20%;
             @media (max-width: 982px) {
                 flex: 0 1 50%;
             }

             @media (max-width: 560px) {
                 order: 2;
                 margin-right: -18px;
             }
        }
    }

    &__title {
        margin-bottom: 30px;
        color: #343434;
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;

        @media (max-width: 1200px) {
            margin-bottom: 25px;
        }

        @media (max-width: 786px) {
            margin-bottom: 15px;
        }

        @media (max-width: 560px) {
           font-size: 20px;
           margin-bottom: 10px;
        }
    }

    &__text {
        /* Style for "Lorem ipsu" */
        max-width: 400px;
        color: #343434;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        margin-bottom: 20px;

        @media (max-width: 1200px) {
            max-width: 300px;
            text-align: justify;
        }

        @media (max-width: 786px) {
            max-width: 200px;
            font-size: 18px;
        }

        @media (max-width: 560px) {
            max-width: 150px;
            font-size: 16px;
            line-height: 19px;
        }
        @media (max-width: 380px) {
            font-size: 15px;
            max-width: 130px;
        }
    }

    &__icon-column {
        max-width: 212px;
        @media (max-width: 380px) {
            max-width: 200px;
        }
    }

    &__icon {
        margin-left: 10px;
        max-width: 42px;
        max-height: 42;

        @media (max-width: 786px) {
            max-width: 30px;
            max-width: 30px;
        }

        @media (max-width: 380px) {
            max-width: 27px;
            max-width: 27px;
        }
        &:first-child{
            margin-left: 0;
        }
        img {
            background-color: #000;
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }

    &__list {}

    &__link {
        margin-bottom: 15px;
        &:last-child{margin-bottom: 0;}
        a {
            color: #343434;
        }
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 41.76px;
        text-align: left;
        /* Text style for "H, istory" */
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        a {
            position: relative;
            line-height: normal;
            &::after {
                transition: all 0.7s;
                position: absolute;
                content: '';
                width: 0;
                left: 50%;
                height: 2px;
                bottom: -2px;
                background-color: #343434;
            }

            &:hover {
                &::after {
                    left: 0;
                    width: 100%;
                }
            }
        }
        @media (max-width: 1200px) {
           line-height: 30px;
           margin-bottom: 10px;
        }

        @media (max-width: 786px) {
            line-height: 20px;
            font-size: 18px;

        }

        @media (max-width: 560px) {
            font-size: 17px;
            line-height: 10px;
        }
        @media (max-width: 380px) {
            font-size: 15px;
        }
        
    }
}
