@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header {
  position: absolute;
  z-index: 3;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header {
  position: absolute;
  z-index: 3;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  overflow: hidden;
}

.header {
  position: relative;
  height: 100%;
}

.header__language {
  padding: 18px 0px 17px 0px;
}

.header__eng {
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

.header__eng a {
  color: #fff;
}

.header__contact {
  max-width: 287px;
}

.header__center {
  /* Base style */
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  margin-right: 30px;
}

.header__center a {
  color: #fff;
}

.header__contry {
  /* Base style */
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: right;
}

.header__contry a {
  color: #fff;
}

.header__menu {
  padding: 20px 0;
  background-color: #ffcc00;
  margin-bottom: 60px;
}

.header__logo {
  /* Style for "dhl_logo" */
  width: 134px;
  height: 42px;
}

.header__logo img {
  max-width: 100%;
  max-height: 100%;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0 10px 18px rgba(186, 0, 0, 0.4);
          box-shadow: 0 10px 18px rgba(186, 0, 0, 0.4);
  border-radius: 25px;
  background-color: #ba0000;
  -webkit-animation: more 1s infinite;
          animation: more 1s infinite;
}

@-webkit-keyframes more {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes more {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header__search img {
  max-width: 14px;
  max-height: 15;
}

.header__title {
  color: #ffffff;
  font-family: Poppins;
  font-size: 65px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 55px;
  position: relative;
}

.header__title::after {
  position: absolute;
  /* Style for "line" */
  width: 100px;
  height: 4px;
  background-color: #ffcc00;
  left: 0;
  bottom: -20px;
  content: '';
}

.header__text {
  max-width: 747px;
  color: #ffcc00;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 30px;
}

.header__subtitle {
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}

.header__sub {
  margin-bottom: 30px;
  width: 453px;
}

.header__btn {
  max-width: 362px;
  height: 55px;
}

.header__button_1 button {
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  padding: 15px 25px;
  -webkit-box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
          box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
  border-radius: 25px;
  background-color: #ffcc00;
}

.header__button_2 button {
  color: #ffffff;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 25px;
  border: 2px solid #ffffff;
  background-color: rgba(1, 1, 1, 0);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 654px;
}

.link {
  color: #ba0000;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.link a {
  color: #ba0000;
}

.link::after {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: absolute;
  content: '';
  width: 0;
  height: 4px;
  background-color: #ba0000;
  bottom: -40px;
  left: 50%;
}

.link:hover::after {
  left: 0;
  width: 100%;
}

.header__bg_1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.header__bg_1 img {
  width: 100%;
  height: 100%;
}

.header__bg_2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}

.header__bg_2 img {
  width: 100%;
  height: 100%;
}

.awesome {
  padding: 100px 0;
}

.awesome__m-tite {
  color: #ba0000;
  font-family: Poppins;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 115px;
  position: relative;
}

.awesome__m-tite::after {
  content: 'Services';
  position: absolute;
  color: #f8f8f8;
  font-family: Poppins;
  font-size: 150px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  top: -80px;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 4.5px;
  line-height: normal;
  left: 0;
  z-index: -2;
}

.awesome__row {
  padding: 0 15px;
}

.awesome__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 -15px;
}

.awesome__column_4 {
  background-color: #ba0000;
  padding: 30px;
  max-width: 270px;
}

.awesome__img {
  /* Style for "Layer 2" */
  max-width: 270px;
  max-height: 180px;
  margin-bottom: 30px;
}

.awesome__img img {
  width: 100%;
  height: 100%;
}

.awesome__title {
  color: #ba0000;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.awesome__text {
  max-width: 264px;
  color: #777777;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  overflow: auto;
  height: 70px;
  margin-bottom: 8px;
}

.awesome__row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.awesome__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  color: #222222;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

.awesome__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  color: #222;
  color: #222222;
}

.red-awesome {
  overflow: hidden;
}

.red-awesome__title {
  margin-bottom: 62px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  position: relative;
}

.red-awesome__title::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 70px;
  height: 2px;
  background-color: #ffcc00;
}

.red-awesome__text {
  margin-bottom: 39px;
  max-width: 194px;
  height: 42px;
  overflow: auto;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

.red-awesome__input {
  margin-bottom: 29px;
}

.red-awesome__input input {
  background-color: #9d0000;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  padding: 19px 0px 19px 21px;
}

.red-awesome__btn button {
  color: #ba0000;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 45px;
  -webkit-box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
          box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
  border-radius: 25px;
  background-color: #ffcc00;
}

.video {
  position: relative;
  padding: 150px 0px 380px 0px;
}

.video__title {
  text-align: center;
  color: #ffffff;
  font-family: Poppins;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 50px;
}

.video__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  -webkit-box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
          box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
  border-radius: 35px;
  border: 2px solid #ffcc00;
  background-color: #ffcc00;
  margin: 0 auto;
}

.video__btn button {
  background-color: rgba(1, 1, 1, 0);
}

.video__carts {
  position: absolute;
  left: 50%;
  bottom: -200px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1170px;
}

.video__row {
  padding: 0 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.video__column {
  background-color: #fff;
  -webkit-box-shadow: 0 10px 18px rgba(191, 191, 191, 0.4);
          box-shadow: 0 10px 18px rgba(191, 191, 191, 0.4);
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 -10px;
  max-width: 370px;
}

.video__column:hover {
  top: -18px;
}

.video__img {
  margin-bottom: 30px;
  max-width: 370px;
  max-height: 200px;
}

.video__img img {
  width: 100%;
  height: 100%;
}

.video__subtitle {
  margin-bottom: 30px;
  margin-left: 30px;
  color: #ba0000;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

.video__list {
  margin-left: 30px;
}

.video__link {
  color: #777777;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 14px;
}

.video__link a {
  color: #777777;
}

.video__bg-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.video__bg-1 img {
  width: 100%;
  height: 100%;
}

.video__bg-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.video__bg-2 img {
  width: 100%;
  height: 100%;
}

.anket {
  padding: 307px 0 100px 0;
}

.anket__box {
  background-color: #ba0000;
  padding: 40px 40px 180px 40px;
}

.anket__tub-title {
  height: 50px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  margin-top: -10px;
  margin-bottom: 20px;
  background-color: #ffcc00;
  color: #ba0000;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  /* Text style for "logistics" */
  font-style: normal;
  letter-spacing: 1.4px;
  line-height: normal;
}

.anket__input {
  width: 489px;
  height: 50px;
  border: 2px solid #ffffff;
  background-color: rgba(1, 1, 1, 0);
  color: #ffffff;
  position: relative;
  margin-bottom: 20px;
}

.anket__input input {
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  padding-left: 20px;
  background-color: rgba(1, 1, 1, 0);
}

.anket__input input::-webkit-input-placeholder {
  color: #fff;
}

.anket__input input::-moz-placeholder {
  color: #fff;
}

.anket__input input:-ms-input-placeholder {
  color: #fff;
}

.anket__input input::-ms-input-placeholder {
  color: #fff;
}

.anket__input input::placeholder {
  color: #fff;
}

.anket__input_2 {
  position: relative;
}

.anket__input_3 {
  position: relative;
}

.anket__input-btn {
  border-left: 2px solid #ffffff;
  width: 50px;
  height: 48px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.anket__input-btn_1:hover .anket__form_1 {
  display: block;
}

.anket__input-btn_1:hover .anket__input-btn_1 {
  background-color: #0c2d86;
}

.anket__input-btn_2:hover .anket__form_2 {
  display: block;
}

.anket__input-btn_3:hover .anket__form_3 {
  display: block;
}

.anket__input-btn_4:hover .anket__form_3 {
  display: block;
}

.anket__input-btn::after {
  background: url("../img/bot.png") center/100% no-repeat;
  width: 10px;
  height: 6px;
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.anket__form_1 {
  z-index: 3;
  position: absolute;
  right: -2px;
  top: 48px;
  background-color: #a30000;
  width: 489px;
  border: 2px solid #ffcc00;
  display: none;
  z-index: 3;
}

.anket__form_2 {
  z-index: 3;
  position: absolute;
  right: -2px;
  top: 48px;
  background-color: #a30000;
  width: 489px;
  border: 2px solid #ffcc00;
  display: none;
  z-index: 3;
}

.anket__form_3 {
  z-index: 3;
  position: absolute;
  right: -2px;
  top: 48px;
  background-color: #a30000;
  width: 489px;
  border: 2px solid #ffcc00;
  display: none;
  z-index: 3;
}

.anket__form_4 {
  z-index: 3;
  position: absolute;
  right: -2px;
  top: 48px;
  background-color: #a30000;
  width: 489px;
  border: 2px solid #ffcc00;
  display: none;
  z-index: 3;
}

.anket__f-title {
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}

.anket__f-list {
  padding-top: 20px;
}

.anket__f-link {
  margin-left: 25px;
  padding-left: 20px;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  list-style: none;
  position: relative;
}

.anket__f-link a {
  color: #ffffff;
}

.anket__f-link::after {
  position: absolute;
  content: '';
  border-top: 8px solid #ffcc00;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  left: -5px;
  top: 7px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.anket__image {
  border: 20px solid #ffcc00;
  z-index: -3;
}

.anket__img {
  /* Style for "overley" */
  width: 435px;
  height: 499px;
  position: relative;
}

.anket__img-bg_1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 35px;
  top: 35px;
  z-index: -1;
}

.anket__img-bg_1 img {
  width: 100%;
  height: 100%;
}

.anket__img-bg_2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 35px;
  top: 35px;
  z-index: -1;
}

.anket__img-bg_2 img {
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.show {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.las {
  background-color: #ffcc00;
  border: 2px solid #ffcc00;
}

.h input::-webkit-input-placeholder {
  color: #ba0000;
  font-size: 14px;
}

.h input::-moz-placeholder {
  color: #ba0000;
  font-size: 14px;
}

.h input:-ms-input-placeholder {
  color: #ba0000;
  font-size: 14px;
}

.h input::-ms-input-placeholder {
  color: #ba0000;
  font-size: 14px;
}

.h input::placeholder {
  color: #ba0000;
  font-size: 14px;
}

.simple {
  padding: 100px 0;
  background-color: #ba0000;
}

.simple__title {
  margin-bottom: 40px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}

.simple__text {
  /* Style for "Internatio" */
  max-width: 739px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  line-height: 24px;
}

.simple__btn button {
  color: #ffffff;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 35px;
  border-radius: 25px;
  background-color: #a00000;
  -webkit-animation: bt 1s infinite;
          animation: bt 1s infinite;
}

@-webkit-keyframes bt {
  0% {
    -webkit-box-shadow: 0 0 0px #d14949;
            box-shadow: 0 0 0px #d14949;
  }

  50% {
    -webkit-box-shadow: 0 0 10px #d14949;
            box-shadow: 0 0 10px #d14949;
  }

  100% {
    -webkit-box-shadow: 0 0 0px #d14949;
            box-shadow: 0 0 0px #d14949;
  }
}

@keyframes bt {
  0% {
    -webkit-box-shadow: 0 0 0px #d14949;
            box-shadow: 0 0 0px #d14949;
  }

  50% {
    -webkit-box-shadow: 0 0 10px #d14949;
            box-shadow: 0 0 10px #d14949;
  }

  100% {
    -webkit-box-shadow: 0 0 0px #d14949;
            box-shadow: 0 0 0px #d14949;
  }
}

.footer {
  padding: 70px 0;
}

.footer__row {
  padding: 0 30px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  border: 2px solid rgba(186, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin: 0 -30px;
}

.footer__img {
  /* Style for "themefores" */
  max-width: 237px;
  max-height: 40px;
}

.footer__img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .header__menu {
    margin-bottom: 50px;
  }

  .container {
    padding: 0 20px;
  }

  .awesome__row {
    max-width: 600px;
    margin: 0 auto;
  }

  .awesome__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 30px;
  }

  .video {
    padding: 100px 0px 280px 0px;
  }

  .video__title {
    font-size: 45px;
  }

  .video__carts {
    width: 920px;
  }

  .video__img {
    max-width: 300px;
  }

  .simple {
    padding: 80px 0;
  }

  .simple__title {
    margin-bottom: 35px;
  }
}

@media (max-width: 1085px) {
  .anket__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .anket__box {
    margin-bottom: 20px;
    margin-right: 10px;
  }
}

@media (max-width: 982px) {
  .header__language {
    padding: 10px 0;
  }

  .header__eng {
    line-height: 15px;
  }

  .header__menu {
    padding: 15px 0;
    margin-bottom: 50px;
  }

  .header__title {
    margin-bottom: 60px;
    font-size: 50px;
    margin-top: 90px;
  }

  .list {
    width: 480px;
  }

  .link {
    font-size: 13px;
  }

  .link::after {
    bottom: -33px;
  }

  .awesome {
    padding: 75px 0;
  }

  .awesome__m-tite {
    margin-bottom: 60px;
  }

  .awesome__m-tite::after {
    font-size: 80px;
    top: -30px;
  }

  .video {
    padding: 80px 0px 0px 0px;
  }

  .video__title {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .video__carts {
    position: static;
    left: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    text-align: center;
    width: 100%;
  }

  .video__row {
    display: inline-block;
    margin-top: 50px;
  }

  .video__column {
    margin: 20px 30px;
  }

  .video__img {
    margin-bottom: 20px;
  }

  .video__subtitle {
    margin-bottom: 20px;
  }

  .anket {
    padding: 60px 0 60px 0;
  }

  .anket__box {
    padding: 35px 35px 140px 35px;
    margin-bottom: 20px;
  }

  .simple {
    padding: 60px 0;
  }

  .simple__title {
    margin-bottom: 30px;
    font-size: 25px;
  }

  .simple__text {
    max-width: 550px;
    line-height: 20px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 5px;
  }
}

@media (max-width: 786px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 2;
  }

  .header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #da1313;
    top: 9px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #dd2525;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .h-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header__burger.burger-active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.burger-active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.burger-active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .h-menu {
    position: relative;
  }

  .h-menu__list {
    position: absolute;
    top: -700px;
    left: -40px;
    background-color: #fff;
    padding: 0 400px;
    z-index: 1;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .h-menu__link {
    margin-top: 7px;
    line-height: 40px;
    font-size: 20px;
  }

  .h-menu__list.burger-active {
    top: -85px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 2;
  }

  .header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #da1313;
    top: 9px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #dd2525;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .h-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header__burger.burger-active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.burger-active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.burger-active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .h-menu {
    position: relative;
  }

  .h-menu__list {
    position: absolute;
    top: -700px;
    left: -40px;
    background-color: #fff;
    padding: 0 400px;
    z-index: 1;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .h-menu__link {
    margin-top: 7px;
    line-height: 40px;
    font-size: 20px;
  }

  .h-menu__list.burger-active {
    top: -85px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .header__language {
    display: none;
  }

  .header__menu {
    margin-bottom: 40px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 20;
  }

  .header__column_1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header__column_2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__column_3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .header__title {
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 70px;
    padding-top: 20px;
  }

  .awesome {
    padding: 40px 0;
  }

  .awesome__m-tite {
    margin-bottom: 40px;
  }

  .awesome__m-tite::after {
    font-size: 0;
  }

  .awesome__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 275px;
  }

  .awesome__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .video {
    padding: 60px 0;
  }

  .video__title {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .video__img {
    margin-bottom: 10px;
  }

  .video__subtitle {
    margin-bottom: 10px;
  }

  .anket__box {
    padding: 25px 20px 140px 20px;
  }

  .anket__tub-title {
    margin-bottom: 15px;
    height: 40px;
  }

  .anket__input {
    width: 300px;
    height: 40px;
  }

  .anket__input-btn {
    height: 37px;
  }

  .anket__form_1 {
    width: 300px;
    top: 38px;
  }

  .anket__form_2 {
    width: 300px;
    top: 38px;
  }

  .anket__form_3 {
    width: 300px;
    top: 38px;
  }

  .anket__form_4 {
    width: 300px;
    top: 38px;
  }

  .anket__f-title {
    margin-top: 13px;
  }

  .anket__f-list {
    padding-top: 10px;
  }

  .anket__f-link {
    margin-left: 9px;
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 15px;
  }

  .anket__image {
    border: 8px solid #ffcc00;
  }

  .anket__img {
    width: 370px;
    height: 410px;
  }

  .anket__img-bg_1 {
    left: 0;
    top: 0;
  }

  .anket__img-bg_2 {
    left: 0;
    top: 0;
  }

  .simple {
    padding: 40px 0;
  }

  .simple__title {
    margin-bottom: 20px;
  }

  .simple__text {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 20px;
  }

  .simple__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer {
    padding: 30px 0;
  }
}

@media (max-width: 786px) and (max-width: 500px) {
  .h-menu__list {
    padding: 0 250px;
    left: -20px;
  }

  .h-menu__list {
    padding: 0 250px;
    left: -20px;
  }
}

@media (max-width: 786px) and (max-width: 331px) {
  .h-menu__list {
    padding: 0 100px;
    left: -60px;
    top: -720px;
  }

  .h-menu__list {
    padding: 0 100px;
    left: -60px;
    top: -720px;
  }
}

@media (max-width: 782px) {
  .header__title::after {
    width: 0;
    height: 0;
  }

  .header__text {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .header__subtitle {
    font-size: 18px;
  }

  .header__sub {
    margin-bottom: 20px;
    max-width: 380px;
  }

  .header__button_1 button {
    font-size: 17px;
    padding: 10px 20px;
    margin-bottom: 10px;
  }

  .header__button_2 button {
    font-size: 17px;
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .row__bt-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .anket {
    padding: 40px 0;
  }
}

@media (max-width: 560px) {
  .header__menu {
    margin-bottom: 20px;
  }

  .header__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .header__title {
    margin-bottom: 20px;
    margin-top: 70px;
    padding-top: 20px;
  }

  .header__text {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .header__subtitle {
    font-size: 16px;
  }

  .header__sub {
    margin-bottom: 10px;
    max-width: 280px;
  }

  .video {
    padding: 40px 0;
  }

  .video__title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .simple {
    padding: 20px 0;
  }

  .simple__title {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .footer {
    padding: 20px 0;
  }

  .footer__row {
    padding: 0 10;
  }

  .footer__column {
    padding: 20px 10px;
    margin: 0 -10px;
  }
}

@media (max-width: 420px) {
  .anket__img {
    width: 300px;
    height: 350px;
  }
}

@media (max-width: 380px) {
  .header__menu {
    top: 0;
  }
}

@media (max-width: 360px) {
  .red-awesome {
    padding: 15px;
  }

  .anket {
    padding: 20px 0;
  }

  .anket__box {
    padding-bottom: 110px;
    padding: 20px 10px 110px 10px;
  }

  .anket__input {
    width: 200px;
  }

  .anket__input input {
    font-size: 10px;
  }

  .anket__input-btn {
    width: 30px;
  }

  .anket__form_1 {
    width: 200px;
  }

  .anket__form_2 {
    width: 200px;
  }

  .anket__form_3 {
    width: 200px;
  }

  .anket__form_4 {
    width: 200px;
  }

  .anket__f-title {
    margin-left: 5px;
    margin-top: 9px;
    font-size: 14px;
  }

  .anket__f-link {
    width: 200px;
  }

  .anket__img {
    width: 220px;
    height: 270px;
  }

  .anket__input-btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
  }

  .red-awesome__input {
    max-width: 200px;
  }

  .red-awesome__input input {
    max-width: 180px;
  }
}

@media (max-width: 305px) {
  .header__sub {
    margin-bottom: 10px;
    max-width: 80px;
  }
}

@media (max-width: 290px) {
  .header__logo {
    width: 100px;
  }

  .header__search {
    width: 35px;
    height: 35px;
  }
}

.webp .anket__input-btn::after{ background: url(../img/bot.webp) center/100% no-repeat; }
