@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .header__menu {
    position: absolute;
    top: -500px;
    transition: all 0.5s;
  }
  .header__menu.active {
    top: 0;
    left: 0;
    text-align: center;
    width: 100vw;
    height: 100%;
    background-color: #000;
    z-index: 2;
    padding: 30px 0px 80px 0px;
    height: 100%;
  }
}

body {
  font-family: Montserrat;
}

.header {
  max-width: 100vw;
  overflow-x: hidden;
  margin-bottom: 116px;
}
@media (max-width: 1200px) {
  .header {
    margin-bottom: 100px;
  }
}
@media (max-width: 992px) {
  .header {
    margin-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .header {
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .header {
    margin-bottom: 25px;
  }
}
.header__connection {
  background-color: #c1b093;
  padding: 22px 0px 15px 0px;
}
@media (max-width: 768px) {
  .header__connection .row {
    display: grid;
    grid-template-areas: "adress icons" "number icons";
    row-gap: 5px;
  }
}
@media (max-width: 576px) {
  .header__connection .row {
    row-gap: 20px;
  }
}
.header__adress {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}
@media (max-width: 768px) {
  .header__adress {
    grid-area: adress;
  }
}
@media (max-width: 576px) {
  .header__adress {
    max-width: 230px;
    line-height: 1;
  }
}
.header__number {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}
@media (max-width: 768px) {
  .header__number {
    grid-area: number;
  }
}
@media (max-width: 576px) {
  .header__number {
    max-width: 230px;
    line-height: 1;
  }
}
.header__icons {
  width: 76px;
}
@media (max-width: 768px) {
  .header__icons {
    grid-area: icons;
    display: flex;
    align-self: start;
  }
  .header__icons .row {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .header__icon {
    margin: 0 2.5px;
  }
}
.header__top {
  padding: 23px 0px 14px 0px;
}
.header__top .container {
  padding-right: 20px;
}
.header__logo {
  width: 153px;
  height: 53px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
@media (max-width: 576px) {
  .header__logo {
    width: 90px;
    height: 30px;
  }
}
.header__menu {
  width: 474px;
}
.header__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header__list {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
}
.header__link {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #505050;
}
@media (max-width: 768px) {
  .header__link {
    font-size: 28px;
  }
}
.header__btn {
  opacity: 1;
  color: #505050;
  padding: 10px;
  border: 1px solid #c1b093;
  border-radius: 17.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #505050;
}
@media (max-width: 380px) {
  .header__btn {
    font-size: 14px;
    padding: 9px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    right: 25px;
    top: 65px;
    z-index: 5;
    transition: all 0.5s;
  }
  .header__burger span {
    position: relative;
  }
  .header__burger span::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #fff;
    right: -20px;
    top: -5px;
    transition: all 0.5s;
  }
  .header__burger span::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #fff;
    right: -20px;
    top: 5px;
    transition: all 0.5s;
  }
  .header__burger.active {
    background-color: transparent;
  }
  .header__burger.active span::after {
    transform: rotate(45deg);
    top: 0;
  }
  .header__burger.active span::before {
    transform: rotate(-45deg);
    top: 0;
  }
}
.header__body {
  position: relative;
  width: 100vw;
  padding-top: 40px;
}
.header__container .row {
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .header__container .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
}
@media (max-width: 576px) {
  .header__info {
    max-width: 100%;
  }
}
.header__undertitle {
  font-family: Montserrat;
  font-size: 20px;
  line-height: 64px;
  font-weight: 400;
  color: #505050;
  margin-bottom: 23px;
}
@media (max-width: 1200px) {
  .header__undertitle {
    margin-bottom: 15px;
    line-height: 30px;
  }
}
@media (max-width: 576px) {
  .header__undertitle {
    line-height: 20px;
    margin-bottom: 10px;
  }
}
.header__title {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 65px;
  font-weight: 700;
  color: #505050;
  margin-bottom: 27px;
  width: 704px;
}
@media (max-width: 1200px) {
  .header__title {
    font-size: 25px;
    width: 500px;
    line-height: 40px;
  }
}
@media (max-width: 992px) {
  .header__title {
    max-width: 370px;
  }
}
@media (max-width: 768px) {
  .header__title {
    max-width: 704px;
  }
}
@media (max-width: 576px) {
  .header__title {
    max-width: 100%;
    font-size: 18px;
  }
}
.header__text {
  max-width: 509px;
  font-family: Montserrat;
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  color: #505050;
  margin-bottom: 36px;
}
@media (max-width: 1200px) {
  .header__text {
    max-width: 500px;
  }
}
@media (max-width: 992px) {
  .header__text {
    max-width: 370px;
    margin-bottom: 28px;
  }
}
@media (max-width: 768px) {
  .header__text {
    max-width: 100%;
    margin-bottom: 19px;
  }
}
.header__more {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #a8a8a8;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 23px;
}
@media (max-width: 576px) {
  .header__more {
    padding: 20px;
    font-size: 17px;
    line-height: 23px;
  }
}
.header__man {
  width: 453px;
  height: 654px;
}
.header__man img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .header__man {
    width: 370px;
    height: 500px;
  }
}
@media (max-width: 768px) {
  .header__man {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .header__man {
    width: 280px;
    height: auto;
  }
}
.header__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.header__bg img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .header__options > .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 15px;
    grid-template-areas: "item-1 item-2" "item-4 item-3" "item-5 item-5";
  }
}
@media (max-width: 1200px) and (max-width: 576px) {
  .header__options > .row {
    grid-template-areas: "item-1" "item-2" "item-3" "item-4" "item-5";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
}
.header__item-bg {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 1380px) {
  .header__item-bg {
    height: 260px;
  }
}
@media (max-width: 1200px) {
  .header__item-bg {
    height: 170px;
  }
}
@media (max-width: 768px) {
  .header__item-bg {
    height: 190px;
  }
}
@media (max-width: 576px) {
  .header__item-bg {
    height: 170px;
  }
}
.header__item-bg img {
  width: 100%;
  height: 100%;
}
.header__item {
  position: relative;
  flex: 0 0 20%;
  padding: 40px 40px 87px 45px;
  max-width: 20%;
  height: 300px;
}
.header__item:nth-child(1) {
  grid-area: item-1;
}
.header__item:nth-child(2) {
  grid-area: item-2;
}
.header__item:nth-child(3) {
  grid-area: item-3;
}
.header__item:nth-child(4) {
  grid-area: item-4;
}
.header__item:nth-child(5) {
  grid-area: item-5;
}
@media (max-width: 1380px) {
  .header__item:nth-child(5) .header__item-bg {
    height: 240px;
  }
}
@media (max-width: 1200px) {
  .header__item:nth-child(5) .header__item-bg {
    height: 150px;
  }
}
@media (max-width: 768px) {
  .header__item:nth-child(5) .header__item-bg {
    height: 170px;
  }
}
@media (max-width: 576px) {
  .header__item:nth-child(5) .header__item-bg {
    height: 150px;
  }
}
@media (max-width: 1380px) {
  .header__item {
    padding: 20px 15px 30px 20px;
    height: 240px;
  }
}
@media (max-width: 1200px) {
  .header__item {
    max-width: 100%;
    height: 150px;
  }
  .header__item:nth-child(5) .header__subtext {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .header__item {
    height: 170px;
  }
}
@media (max-width: 576px) {
  .header__item {
    max-width: 100%;
    height: 150px;
  }
}
.header__subtitle {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #353535;
  margin-bottom: 26px;
  height: 55px;
}
@media (max-width: 576px) {
  .header__subtitle {
    height: 30px;
  }
}
.header__subtext {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #353535;
}
@media (max-width: 1380px) {
  .header__subtext {
    line-height: 15px;
    max-width: 384px;
  }
}
@media (max-width: 576px) {
  .header__subtext {
    max-width: 100%;
  }
}

.main {
  max-width: 100vw;
  overflow-x: hidden;
}

.gallery {
  margin-bottom: 129px;
}
@media (max-width: 1200px) {
  .gallery {
    margin-bottom: 100px;
  }
}
@media (max-width: 992px) {
  .gallery {
    margin-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .gallery {
    margin-bottom: 80px;
  }
}
@media (max-width: 576px) {
  .gallery {
    margin-bottom: 95px;
  }
}
.gallery__title {
  margin-bottom: 28px;
  margin-left: 365px;
}
@media (max-width: 1600px) {
  .gallery__title {
    margin-left: 300px;
  }
}
@media (max-width: 1200px) {
  .gallery__title {
    margin-left: 200px;
  }
}
@media (max-width: 992px) {
  .gallery__title {
    margin-bottom: 20px;
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .gallery__title {
    margin-bottom: 15px;
    margin-left: 80px;
  }
}
@media (max-width: 576px) {
  .gallery__title {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
.gallery__subtitle {
  margin-bottom: 43px;
  margin-left: 365px;
}
@media (max-width: 1600px) {
  .gallery__subtitle {
    margin-left: 300px;
  }
}
@media (max-width: 1200px) {
  .gallery__subtitle {
    margin-left: 200px;
  }
}
@media (max-width: 992px) {
  .gallery__subtitle {
    margin-bottom: 20px;
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .gallery__subtitle {
    margin-bottom: 15px;
    margin-left: 80px;
  }
}
@media (max-width: 576px) {
  .gallery__subtitle {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1600px) {
  .gallery__body {
    padding: 0 20px;
  }
}
.gallery__body .row {
  align-items: start;
}
@media (max-width: 1600px) {
  .gallery__body .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.gallery__image {
  width: 958px;
  height: 642px;
  position: relative;
}
@media (max-width: 1830px) {
  .gallery__image {
    width: 700px;
    height: 500px;
  }
}
@media (max-width: 1600px) {
  .gallery__image {
    width: 1180px;
    height: 799px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  .gallery__image {
    width: 940px;
    height: 600px;
  }
}
@media (max-width: 992px) {
  .gallery__image {
    width: 740px;
    height: 460px;
  }
}
@media (max-width: 768px) {
  .gallery__image {
    width: 540px;
    height: 320px;
  }
}
@media (max-width: 576px) {
  .gallery__image {
    width: 380px;
    height: 300px;
  }
}
@media (max-width: 400px) {
  .gallery__image {
    width: 280px;
    height: 180px;
  }
}
.gallery__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.gallery__slider {
  max-width: 860px;
}
@media (max-width: 992px) {
  .gallery__slider {
    max-width: 600px;
  }
}
@media (max-width: 768px) {
  .gallery__slider {
    max-width: 490px;
  }
}
@media (max-width: 576px) {
  .gallery__slider {
    max-width: 300px;
  }
}
.gallery__item {
  gap: 20px;
}
.gallery__img {
  width: 270px;
  height: 270px;
  margin-bottom: 20px;
}
.gallery__img:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .gallery__img {
    width: 190px;
    height: 190px;
  }
}
@media (max-width: 768px) {
  .gallery__img {
    width: 220px;
    height: 220px;
  }
}
@media (max-width: 576px) {
  .gallery__img {
    width: 140px;
    height: 140px;
  }
}
@media (max-width: 400px) {
  .gallery__img {
    width: 130px;
    height: 130px;
  }
}
.gallery__img img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  font-family: Montserrat;
  font-size: 50px;
  line-height: 64px;
  font-weight: 700;
  color: #505050;
}
@media (max-width: 992px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 25px;
    line-height: 30px;
  }
}

.subtitle {
  font-family: Montserrat;
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  color: #505050;
}

.about {
  position: relative;
  padding-left: 376px;
  margin-bottom: 175px;
}
@media (max-width: 1600px) {
  .about {
    padding-left: 200px;
  }
}
@media (max-width: 1200px) {
  .about {
    margin-bottom: 100px;
    padding-left: 140px;
  }
}
@media (max-width: 992px) {
  .about {
    margin-bottom: 70px;
    padding-left: 70px;
  }
}
@media (max-width: 768px) {
  .about {
    margin-bottom: 50px;
    padding-left: 60px;
  }
}
@media (max-width: 576px) {
  .about {
    margin-bottom: 25px;
    padding-left: 0px;
  }
}
.about__title {
  margin-bottom: 49px;
}
@media (max-width: 992px) {
  .about__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .about__title {
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .about__title {
    margin-bottom: 30px;
    margin-left: 20px;
  }
}
.about__span-data {
  position: absolute;
  height: 220px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 220px;
  left: 200px;
  font-family: Montserrat;
  font-size: 30px;
  line-height: 18px;
  font-weight: 900;
  color: #dbd0bb;
}
@media (max-width: 992px) {
  .about__span-data {
    left: 10px;
  }
}
@media (max-width: 768px) {
  .about__span-data {
    flex-direction: row;
    height: 50px;
    width: 200px;
    top: 130px;
  }
}
@media (max-width: 576px) {
  .about__span-data {
    margin-bottom: 5px;
    top: 190px;
  }
}
@media (max-width: 380px) {
  .about__span-data {
    margin-bottom: 5px;
    top: 215px;
  }
}
.about__span-data span:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 375px;
  height: 2px;
  background-color: #dbd0bb;
  top: -20px;
  left: -200px;
}
@media (max-width: 992px) {
  .about__span-data span:nth-child(1)::after {
    width: 800px;
    top: -50px;
  }
}
@media (max-width: 768px) {
  .about__span-data span:nth-child(1)::after {
    top: -10px;
  }
}
.about__span-data span:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 375px;
  height: 2px;
  background-color: #dbd0bb;
  top: 180px;
  left: -200px;
}
@media (max-width: 992px) {
  .about__span-data span:nth-child(2)::after {
    display: none;
  }
}
@media (max-width: 1600px) {
  .about__span-data {
    left: 35px;
  }
}
@media (max-width: 992px) {
  .about__span-data {
    left: 70px;
  }
}
@media (max-width: 992px) {
  .about__body > .row {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .about__body {
    padding-bottom: 80px;
  }
}
@media (max-width: 992px) {
  .about__tab {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .about__tab {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .about__tab {
    margin-bottom: 20px;
  }
}
.about__img {
  position: relative;
  width: 605px;
  height: 909px;
  right: 145px;
}
.about__img::after {
  position: absolute;
  content: "";
  top: 0;
  right: -200px;
  height: 526px;
  background-color: #dbd0bb;
  width: 200px;
}
@media (max-width: 992px) {
  .about__img::after {
    height: 600px;
  }
}
@media (max-width: 576px) {
  .about__img::after {
    height: 629px;
  }
}
.about__img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1790px) {
  .about__img {
    right: 70px;
  }
}
@media (max-width: 1600px) {
  .about__img {
    width: 380px;
    height: 600px;
  }
}
@media (max-width: 576px) {
  .about__img {
    right: 0px;
    width: 300px;
    height: 550px;
  }
}
.about__block {
  padding: 58px 39px 60px 37px;
  background-color: #f3f3f3;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.about__block::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 260px;
  background-color: #cab898;
  top: 58px;
  left: 20px;
}
@media (max-width: 1600px) {
  .about__block::after {
    left: 5px;
    top: 30px;
    height: 230px;
  }
}
@media (max-width: 1790px) {
  .about__block {
    left: 150px;
  }
}
@media (max-width: 1600px) {
  .about__block {
    padding: 30px 15px;
    height: 300px;
    width: 320px;
  }
}
@media (max-width: 576px) {
  .about__block {
    bottom: -80px;
  }
}
.about__text {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #505050;
  max-width: 310px;
}
.about__text p {
  margin-bottom: 20px;
}
@media (max-width: 1600px) {
  .about__text p {
    margin-bottom: 12px;
  }
}
@media (max-width: 1600px) {
  .about__text {
    line-height: 1;
  }
}

@media (max-width: 1200px) {
  .tab {
    max-width: 380px;
  }
}
@media (max-width: 992px) {
  .tab {
    max-width: 700px;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .tab {
    max-width: 500px;
  }
}
@media (max-width: 576px) {
  .tab {
    max-width: 315px;
  }
}
.tab__row {
  margin-bottom: 67px;
  width: 550px;
}
@media (max-width: 768px) {
  .tab__row {
    width: 500px;
  }
}
@media (max-width: 576px) {
  .tab__row {
    flex-direction: column;
    row-gap: 15px;
    justify-content: start;
    align-items: start;
  }
}
.tab__click {
  cursor: pointer;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 0px;
  font-weight: 400;
  padding: 17px 24px;
  background-color: transparent;
  border-radius: 16px;
  border: 1px solid #cab898;
  transition: all 10.5;
  -webkit-transition: all 10.5;
  -moz-transition: all 10.5;
  -ms-transition: all 10.5;
  -o-transition: all 10.5;
}
.tab__click.active-tab {
  color: #ffffff;
  background-color: #cab898;
}
@media (max-width: 768px) {
  .tab__click {
    padding: 10px 15px;
  }
}
@media (max-width: 576px) {
  .tab__click {
    width: 220px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.tab__info {
  display: none;
  transition: all 10.5;
  -webkit-transition: all 10.5;
  -moz-transition: all 10.5;
  -ms-transition: all 10.5;
  -o-transition: all 10.5;
  opacity: 0;
}
.tab__info.active-tab {
  display: block;
  opacity: 1;
}
.tab__content {
  max-width: 520px;
  font-family: Montserrat;
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  color: #505050;
  height: 600px;
  overflow-y: scroll;
}
.tab__content p {
  margin-bottom: 49px;
}
@media (max-width: 1200px) {
  .tab__content p {
    margin-bottom: 30px;
  }
}
@media (max-width: 992px) {
  .tab__content p {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .tab__content p {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .tab__content p {
    margin-bottom: 5px;
  }
}
.tab__content::-webkit-scrollbar {
  width: 5px;
  background-color: #f4f4f4;
  border-radius: 2.5px;
}
.tab__content::-webkit-scrollbar-thumb {
  background-color: #946e2c;
  border-radius: 2.5px;
  border-radius: 9em;
  width: 5px;
  box-shadow: inset 1px 1px 10px #f3faf7;
}
@media (max-width: 1200px) {
  .tab__content {
    max-width: 380px;
  }
}
@media (max-width: 992px) {
  .tab__content {
    max-width: 700px;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .tab__content {
    max-width: 500px;
  }
}
@media (max-width: 576px) {
  .tab__content {
    max-width: 315px;
  }
}

.price {
  margin-bottom: 192px;
}
@media (max-width: 1200px) {
  .price {
    margin-bottom: 120px;
  }
}
@media (max-width: 992px) {
  .price {
    margin-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .price {
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .price {
    margin-bottom: 25px;
  }
}
.price__title {
  margin-bottom: 30px;
  margin-left: 365px;
}
@media (max-width: 1600px) {
  .price__title {
    margin-left: 300px;
  }
}
@media (max-width: 1200px) {
  .price__title {
    margin-left: 200px;
  }
}
@media (max-width: 992px) {
  .price__title {
    margin-bottom: 20px;
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .price__title {
    margin-bottom: 15px;
    margin-left: 80px;
  }
}
@media (max-width: 576px) {
  .price__title {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
.price__subtitle {
  margin-bottom: 113px;
  max-width: 590px;
  margin-left: 365px;
}
@media (max-width: 1600px) {
  .price__subtitle {
    margin-left: 300px;
  }
}
@media (max-width: 1200px) {
  .price__subtitle {
    margin-left: 200px;
  }
}
@media (max-width: 992px) {
  .price__subtitle {
    margin-bottom: 20px;
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .price__subtitle {
    margin-bottom: 15px;
    margin-left: 80px;
  }
}
@media (max-width: 576px) {
  .price__subtitle {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
.price__body {
  padding-left: 11%;
  position: relative;
}
.price__body::after {
  position: absolute;
  content: "";
  width: 100%;
  top: 45px;
  height: 92%;
  left: 0;
  background-color: #cfc2aa;
  z-index: -1;
}
@media (max-width: 1600px) {
  .price__body {
    padding-left: 3%;
  }
}
@media (max-width: 768px) {
  .price__body {
    padding-left: 0;
  }
}
@media (max-width: 1150px) {
  .price__body > .row {
    flex-direction: column;
    row-gap: 25px;
  }
}
.price__info {
  background-color: #f3f3f3;
  padding: 95px 72px 98px 82px;
}
@media (max-width: 1700px) {
  .price__info {
    padding: 80px 40px 50px 40px;
  }
}
@media (max-width: 768px) {
  .price__info {
    padding: 50px 15px 30px 15px;
  }
}
.price__item {
  margin-bottom: 46px;
}
.price__item:last-child {
  margin-bottom: 0;
}
.price__item:nth-child(1) .price__value {
  background-color: rgba(219, 208, 187, 0.8);
}
@media (max-width: 1450px) {
  .price__item {
    margin-bottom: 30px;
  }
}
.price__text {
  font-family: Montserrat;
  font-size: 17px;
  line-height: 23px;
  font-weight: 600;
  color: #505050;
  max-width: 515px;
}
@media (max-width: 1450px) {
  .price__text {
    max-width: 350px;
  }
}
@media (max-width: 576px) {
  .price__text {
    max-width: 200px;
    font-size: 15px;
    line-height: 1;
  }
}
@media (max-width: 425px) {
  .price__text {
    max-width: 150px;
  }
}
.price__value {
  font-family: Montserrat;
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  color: #5e5e5e;
  padding: 11px 18px;
  background-color: #fff;
}
.price__value:nth-child(1) {
  background-color: rgba(219, 208, 187, 0.8);
}
@media (max-width: 576px) {
  .price__value {
    padding: 10px 12px;
    font-size: 16px;
  }
}
.price__img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 937px;
  height: 653px;
}
@media (max-width: 1890px) {
  .price__img {
    width: 700px;
    height: 600px;
  }
}
@media (max-width: 1280px) {
  .price__img {
    width: 600px;
    height: 500px;
  }
}
@media (max-width: 1150px) {
  .price__img {
    position: relative;
    top: 0;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .price__img {
    width: 400px;
    height: 280px;
  }
}
@media (max-width: 425px) {
  .price__img {
    width: 300px;
    height: 180px;
  }
}
.price__img img {
  width: 100%;
  height: 100%;
}

.team {
  margin-bottom: 143px;
}
@media (max-width: 1200px) {
  .team {
    margin-bottom: 100px;
  }
}
@media (max-width: 992px) {
  .team {
    margin-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .team {
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .team {
    margin-bottom: 25px;
  }
}
.team__title {
  margin-bottom: 34px;
  margin-left: 365px;
}
@media (max-width: 1600px) {
  .team__title {
    margin-left: 300px;
  }
}
@media (max-width: 1200px) {
  .team__title {
    margin-left: 200px;
  }
}
@media (max-width: 992px) {
  .team__title {
    margin-bottom: 20px;
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .team__title {
    margin-bottom: 15px;
    margin-left: 80px;
  }
}
@media (max-width: 576px) {
  .team__title {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
.team__subtitle {
  margin-left: 365px;
  margin-bottom: 103px;
}
@media (max-width: 1600px) {
  .team__subtitle {
    margin-left: 300px;
  }
}
@media (max-width: 1200px) {
  .team__subtitle {
    margin-left: 200px;
  }
}
@media (max-width: 992px) {
  .team__subtitle {
    margin-bottom: 20px;
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .team__subtitle {
    margin-bottom: 15px;
    margin-left: 80px;
  }
}
@media (max-width: 576px) {
  .team__subtitle {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
.team__item {
  flex: 0 0 25%;
}
@media (max-width: 992px) {
  .team__item {
    flex: 0 0 50%;
  }
}
.team__picture {
  max-width: 480px;
  max-height: 480px;
  height: 440px;
}
@media (max-width: 1500px) {
  .team__picture {
    height: 250px;
  }
}
@media (max-width: 992px) {
  .team__picture {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .team__picture {
    height: 300px;
  }
}
@media (max-width: 576px) {
  .team__picture {
    height: 220px;
  }
}
.team__picture img {
  width: 100%;
  height: 100%;
}
.team__about {
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 1500px) {
  .team__about {
    height: 250px;
  }
}
@media (max-width: 992px) {
  .team__about {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .team__about {
    height: 300px;
  }
}
@media (max-width: 576px) {
  .team__about {
    height: 220px;
  }
}
.team__name {
  opacity: 0.87;
  font-family: Rubik;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 0.006em;
  color: #505050;
  max-width: 260px;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .team__name {
    font-size: 19px;
    margin-bottom: 10px;
    line-height: 1;
  }
}
.team__profession {
  opacity: 0.6;
  font-family: Rubik;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.018em;
  color: #000000;
  margin-bottom: 65px;
}
@media (max-width: 576px) {
  .team__profession {
    margin-bottom: 30px;
  }
}
.team__links {
  width: 90px;
}
.contact {
  margin-bottom: 95px;
  position: relative;
}
@media (max-width: 1200px) {
  .contact {
    margin-bottom: 80px;
  }
}
@media (max-width: 992px) {
  .contact {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .contact {
    margin-bottom: 45px;
  }
}
@media (max-width: 576px) {
  .contact {
    margin-bottom: 25px;
  }
}
.contact__title {
  margin-bottom: 30px;
  margin-left: 365px;
}
@media (max-width: 1600px) {
  .contact__title {
    margin-left: 300px;
  }
}
@media (max-width: 1200px) {
  .contact__title {
    margin-left: 200px;
  }
}
@media (max-width: 992px) {
  .contact__title {
    margin-bottom: 20px;
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .contact__title {
    margin-bottom: 15px;
    margin-left: 80px;
  }
}
@media (max-width: 576px) {
  .contact__title {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
.contact__subtitle {
  margin-bottom: 113px;
  max-width: 590px;
  margin-left: 365px;
}
@media (max-width: 1600px) {
  .contact__subtitle {
    margin-left: 300px;
  }
}
@media (max-width: 1200px) {
  .contact__subtitle {
    margin-left: 200px;
  }
}
@media (max-width: 992px) {
  .contact__subtitle {
    margin-bottom: 20px;
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .contact__subtitle {
    margin-bottom: 15px;
    margin-left: 80px;
  }
}
@media (max-width: 576px) {
  .contact__subtitle {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
.contact__body {
  display: flex;
  justify-content: end;
  position: relative;
}
.contact__block {
  background-color: #cab898;
  padding-top: 69px;
  width: 600px;
  position: relative;
  right: 236px;
}
@media (max-width: 1500px) {
  .contact__block {
    right: 50px;
  }
}
@media (max-width: 1200px) {
  .contact__block {
    right: 10px;
  }
}
@media (max-width: 992px) {
  .contact__block {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .contact__block {
    width: 300px;
    padding-top: 40px;
  }
}
@media (max-width: 576px) {
  .contact__block {
    width: 180px;
    padding-top: 20px;
    right: 0;
  }
}
.contact__item {
  margin-bottom: 70px;
}
.contact__item:last-child {
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .contact__item {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .contact__item {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .contact__item {
    margin-bottom: 15px;
  }
}
.contact__title-block {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 64px;
  font-weight: 300;
  color: #ffffff;
  margin-left: 67px;
  margin-bottom: 33px;
}
@media (max-width: 1200px) {
  .contact__title-block {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 1;
  }
}
@media (max-width: 768px) {
  .contact__title-block {
    margin-left: 20px;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .contact__title-block {
    margin-left: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.contact__subtitle-block {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 64px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 67px;
}
@media (max-width: 1200px) {
  .contact__subtitle-block {
    font-size: 25px;
    line-height: 1;
  }
}
@media (max-width: 768px) {
  .contact__subtitle-block {
    margin-left: 20px;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .contact__subtitle-block {
    margin-left: 10px;
    font-size: 18px;
  }
}
.contact__soc {
  flex: 0 0 50%;
  width: 302px;
  height: 138px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .contact__soc {
    width: 150px;
    height: 70px;
  }
}
@media (max-width: 576px) {
  .contact__soc {
    width: 90px;
    height: 50px;
  }
}
.contact__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.contact__bg img {
  width: 100%;
  height: 100%;
}

.visit__title {
  margin-bottom: 30px;
  margin-left: 365px;
}
@media (max-width: 1600px) {
  .visit__title {
    margin-left: 300px;
  }
}
@media (max-width: 1200px) {
  .visit__title {
    margin-left: 200px;
  }
}
@media (max-width: 992px) {
  .visit__title {
    margin-bottom: 20px;
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .visit__title {
    margin-bottom: 15px;
    margin-left: 80px;
  }
}
@media (max-width: 576px) {
  .visit__title {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
.visit__subtitle {
  margin-bottom: 113px;
  max-width: 590px;
  margin-left: 365px;
}
@media (max-width: 1600px) {
  .visit__subtitle {
    margin-left: 300px;
  }
}
@media (max-width: 1200px) {
  .visit__subtitle {
    margin-left: 200px;
  }
}
@media (max-width: 992px) {
  .visit__subtitle {
    margin-bottom: 20px;
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .visit__subtitle {
    margin-bottom: 15px;
    margin-left: 80px;
  }
}
@media (max-width: 576px) {
  .visit__subtitle {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
.visit__body {
  margin-left: 365px;
}
@media (max-width: 1600px) {
  .visit__body {
    margin-left: 300px;
  }
}
@media (max-width: 1200px) {
  .visit__body {
    margin-left: 200px;
  }
}
@media (max-width: 992px) {
  .visit__body {
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .visit__body {
    margin-left: 80px;
  }
}
@media (max-width: 576px) {
  .visit__body {
    margin-left: 20px;
  }
}
@media (max-width: 992px) {
  .visit__body > .row {
    flex-direction: column;
  }
}
.visit__form {
  width: 815px;
}
.visit__form .row {
  -moz-column-gap: 25px;
       column-gap: 25px;
}
@media (max-width: 1520px) {
  .visit__form {
    width: 600px;
  }
}
@media (max-width: 1200px) {
  .visit__form {
    width: 560px;
  }
}
@media (max-width: 992px) {
  .visit__form {
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .visit__form {
    width: 400px;
  }
}
@media (max-width: 576px) {
  .visit__form {
    width: 280px;
  }
}
.visit__inputs {
  font-family: Montserrat;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #505050;
}
.visit__inputs::-moz-placeholder {
  font-family: Montserrat;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #505050;
}
.visit__inputs:-ms-input-placeholder {
  font-family: Montserrat;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #505050;
}
.visit__inputs::placeholder {
  font-family: Montserrat;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #505050;
}
.visit__input {
  font-family: Montserrat;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #505050;
  padding: 25px 20px 25px 35px;
  width: 395px;
  border: 1px solid #cab898;
  border-radius: 28.6px;
  margin-bottom: 32px;
}
@media (max-width: 1520px) {
  .visit__input {
    width: 275px;
  }
}
@media (max-width: 1200px) {
  .visit__input {
    padding: 18px;
    width: 260px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .visit__input {
    width: 400px;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .visit__input {
    width: 280px;
    margin-bottom: 10px;
  }
}
.visit__textarea {
  width: 814px;
  height: 101px;
  border: 1px solid #cab898;
  border-radius: 28.6px;
  font-family: Montserrat;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #505050;
  padding: 17px 30px 30px 30px;
  margin-bottom: 39px;
}
.visit__textarea::-moz-placeholder {
  font-family: Montserrat;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #505050;
}
.visit__textarea:-ms-input-placeholder {
  font-family: Montserrat;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #505050;
}
.visit__textarea::placeholder {
  font-family: Montserrat;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #505050;
}
@media (max-width: 1520px) {
  .visit__textarea {
    width: 600px;
  }
}
@media (max-width: 1200px) {
  .visit__textarea {
    width: 560px;
  }
}
@media (max-width: 768px) {
  .visit__textarea {
    width: 400px;
    margin-bottom: 27px;
  }
}
@media (max-width: 576px) {
  .visit__textarea {
    width: 280px;
    margin-bottom: 17px;
  }
}
.visit__btn {
  font-family: Montserrat;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #fffefe;
  border: 1px solid #cab898;
  border-radius: 28.5px;
  padding: 23px 52px;
  background-color: #cab898;
  margin: 0 auto;
  display: inherit;
}
.visit__img {
  width: 392px;
  height: 452px;
  position: relative;
  right: 158px;
}
@media (max-width: 1710px) {
  .visit__img {
    right: 10px;
  }
}
@media (max-width: 1315px) {
  .visit__img {
    width: 290px;
    height: 352px;
  }
}
@media (max-width: 992px) {
  .visit__img {
    right: 0;
    margin: 0 auto;
    width: 391px;
    height: 452px;
  }
}
@media (max-width: 576px) {
  .visit__img {
    width: 280px;
    height: 340px;
  }
}
.visit__img img {
  width: 100%;
  height: 100%;
}

.footer {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #dbd0bb;
  padding: 46px 0px 51px 0px;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}
@media (max-width: 992px) {
  .footer {
    padding: 40px 0;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 25px 20px;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 18px 20px;
  }
}
.footer__warning {
  margin-bottom: 47px;
}
@media (max-width: 992px) {
  .footer__warning {
    margin-bottom: 35px;
  }
}
@media (max-width: 768px) {
  .footer__warning {
    margin-bottom: 25px;
  }
}
@media (max-width: 576px) {
  .footer__warning {
    margin-bottom: 10px;
    line-height: 1;
  }
}
.footer__policy {
  margin-bottom: 19px;
}
@media (max-width: 992px) {
  .footer__policy {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .footer__policy {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .footer__policy {
    margin-bottom: 5px;
    line-height: 1;
  }
}
@media (max-width: 576px) {
  .footer__created {
    line-height: 1;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}

.swiper {
  position: relative;
}

.gallery {
  position: relative;
}
.gallery__navigation {
  z-index: 5;
  position: absolute;
  width: 205px;
  height: 20px;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.gallery__prev-btn {
  z-index: 2;
}
.swiper-button-prev img {
  width: 12px;
  height: 20px;
}

.swiper-button-next img {
  width: 12px;
  height: 20px;
}

.gallery__slider {
  position: relative;
}
.gallery__prev-btn {
  height: 20px;
  width: 20px;
  z-index: 105;
}
.gallery__next-btn {
  height: 20px;
}

.swiper-button-prev {
  height: 20px;
}

.swiper-button-next {
  height: 20px;
}

.swiper-pagination {
  position: relative;
  top: 0px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  font-size: 20px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.4;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: rgb(77, 75, 75);
  opacity: 0.1;
}