@import "nullstyle";
@import "fonts";
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,300&family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
.page {
}
body{
    position: relative;
}
.main {
    overflow: hidden;
    width: 100vh;
    position: absolute;
    width: 100%;
    left: 0;top: 0;
}

.header {
    
    background-color: #dcdcdc;
    &__top {
        @include paddingTop(45, 10);
        @include paddingBottom(54, 10);
    }

    &__logo {
        width: 318px;
        height: 100px;
        img{
            width: 100%;
            height: 100%;
        }
        @media (max-width: 992px) {
            width: 200px;
            height: 80px;
        }

        @media (max-width: 576px) {
            width: 150px;
            height: 60px;
        }
    }

    &__sale {
        font-family: 'Open Sans';
        font-size: 17px;
       // line-height: 22px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #777777;
        @media (max-width: 768px) {
            color: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-self: center;
            justify-content: flex-end;
            margin-right: 20px;
            //line-height: normal;
            margin-top: -15px;
        }
    }

    &__contact {}

    &__phone {
        font-family: 'Open Sans';
        @include ad-font(31,14);
        //line-height: 46px;
        font-weight: 800;
        letter-spacing: 0.025em;
        a{
            color: #767676;
        }

        &_1 {
            margin-bottom: 10px;
            @include marginBottom(10,5);
        }

        &_2 {}
    }

    &__menu {
        background-color: #767676;
        padding: 20px 0;

        @media (max-width: 768px) {
            padding-top: 30px;
        }
    }
}

.row {}

.h-menu {
    max-width: 620px;
    margin: 0 auto;

    @media (max-width: 768px) {
        margin-left: 22px;
        position: fixed;
        top: 15px;
    }
    &__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    &__link {
        font-family: 'Open Sans';
        font-size: 18px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #ffffff;
        position: relative;
        &::before{
            position: absolute;
            width: 2px;
            height: 100%;
            content: '|';
            top: 0;
            right: -5px;

            @media (max-width: 768px) {
                display: none;
            }
        }
        a{
            color: #fff;
            transition: all 0.5s;
            position: relative;
            transition:   0.5s;
            &::after {
                transition: 0.5s;
                content: '';
                position: absolute;
                width: 0;
                left: 50%;
                height: 2px;
                background-color: #fff;
                bottom: -5px;
            }
            &:hover {
               &::after {
                   width: 100%;
                   left: 0%;
               }
            }
        }
        
    }
}

.list {}

.link {}

.content {}

.slide {
     min-width: 100%;
     @include height(400, 150);
    // //max-height: 400px;
     &__item {
         @include height(400, 150);
        width: 100%;
        img{
            width: 100%;
            height: 100%;
        }
     }
    @include marginBottom(48,20);
}

.about {

    
    .row {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    &__contact {
        background-color: #777777;
        padding: 22px 52px 33px 34px;
        @media (max-width: 940px) {
            margin: 0 auto;
            order: 2;
        }
    }

    &__company {
        @media (max-width: 940px) {
            margin: 0 auto;
            order: 1;
            margin-bottom: 20px;
        }
    }

    @include marginBottom(195, 20);
}

.contact {
    max-width: 350px;
    @media (max-width: 940px) {
        max-width: 700px;
    }
    &__title {
        @include marginBottom(38, 15);
        font-family: 'PT Sans';
        @include ad-font(40, 25);
        line-height: 46px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #ffffff;
    }
    &__row{
        @media (max-width: 940px) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap
        }
    }

    &__block {
        @include marginBottom(20, 10);

        @media (max-width: 940px) {
            flex: 0 0 40%;
            //margin: 0 10px;
            margin-right: 1px;
        }
        @media (max-width: 940px) {
            flex: 0 0 100%;
            //margin: 0 10px;
            margin-right: 1px;
        }
    }

    &__subtitle {
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 22px;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 0.025em;
        color: #ffffff;
    }

    &__text {
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.025em;
        color: #ffffff;
        font-weight: 400;
        font-style: normal;
        max-width: 256px;
    }

    &__link {
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.025em;
        float: right;
        a {
            color: #ffffff;
        }
        font-weight: 400;
        font-style: normal;
        text-decoration: underline;
    }
}

.company {
    @include paddingTop(20,10);

    max-width: 566px;
    @media (max-width: 940px) {
        max-width: 700px;
    }
    &__title {
        font-family: 'Open Sans';
        @include ad-font(33, 20);
        font-weight: 400;
        color: #767676;
        @include marginBottom(30,15);
    }

    &__text {
        font-family: 'Open Sans';
        line-height: 22px;
        font-weight: 400;
        color: #767676;
        font-size: 14px;
        letter-spacing: 0.025em;
        @include marginBottom(30, 15);
    }

    &__subtitle {
        font-family: 'Open Sans';
        @include ad-font(24, 18);
        line-height: 22px;
        font-weight: 400;
        color: #767676;
        @include marginBottom(33, 15);
    }

    &__description {}

    &__block {
        &:first-child{
            @media (max-width: 545px) {
                margin-bottom: 15px;
            }
        }
    }
}

.block-company {

    max-width: 258px;

    @media (max-width: 545px) {
        max-width: 500px;
    }
    &__title {
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #555454;
        @include marginBottom(20, 10);
    }

    &__text {
        font-family: 'Open Sans';
        font-size: 14px;
        letter-spacing: 0.025em;
        color: #767676;
        font-weight: 400;

       
    }
}

.footer {
    @include paddingTop(51, 10);
    @include paddingBottom(52, 10);
        background-color: #767676;
    .row {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    &__contact {
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #ffffff;
    }

    &__year {}

    &__mail {}

    &__menu {}

    &__list {}

    &__link {
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        text-decoration: underline;
        letter-spacing: 0.025em;
        margin-bottom: 5px;
        a {
            color: #ffffff;
        }
    }

    &__page {
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #ffffff;
        max-width: 217px;
        @media (max-width: 380px) {
            max-width: 150px;
        }
        span{
            text-decoration: underline;
        }
    }
}

.container {}

.f-menu {}
