@font-face {
	font-family: 'MRSEAVEI';
	src: url('fonts/MRSEAVEI.eot');
	src: local('☺'), url('fonts/MRSEAVEI.woff') format('woff'), url('fonts/MRSEAVEI.ttf') format('truetype'), url('fonts/MRSEAVEI.svg') format('svg');
	font-weight: 400;
	font-style: 400;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


//  как настраивать 
%fc{
    display: flex;
    align-items: center;
    justify-content: center;
}



.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.header {
    padding-top: 55px;
    position: relative;
    
    // .header__row

    &__row {
        justify-content: space-between;
    }

    // .header__left

    &__left {
    }

    // .header__logo

    &__logo {
        opacity: 0.68;
        color: #ffffff;
        font-family: "MRSEAVEI";
        font-size: 119px;
        font-weight: 400;
        line-height: 32.99px;
        margin-left: 45px;
    }

    // .header__right

    &__right {
    }

    // .header__list

    &__list {
        display: flex;
    }

    // .header__link

    &__link {
        color: #ffffff;
        font-family: "MRSEAVEI";
        font-size: 23px;
        font-weight: 300;
        margin-left: 60px;
        transition: all .9s;
        &:hover{
            text-shadow: 0 0 5px rgb(139, 235, 219);
            color: rgb(139, 235, 219);
        }
    }

    // .header__baner

    &__baner {
        margin-top: 68px;
    }
}
.container {
    margin: 0 auto;
    max-width: 935px;
    
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.rowj {
    justify-content: space-between;
}

.h-item {

    // .h-item__left-img

    &__left-img {
        border: solid 2px rgba(255, 255, 255, 0.2);
        @extend %fc;
        border-radius: 50%;
        width: 50px;
        height: 50px;
       margin-top: 18%;
       cursor: pointer;
    }

    // .h-item__cenetr-content

    &__cenetr-content {
    }

    // .h-item__baner-img

    &__baner-img {
      //  z-index: 1;
       // max-width: 329px;
      //  max-height: 329px;
    }
    &__baner-imges {
        width: 329px;
        height: 329px;
        margin-bottom: -46px;
       // margin-left: 30px;
    }

    // .h-item__body

    &__body {
        margin-left: 125px;
    }

    // .h-item__body-title

    &__body-title {
        color: #ffffff;
        font-family: "MRSEAVEI";
        font-size: 65px;
        font-weight: 400;
    }

    // .h-item__body-text

    &__body-text {
        color: #ffffff;
        font-size: 45px;
        font-family: "MRSEAVEI";
        font-weight: 300;
        margin-bottom: 30px;
    }

    // .h-item__body-button

    &__body-button {
        button{
            width: 138px;
            height: 38px;
            border: 4px solid rgba(0, 0, 0, 0.37);
            background-color: #12b367;
            opacity: 0.62;
            span{
            color: #ffffff;
            font-family: "MRSEAVEI";
            font-size: 23px;
            font-weight: 300;
            opacity: 1;
            }
        }
    }

    // .h-item__right-img

    &__right-img {
        border: solid 2px rgba(255, 255, 255, 0.2);
        @extend %fc;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-top: 18%;
        cursor: pointer;
    }
}
.containers{
    display: flex;
    margin: 0 auto;
    width: 1172px;
    justify-content: space-between;
}


.ban {
    margin-top: 100px;

    // .ban__column

   /* &__column {
        flex: 1 1 25%;
    }*/
}
.container {
}
.row {
}
.rowj {
}

.this {

    // .this__img

    &__img {
        text-align: center;
        width: 137px;
        height: 157px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    // .this__title

    &__title {
        color: #5c5b5b;
        font-family: "MRSEAVEI";
        font-size: 27px;
        font-weight: 300;
        text-align: center;
        line-height: 26px;
        margin-top: 20px;
    }

    // .this__text

    &__text {
        color: #5c5b5b;
        font-family: "MRSEAVEI";
        font-weight: 300;
        font-size: 23px;
        text-align: center;
        line-height: 40px;
    }
}

.lorem {
    margin-top: 200px;

    // .lorem__container

    &__container {
    }

    // .lorem__img

    &__img {
        margin: 0 auto;
        max-width: 714px;
        max-height: 339px;
        //text-align: center;
        img{
            width: 100%;
            height: 100%;
        }
    }

    // .lorem__title

    &__title {
        margin-top: 20px;
        margin-left: 10px;
        color : #4f4f4f;
        font-family: "MRSEAVEI";
        font-size: 39px;
        font-weight: 300;
    }

    // .lorem__text

    &__text {
        margin-top: 28px;
        margin-left: 10px;
        color: #818181;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        p {
            &:first-child{
                margin-bottom: 35px;
            }
        }
    }
}
.container {
}


.why {
    margin-top: 100px;
    margin-bottom: 70px;
    // .why__left

    &__left {
    }

    // .why__img

    &__img {
        width: 440px;
        height: 230px;
        
        img{
            height: 100%;
            width: 100%;
        }
    }

    // .why__right

    &__right {
        margin-right: -60px;
    }

    // .why__list

    &__list {
    }

    // .why__link

    &__link {
        padding-left: 30px;
        background: url('img/ok.png') 0 8px no-repeat;
        color: #8a8888;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 38px;
    }
}
.container {
}
.row {
}
.rowj {
}

.nw{
    flex-wrap: nowrap;
}

.login {
    margin-top: 23px;
    margin-bottom: 35px;

    // .login__left

    &__left {
        margin-right: 50px;
        background-color: #e67624;
        padding: 14px 16px 17px 28px;
        border-radius: 5px;
    }

    // .login__item

    &__item {
    }

    // .login__right

    &__right {
        background-color: #01d4f3;
        padding: 14px 16px 17px 27px;
        border-radius: 5px;
    }
}
.containered {
    margin: 0 auto;
    width: 1010px;
}
.row {
}
.l-item {

    // .l-item__title

    &__title {
        color: #ffffff;
        font-family: "MRSEAVEI";
        font-size: 28px;
        font-weight: 300;
        line-height: 21px;
        margin-bottom: 20px;
    }

    // .l-item__input

    &__input {
        width: 155px;
            height: 26px;
            background-color: #e8e8e8;
            color: #4f4f4f;
            font-family: "MRSEAVEI";
            font-size: 16px;
            font-weight: 300;
            line-height: 38px;
            display: inline-block;
            padding-left: 12px;
       /*input{
            width: 155px;
            height: 26px;
            background-color: #e8e8e8;
            color: #4f4f4f;
            font-family: "Segoe WPN";
            font-size: 16px;
            font-weight: 300;
            line-height: 38px;
            display: inline-block;
        }*/
        margin-right: 14px;
    }

    // .l-item__button

    &__button {
        width: 94px;
        height: 30px;
        background-color: #444444;
        color: #ffffff;
        font-family: "MRSEAVEI";
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        display: inline-block;
        //text-align: center;
    }
}
.r-item {

    // .r-item__title

    &__title {
        color: #ffffff;
        font-family: "MRSEAVEI";
        font-size: 28px;
        font-weight: 300;
        line-height: 21px;
        margin-bottom: 20px;
    }

    // .r-item__input

    &__input {
        display: inline-block;
        width: 265px;
        height: 26px;
        background-color: #e8e8e8;
        color: #4f4f4f;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 38px;
        margin-right: 50px;
        padding-left: 10px;
    }

    // .r-item__button

    &__button {
        display: inline-block;
        width: 111px;
        height: 30px;
        background-color: #029bb1;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
    }
}

.hr{
    height: 1px;
    opacity: 0.11;
    background-color: rgb(8, 8, 8);
}

.footer {
    padding: 34px 0 46px 0;
    background-color: #2a282a;

    // .footer__column

    &__column {
        &:first-child{
            margin-left: 0;

        }
        margin-left: 90px;
        &:last-child{
            margin-left: 65px;
        }
    }

    // .footer__item

    &__item {
    }

    // .footer__title

    &__title {
        color: #ffffff;
        font-family: Arial;
        font-size: 22px;
        font-weight: 300;
        line-height: 33px;
        margin-bottom: 10px;
    }

    // .footer__list

    &__list {
    }

    // .footer__link

    &__link {
        opacity: 0.5;
        color: #ffffff;
        font-family: Arial;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
    }

    // .footer__img-column

    &__img-column {
        margin-top: 10px;
        img{
            margin-left: 8px;
        }
    }

    // .footer__logo

    &__logo {margin-top: 66px;
    }

    // .footer__logo-text

    &__logo-text {
        opacity: 0.22;
        color: #ffffff;
        font-family: "MRSEAVEI";
        font-size: 119px;
        font-weight: 400;
        line-height: 32.99px;
        margin-bottom: 50px;
    }
}
.f-container {
    margin: 0 auto;
    max-width: 970px;
}
.row {
}
.rowj {
}
.actived {
    opacity: 0.66;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

