@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header__burger {
  display: none;
}

/*@media (max-width: 1200px){
	.container{
		max-width: 970px;
		padding-left: 10px;
	}
	body{
		max-width: 100%;
	}
}
*@media (max-width: 1200px){
	.container{
		max-width: 970px;
		padding-left: 10px;
	}
	body{
		max-width: 100%;
	}

@media (max-width: 992px){
	.container{
		max-width: 750px;
		padding-left: 10px;
	}
	body{
		max-width: 100%;
	}
}
@media (max-width: 992px){
	.container{
		max-width: none;
	}
}*/
.block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.rowj {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header {
  max-width: 100%;
  padding: 40px 0;
  position: relative;
  overflow: hidden;
}
@media (max-width: 992px) {
  .header {
    padding: 40px 0;
  }
}
.header__menu {
  justify-content: space-between;
  display: flex;
}
.header__clider {
  margin-top: 185px;
}
@media (max-width: 1200px) {
  .header__clider {
    margin-top: 100px;
  }
}
@media (max-width: 992px) {
  .header__clider {
    margin-top: 60px;
  }
}

.comtains {
  display: flex;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.h-container {
  width: 1170px;
  margin: 0 auto;
}

.logo {
  display: flex;
}
.logo__img {
  width: 64px;
  height: 56px;
  margin-left: 2px;
}
.logo__img img {
  height: 100%;
  width: 100%;
}
.logo__text {
  line-height: 56px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
}

.h-menu__list {
  display: flex;
  margin-top: 22px;
}
.h-menu__link {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;
  line-height: 24px;
  /*&:nth-child(8){
  	margin-right: 60px;
  }
  &:nth-child(9){
  	margin-right: 28px;
  }
  &:last-child{
  	margin-right: 0;
  }*/
}
.h-menu__link:nth-child(2) {
  margin-left: 30px;
}
.h-menu__link-active {
  color: #c7b299;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
}

.clider__title {
  text-align: center;
  color: #ffffff;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .clider__title {
    font-size: 20px;
  }
}
.clider__subtitle {
  text-align: center;
  color: #ffffff;
  font-family: "Raleway - Extra Bold";
  font-size: 52px;
  font-weight: 400;
  margin: 4px 0 9px 0;
}
@media (max-width: 992px) {
  .clider__subtitle {
    font-size: 35px;
  }
}
.clider__text {
  text-align: center;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .clider__text {
    font-size: 18px;
  }
}
.clider__button {
  margin-bottom: 200px;
  text-align: center;
  height: 65px;
}
@media (max-width: 1200px) {
  .clider__button {
    margin-bottom: 130px;
  }
}
@media (max-width: 992px) {
  .clider__button {
    margin-bottom: 70px;
  }
}
.clider__button button {
  text-align: center;
  width: 170px;
  height: 53px;
  box-shadow: inset 3px 5px 5px #736357;
  border-radius: 5px;
  background-color: #998675;
  color: #ffffff;
  font-family: "Raleway - Extra Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 53px;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s;
}
@media (max-width: 992px) {
  .clider__button button {
    width: 140px;
  }
}
.clider__button button:hover {
  box-shadow: inset 0 1px 0 #744c2e;
  height: 48px;
  background-color: #ceae96;
  font-size: 13px;
  line-height: 40px;
  padding-right: 5px;
}

.dots {
  display: flex;
  justify-content: center;
}

.dot {
  width: 11px;
  height: 11px;
  background-color: #ffffff;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.dot-active {
  /* Style for "02" */
  width: 15px;
  height: 15px;
  border: 2px solid #d3c1ad;
  background-color: rgba(10, 1, 1, 0);
  border-radius: 50%;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  top: 0;
  left: 0;
}

.bgf {
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  top: 0;
  left: 0;
}

.arr {
  width: 40px;
  height: 73px;
  margin-top: 300px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .arr {
    display: none;
  }
}

.l {
  margin-left: 50px;
}

.r {
  margin-right: 50px;
}

.set {
  padding: 80px 0;
}
@media (max-width: 992px) {
  .set {
    padding: 60px 0;
  }
}
.set__row {
  margin: 0 -16.5px;
}
.set__column {
  flex: 0 0 25%;
  padding: 0 16.5px;
}
.set__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom: 1px solid #f1eee9;
}
.set__img {
  margin: 0 auto;
  width: 44px;
  height: 40px;
}
.set__img img {
  width: 100%;
  height: 100%;
}
.set__title {
  margin: 29px 0 19px 0;
  text-align: center;
  color: #555555;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
}
@media (max-width: 992px) {
  .set__title {
    font-size: 18px;
    margin: 18px 0 14px 0;
  }
}
.set__text {
  text-align: center;
  color: #555555;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
}
@media (max-width: 992px) {
  .set__text {
    font-size: 18px;
  }
}

.s-t-active {
  color: #c7b299;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
}

.hard__container {
  max-width: 1230px;
}
.hard__title {
  height: 28px;
  color: #555555;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 992px) {
  .hard__title {
    font-size: 25px;
  }
}
.hard__text {
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  margin: 24px 0 120px 0;
}
@media (max-width: 992px) {
  .hard__text {
    margin-bottom: 70px;
  }
}
.hard__top-img1 {
  width: 610px;
  height: 300px;
}
@media (max-width: 1200px) {
  .hard__top-img1 {
    position: relative;
  }
}
.hard__top-img1 img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .hard__top-img1 img {
    left: 50%;
    position: absolute;
  }
}
@media (max-width: 992px) {
  .hard__top-img1 img {
    position: relative;
    margin-left: -20%;
  }
}
.hard__top-img2 {
  width: 610px;
  height: 300px;
}
@media (max-width: 1220px) {
  .hard__top-img2 {
    position: relative;
  }
}
.hard__top-img2 img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1220px) {
  .hard__top-img2 img {
    left: 50%;
    position: absolute;
  }
}
@media (max-width: 992px) {
  .hard__top-img2 img {
    position: relative;
    margin-left: -20%;
  }
}
@media (max-width: 992px) {
  .hard__top {
    flex-direction: column;
    justify-content: center;
  }
}
.hard__bottom {
  position: relative;
}
.hard__bottom img {
  position: absolute;
  left: 20%;
  bottom: 0;
  height: 380px;
  width: 770px;
}
@media (max-width: 1220px) {
  .hard__bottom img {
    bottom: 40px;
    left: 19%;
  }
}
@media (max-width: 992px) {
  .hard__bottom img {
    position: relative;
    margin-left: -8%;
  }
}

.wpress {
  position: relative;
}
.wpress__container {
  padding: 48px 10px;
}
@media (max-width: 992px) {
  .wpress__container {
    padding: 25px 0;
  }
}
.wpress__text-title {
  font-family: Raleway;
  font-size: 28px;
  font-weight: 400;
}
.wpress__text-title span {
  color: #c7b299;
}
.wpress__text-text {
  color: #615855;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  margin-top: 8px;
}
@media (max-width: 992px) {
  .wpress__text-text {
    font-size: 15px;
  }
}
.wpress__button button {
  width: 170px;
  height: 50px;
}
@media (max-width: 992px) {
  .wpress__button button {
    position: relative;
    margin-left: -8%;
    width: 130px;
    height: 40px;
  }
}

.orbtn {
  box-shadow: inset 3px 5px 5px #736357;
  border-radius: 3px;
  background-color: #998675;
  color: #ffffff;
  font-family: "Raleway - Extra Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  transition: all 0.3s;
}
@media (max-width: 992px) {
  .orbtn {
    height: 40px;
    line-height: 40px;
  }
}
.orbtn:hover {
  box-shadow: inset 0 1px 0 #744c2e;
  height: 48px;
  background-color: #ceae96;
  font-size: 13px;
  line-height: 40px;
  padding-right: 5px;
}
@media (max-width: 992px) {
  .orbtn:hover {
    height: 38px;
    line-height: 30px;
  }
}

.photo {
  padding: 80px 0;
}
.photo__title {
  color: #555555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
.photo__text {
  margin: 24px 0 40px 0;
  text-align: center;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}
.photo__menu {
  margin: 0 auto;
  width: 605px;
  margin-bottom: 60px;
}
.photo__list {
  display: flex;
  justify-content: space-between;
}
.photo__link {
  padding: 10px 25px 11px 25px;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  line-height: 21px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  transition: all 0.7s;
}
.photo__link:hover {
  background-color: #111111;
}
.photo__link-active {
  padding: 10px 30px 11px 30px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  border-radius: 3px;
  background-color: #998675;
}
.photo__column {
  flex: 0 0 33.333%;
  padding: 0 10px;
}
@media (max-width: 1200px) {
  .photo__column {
    flex: 0 0 50%;
  }
}
@media (max-width: 993px) {
  .photo__column {
    margin: 0 auto;
  }
}
.photo__button {
  text-align: center;
  height: 50px;
}
.photo__btn {
  width: 170px;
  height: 50px;
}

.row__wrapp {
  flex-wrap: wrap;
  margin: 0 -10;
}
@media (max-width: 1200px) {
  .row__wrapp {
    margin-left: 80px;
    margin-top: 50px;
  }
}
@media (max-width: 993px) {
  .row__wrapp {
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
  }
}

.p-item__img {
  width: 370px;
  height: 273px;
}
@media (max-width: 992px) {
  .p-item__img {
    width: 480px;
    height: 300px;
  }
}
.p-item__img img {
  width: 100%;
  height: 100%;
}
.p-item__bottom {
  padding: 30px 0 27px 28px;
  background-color: #fbfaf8;
  transition: all 0.7s;
  width: 370px;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .p-item__bottom {
    width: 480px;
  }
}
.p-item__title {
  color: #c7b299;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
}
.p-item__text {
  color: #d1d1d1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-top: 14px;
}
.p-item__bottom-active {
  background-color: #362f2d;
}

.video {
  position: relative;
  padding: 100px 0;
}
@media (max-width: 992px) {
  .video {
    padding: 60px 0;
  }
}
.video__icon {
  text-align: center;
}
.video__title {
  text-align: center;
  color: #ffffff;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 500;
  margin: 44px 0 29px 0;
}
@media (max-width: 992px) {
  .video__title {
    font-size: 25px;
    margin: 40px 0 25px 0;
  }
}
.video__text {
  text-align: center;
  color: #ffffff;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 44px;
}
@media (max-width: 992px) {
  .video__text {
    font-size: 25px;
    margin-bottom: 25px;
  }
}
.video__subtext {
  color: #c7b299;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.bgf1 {
  opacity: 0.6;
}

.phone {
  padding-top: 80px;
}
.phone__container {
  margin: 0 auto;
  max-width: 1110px;
}
.phone__img {
  width: 423px;
  height: 616px;
}
.phone__img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1030px) {
  .phone__img {
    margin: 0 auto;
    width: 380px;
    height: 480px;
  }
}
.phone__left-title {
  margin-top: 110px;
  margin-bottom: 40px;
  color: #555555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
}
@media (max-width: 1030px) {
  .phone__left-title {
    font-size: 25px;
    text-align: center;
    margin-top: 85px;
  }
}
.phone__left-text {
  width: 607px;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}
@media (max-width: 1030px) {
  .phone__left-text {
    margin: 0 auto;
    text-align: center;
  }
}
.phone__menu {
  margin-top: 45px;
  margin-left: 50px;
}
.phone__menu-link {
  padding-left: 40px;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  background: url("img/phi.png") 0 5px no-repeat;
}

@media (max-width: 1030px) {
  .row__phone {
    flex-direction: column;
    justify-content: center;
  }
}

.num {
  position: relative;
  padding: 69px 0 60px 0;
}
@media (max-width: 1200px) {
  .num {
    padding: 59px 0 50px 0;
  }
}
@media (max-width: 992px) {
  .num {
    padding: 49px 0 40px 0;
  }
}
.num__container {
  margin: 0 auto;
  max-width: 920px;
}
.num__row {
  display: flex;
}
.num__column {
  flex: 0 0 20%;
}
.num__img {
  text-align: center;
}
.num__number {
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat - Ultra Light";
  font-size: 48px;
  font-weight: 400;
  line-height: 36px;
  margin: 30px 0 20px 0;
}
@media (max-width: 1200px) {
  .num__number {
    font-size: 34px;
    margin: 20px 0 15px 0;
  }
}
.num__text {
  text-align: center;
  position: relative;
  color: #c7b299;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
}
.num__text:before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 50px;
  left: 41%;
}
@media (max-width: 1200px) {
  .num__text:before {
    top: 35px;
  }
}
@media (max-width: 1200px) {
  .num__text {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .num__text {
    font-size: 12px;
  }
}

.post__container {
  padding: 81px 0;
}
@media (max-width: 1200px) {
  .post__container {
    padding: 65px;
  }
}
@media (max-width: 992px) {
  .post__container {
    padding: 50px;
  }
}
.post__title {
  text-align: center;
  color: #555555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .post__title {
    font-size: 28px;
  }
}
@media (max-width: 992px) {
  .post__title {
    font-size: 26px;
  }
}
.post__text {
  text-align: center;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  margin: 30px 0 40px 0;
}
@media (max-width: 1200px) {
  .post__text {
    line-height: 23px;
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .post__text {
    line-height: 21px;
    font-size: 14px;
  }
}
.post__column {
  flex: 0 0 33.333%;
}
@media (max-width: 1200px) {
  .post__column {
    flex: 0 0 50%;
  }
}
@media (max-width: 992px) {
  .post__column {
    flex: 0 0 100%;
    margin-left: 28%;
  }
}
.post__clide-img {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .post__clide-img {
    margin-top: 25px;
    margin-bottom: 8px;
  }
}
@media (max-width: 992px) {
  .post__clide-img {
    margin-top: 15px;
    margin-bottom: 6px;
  }
}

@media (max-width: 992px) {
  .row__ {
    justify-content: center;
  }
}

.post-item__link {
  color: #c7b299;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  background: url("img/pi.svg") 75px 6px no-repeat;
}
.post-item__img {
  width: 370.5px;
  height: 220px;
}
.post-item__img img {
  height: 100%;
  width: 100%;
}
.post-item__bottom {
  padding: 30px 0 33px 29px;
  width: 370.5px;
  background-color: #fff;
  margin-bottom: 10px;
}
.post-item__title {
  color: #555555;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 19px;
}
.post-item__text {
  color: #555555;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 27px;
}

.post-b-active {
  background-color: #362f2d;
  transition: all 0.5s;
}
.post-b-active:hover {
  background-color: #777777;
}

.post-title-active {
  color: #c7b299;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
}

.post-text-active {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.post-img-l {
  margin-right: 3px;
  cursor: pointer;
}

.post-img-r {
  margin-left: 3px;
  cursor: pointer;
}

.end {
  position: relative;
  padding: 100px 0;
}
@media (max-width: 1200px) {
  .end {
    padding: 80px 0 80px 200px;
  }
}
@media (max-width: 992px) {
  .end {
    padding: 60px 0 60px 140px;
  }
}
.end__container {
  margin: 0 auto;
  max-width: 1110px;
}
.end__column {
  flex: 0 0 25%;
}
@media (max-width: 1200px) {
  .end__column {
    flex: 0 0 50%;
  }
}
.end__img {
  width: 210px;
  height: 164px;
  text-align: center;
}
@media (max-width: 1200px) {
  .end__img {
    width: 190px;
    height: 144px;
    margin-bottom: 35px;
  }
}
@media (max-width: 992px) {
  .end__img {
    width: 170px;
    height: 124px;
    margin-bottom: 25px;
  }
}
.end__img img {
  width: 100%;
  height: 100%;
}

.black {
  background-color: #191919;
}
.black__row {
  margin: 0 -14px;
}
@media (max-width: 1200px) {
  .black__row {
    padding: 0 40px;
  }
}
.black__container {
  padding: 80px 0;
}
.black__column {
  flex: 0 0 25%;
  padding: 0 14px;
}
@media (max-width: 1200px) {
  .black__column {
    flex: 0 0 50%;
  }
}
.b-item hr {
  /* Style for "01" */
  width: 270px;
  height: 1px;
  background-color: #252525;
  margin: 10px 0;
}
@media (max-width: 1200px) {
  .b-item hr {
    display: none;
  }
}
.b-item__logo {
  display: flex;
}
.b-item__logo-img {
  margin-top: -30px;
}
.b-item__logo-text {
  margin-top: -20px;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
  line-height: 55px;
}
.b-item__text {
  color: #555555;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.b-item__text span {
  color: #00bff3;
}
@media (max-width: 1200px) {
  .b-item__text {
    line-height: 16px;
  }
}
.b-item__link {
  color: #d1d1d1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 33px;
}
@media (max-width: 1200px) {
  .b-item__link {
    margin-top: 15px;
  }
}
.b-item__title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .b-item__title {
    margin-bottom: 20px;
  }
}
.b-item__subtitle {
  color: #363636;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  margin-top: 10px;
  margin-top: 7px;
}
.b-item__ttile-white {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}
@media (max-width: 1200px) {
  .b-item__ttile-white {
    line-height: 16px;
  }
}
.b-item__text-white {
  color: #c7b299;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
@media (max-width: 1200px) {
  .b-item__text-white {
    line-height: 16px;
  }
}
.b-item__row {
  flex-wrap: wrap;
}
.b-item__img {
  width: 130px;
  height: 98px;
  margin-bottom: 10px;
}
.b-item__img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .b-item__img {
    width: 102px;
    height: 70px;
  }
}
@media (max-width: 992px) {
  .b-item__img {
    width: 82px;
    height: 50px;
  }
}

.footer {
  background-color: #111111;
}
.footer__container {
  padding: 45px 0 52px 0;
}
@media (max-width: 1200px) {
  .footer__container {
    padding: 40px 0 27px 0;
  }
}
@media (max-width: 992px) {
  .footer__container {
    padding: 35px 0 22px 0;
  }
}
.f-left__text {
  color: #555555;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}
.f-left__w-text {
  color: #959595;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin-right: 8px;
}
.f-left__y-text {
  color: #c7b299;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin: 0 2px;
}

.f-right__text {
  color: #959595;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}
.f-right__w-text {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #555555;
}

.fcolumn {
  margin: 0 8px;
  color: #252525;
}

@media (max-width: 1200px) {
  .h-menu__link:nth-child(2) {
    margin-left: 15px;
  }

  .h-menu__link {
    margin-right: 20px;
  }
  .h-menu__link img {
    display: none;
  }
  .h-menu__link:nth-child(8) {
    margin-right: 0;
  }

  .logo__text {
    font-size: 30px;
  }

  .logo__img {
    width: 55px;
    height: 45px;
  }
}
@media (max-width: 992px) {
  .header__burger {
    margin-top: 20px;
    margin-right: 90px;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 9px;
    transition: all 0.3s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .h-menu__list {
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 45px;
  }

  .header__burger.burger-active span {
    transform: scale(0);
  }

  .header__burger.burger-active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.burger-active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .h-menu {
    position: relative;
  }

  .h-menu__list {
    position: absolute;
    top: -700px;
  }

  .h-menu__link {
    margin-top: 7px;
  }

  .h-menu__list.burger-active {
    top: 0;
  }
}
@media (max-width: 1200px) {
  .last-title-b {
    margin-top: 20px;
  }
}