* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.h-item__right-img, .h-item__left-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.header {
  padding-top: 55px;
  position: relative;
}
.header__row {
  justify-content: space-between;
}
.header__logo {
  opacity: 0.68;
  color: #ffffff;
  font-family: "Mrs Eaves Italic";
  font-size: 119px;
  font-weight: 400;
  line-height: 32.99px;
  margin-left: 45px;
}
.header__list {
  display: flex;
}
.header__link {
  color: #ffffff;
  font-family: "Segoe WPN";
  font-size: 23px;
  font-weight: 300;
  margin-left: 60px;
}
.header__baner {
  margin-top: 68px;
}

.container {
  margin: 0 auto;
  max-width: 935px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.rowj {
  justify-content: space-between;
}

.h-item__left-img {
  border: solid 2px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 18%;
  cursor: pointer;
}
.h-item__baner-imges {
  width: 329px;
  height: 329px;
  margin-bottom: -46px;
}
.h-item__body {
  margin-left: 125px;
}
.h-item__body-title {
  color: #ffffff;
  font-family: "Segoe WPN";
  font-size: 65px;
  font-weight: 400;
}
.h-item__body-text {
  color: #ffffff;
  font-size: 45px;
  font-family: "Segoe WPN - Light";
  font-weight: 300;
  margin-bottom: 30px;
}
.h-item__body-button button {
  width: 138px;
  height: 38px;
  border: 4px solid rgba(0, 0, 0, 0.37);
  background-color: #12b367;
  opacity: 0.62;
}
.h-item__body-button button span {
  color: #ffffff;
  font-family: "Segoe WPN";
  font-size: 23px;
  font-weight: 300;
  opacity: 1;
}
.h-item__right-img {
  border: solid 2px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 18%;
  cursor: pointer;
}

.containers {
  display: flex;
  margin: 0 auto;
  width: 1172px;
  justify-content: space-between;
}

.ban {
  margin-top: 100px;
  /* &__column {
       flex: 1 1 25%;
   }*/
}

.this__img {
  text-align: center;
  width: 137px;
  height: 157px;
}
.this__img img {
  width: 100%;
  height: 100%;
}
.this__title {
  color: #5c5b5b;
  font-family: "Segoe WPN";
  font-size: 27px;
  font-weight: 300;
  text-align: center;
  line-height: 26px;
  margin-top: 20px;
}
.this__text {
  color: #5c5b5b;
  font-family: "Segoe WPN";
  font-weight: 300;
  font-size: 23px;
  text-align: center;
  line-height: 40px;
}

.lorem {
  margin-top: 200px;
}
.lorem__img {
  margin: 0 auto;
  max-width: 714px;
  max-height: 339px;
}
.lorem__img img {
  width: 100%;
  height: 100%;
}
.lorem__title {
  margin-top: 20px;
  margin-left: 10px;
  color: #4f4f4f;
  font-family: "Segoe WPN";
  font-size: 39px;
  font-weight: 300;
}
.lorem__text {
  margin-top: 28px;
  margin-left: 10px;
  color: #818181;
  font-family: "Univers CE";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.lorem__text p:first-child {
  margin-bottom: 35px;
}

.why {
  margin-top: 100px;
  margin-bottom: 70px;
}
.why__img {
  width: 440px;
  height: 230px;
}
.why__img img {
  height: 100%;
  width: 100%;
}
.why__right {
  margin-right: -60px;
}
.why__link {
  padding-left: 30px;
  background: url("img/ok.png") 0 8px no-repeat;
  color: #8a8888;
  font-family: "Univers CE";
  font-size: 16px;
  font-weight: 300;
  line-height: 38px;
}

.nw {
  flex-wrap: nowrap;
}

.login {
  margin-top: 23px;
  margin-bottom: 35px;
}
.login__left {
  margin-right: 50px;
  background-color: #e67624;
  padding: 14px 16px 17px 28px;
  border-radius: 5px;
}
.login__right {
  background-color: #01d4f3;
  padding: 14px 16px 17px 27px;
  border-radius: 5px;
}

.containered {
  margin: 0 auto;
  width: 1010px;
}

.l-item__title {
  color: #ffffff;
  font-family: "Segoe WP";
  font-size: 28px;
  font-weight: 300;
  line-height: 21px;
  margin-bottom: 20px;
}
.l-item__input {
  width: 155px;
  height: 26px;
  background-color: #e8e8e8;
  color: #4f4f4f;
  font-family: "Segoe WPN";
  font-size: 16px;
  font-weight: 300;
  line-height: 38px;
  display: inline-block;
  padding-left: 12px;
  /*input{
       width: 155px;
       height: 26px;
       background-color: #e8e8e8;
       color: #4f4f4f;
       font-family: "Segoe WPN";
       font-size: 16px;
       font-weight: 300;
       line-height: 38px;
       display: inline-block;
   }*/
  margin-right: 14px;
}
.l-item__button {
  width: 94px;
  height: 30px;
  background-color: #444444;
  color: #ffffff;
  font-family: "Segoe WPN";
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  display: inline-block;
}

.r-item__title {
  color: #ffffff;
  font-family: "Segoe WP";
  font-size: 28px;
  font-weight: 300;
  line-height: 21px;
  margin-bottom: 20px;
}
.r-item__input {
  display: inline-block;
  width: 265px;
  height: 26px;
  background-color: #e8e8e8;
  color: #4f4f4f;
  font-family: "Segoe WPN";
  font-size: 16px;
  font-weight: 300;
  line-height: 38px;
  margin-right: 50px;
  padding-left: 10px;
}
.r-item__button {
  display: inline-block;
  width: 111px;
  height: 30px;
  background-color: #029bb1;
  color: #ffffff;
  font-family: "Segoe WPN";
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.hr {
  height: 1px;
  opacity: 0.11;
  background-color: #080808;
}

.footer {
  padding: 34px 0 46px 0;
  background-color: #2a282a;
}
.footer__column {
  margin-left: 90px;
}
.footer__column:first-child {
  margin-left: 0;
}
.footer__column:last-child {
  margin-left: 65px;
}
.footer__title {
  color: #ffffff;
  font-family: "Segoe WP";
  font-size: 22px;
  font-weight: 300;
  line-height: 33px;
  margin-bottom: 10px;
}
.footer__link {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Arial MT";
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}
.footer__img-column {
  margin-top: 10px;
}
.footer__img-column img {
  margin-left: 8px;
}
.footer__logo {
  margin-top: 66px;
}
.footer__logo-text {
  opacity: 0.22;
  color: #ffffff;
  font-family: "Mrs Eaves Italic";
  font-size: 119px;
  font-weight: 400;
  line-height: 32.99px;
  margin-bottom: 50px;
}

.f-container {
  margin: 0 auto;
  max-width: 970px;
}

.actived {
  opacity: 0.66;
  color: #ffffff;
  font-family: "Arial - Bold MT";
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}