@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Merriweather:wght@300;400;700&family=Varta:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  overflow: hidden;
}

.header {
  width: 100%;
  background: #F3EEE8;
  max-height: 100vh;
}
.header .row {
  align-items: start;
}
.header__container {
  flex: 0 0 50%;
  width: 50%;
  padding-left: 150px;
}
.header__top {
  padding: 65px 0px 0px 0px;
  margin-bottom: 95px;
}
.header__menu {
  width: 470px;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.header__link {
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #706458;
  transition: all 1s;
  display: inline-block;
}
.header__link_active {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 25px;
  letter-spacing: 2px;
  color: #A06056;
}
.header__link:hover {
  color: #A06056;
  transform: scale(1.5);
}
.header__subtitle {
  font-family: "Varta";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 50px;
  letter-spacing: 1px;
  color: #A06056;
}
.header__title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 70px;
  margin-bottom: 30px;
  letter-spacing: -0.4px;
  color: #A06056;
  max-width: 420px;
  -webkit-animation: title 0.5s linear 0s forwards;
          animation: title 0.5s linear 0s forwards;
}
@-webkit-keyframes title {
  0% {
    transform: scale(0);
    opacity: 0;
    position: relative;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes title {
  0% {
    transform: scale(0);
    opacity: 0;
    position: relative;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.header__text {
  font-family: "Varta";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 31px;
  max-width: 420px;
  color: rgba(112, 100, 88, 0.9);
}
.header__btn {
  margin-bottom: 65px;
}
.header__lump {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  bottom: -100vh;
  right: 0;
  opacity: 0;
  -webkit-animation: top 2s linear 0s forwards;
          animation: top 2s linear 0s forwards;
}
@-webkit-keyframes top {
  100% {
    bottom: 0;
    opacity: 1;
    right: 0;
  }
}
@keyframes top {
  100% {
    bottom: 0;
    opacity: 1;
    right: 0;
  }
}
.header__lump img {
  width: 100%;
  height: 100vh;
}

.main {
  background: #F3EEE8;
}

.find {
  padding-top: 65px;
  margin-bottom: 150px;
}
.find__title {
  margin-bottom: 48px;
}
.find__body {
  margin-bottom: 48px;
}
.find__body .row {
  align-items: start;
}
.find__year {
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(112, 100, 88, 0.9);
  opacity: 0.5;
}
.find__text {
  max-width: 165px;
}
.find__item {
  width: 240px;
}
.find__info {
  width: 980px;
}
.find__image {
  position: relative;
  width: 261.25px;
  height: 350px;
}
.find__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 1s;
  border: 5px solid transparent;
}
.find__img img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.find__subtitle {
  position: absolute;
  top: 50%;
  left: 90%;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  text-align: center;
  line-height: 60px;
  letter-spacing: -0.6px;
  color: #A06056;
  opacity: 0;
  transition: all 1s;
}
.find__subtitle._active {
  opacity: 1;
  left: 50%;
}
.find__subtext {
  transition: all 1s;
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(112, 100, 88, 0.9);
  margin-left: 32px;
}
.find__item {
  transition: all 2s;
}
.find__item:hover .find__subtext {
  transform: translateY(15px);
  color: #000;
}
.find__item:hover .find__img {
  border: 5px solid #fff;
  box-shadow: 1px 1px 20px rgb(205, 151, 151);
}
.find__item:hover .find__img img {
  transform: scale(1.2) rotate(-5deg);
}

.title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.6px;
  color: #706458;
  position: relative;
  bottom: -200px;
  transition: all 0.5s;
  opacity: 0;
}
.title._active {
  bottom: 0;
  opacity: 1;
}

.text {
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(112, 100, 88, 0.9);
}

.description {
  padding-bottom: 70px;
}
.description__row {
  align-items: start;
}
.description__title {
  max-width: 458px;
  margin-bottom: 30px;
}
.description__info {
  flex: 0 0 50%;
}
.description__info .row {
  align-items: start;
  row-gap: 30px;
}
.description__block {
  flex: 0 0 50%;
}
.description__item {
  max-width: 259px;
}
.description__subtitle {
  font-family: "Varta";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.2px;
  color: #A06056;
  max-width: 259px;
  margin-bottom: 12px;
}
.description__text {
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(112, 100, 88, 0.9);
  max-width: 259px;
  position: relative;
  transition: all 2s;
}
.description__text_1 {
  left: -150px;
}
.description__text_1._active {
  left: 0;
}
.description__text_2 {
  right: -150px;
}
.description__text_2._active {
  right: 0;
}
.description__text_3 {
  left: -150px;
}
.description__text_3._active {
  left: 0;
}
.description__text_4 {
  right: -150px;
}
.description__text_4._active {
  right: 0;
}

.sliders {
  margin-bottom: 70px;
  padding-top: 70px;
  max-width: 100vw;
  overflow: hidden;
  background-color: #fff;
}
.sliders__top {
  margin-bottom: 50px;
}
.sliders__title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 15px;
  letter-spacing: -0.3px;
  color: #121212;
}
.sliders__text {
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  color: rgba(112, 100, 88, 0.9);
}
.sliders__mail {
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(112, 100, 88, 0.9);
}
.sliders__btn {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  padding: 12px 29px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.3px;
  background: #534B42;
  border-radius: 1px;
  color: #FFFFFF;
  transition: all 1s;
  width: 143px;
}
.sliders__btn:hover {
  border-radius: 10px;
  background-color: #000;
  box-shadow: 1px 1px 30px #534B42;
}
.sliders__body {
  margin: 0 -20px;
  margin-bottom: 40px;
}
.sliders__body .row {
  flex-wrap: nowrap;
}
.sliders__item {
  padding: 0 20px;
  min-width: 506px;
  height: 550px;
}
.sliders__item img {
  width: 100%;
  height: 100%;
}
.sliders__bottom .row {
  justify-content: start;
  align-items: start;
}
.sliders__undertitle {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 40px;
  letter-spacing: -0.3px;
  color: #534B42;
}
.sliders__article {
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  max-width: 360px;
  margin-left: 130px;
  color: #706458;
  position: relative;
  right: -500px;
  transition: all 2s;
}
.sliders__article._active {
  right: 0;
}

.footer {
  background: #F3EEE8;
  padding: 70px 0;
}
.footer__info .row {
  align-items: start;
}
.footer__title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 25px;
  letter-spacing: 2px;
  color: #534B42;
}
.footer__subtitle {
  font-family: "Varta";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 22px;
  letter-spacing: -0.2px;
  color: #534B42;
}
.footer__link {
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 12px;
  color: #706458;
}
.footer__img {
  width: 242.09px;
  height: 182px;
  margin-bottom: 10px;
}
.footer__img img {
  width: 100%;
  height: 100%;
}
.footer__text {
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  max-width: 235px;
  color: #706458;
  margin-bottom: 15px;
}
.footer__icons {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.footer__year {
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(112, 100, 88, 0.7);
}
.footer__additional {
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-left: 30px;
  color: rgba(112, 100, 88, 0.7);
}

.link {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.3px;
  color: #A06056;
  position: relative;
  display: inline-block;
  background-color: transparent;
}
.link::after {
  position: absolute;
  content: "";
  background: url("../img/arr.svg") center/cover no-repeat;
  width: 20px;
  height: 23px;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
}

.new {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  height: 400px;
  display: none;
  z-index: 5;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  border: 10px solid #F3EEE8;
}
.new__hide {
  top: -20px;
  right: -20px;
}
.new__text {
  max-width: 100%;
  text-align: center;
  font-family: "Varta";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 31px;
  max-width: 420px;
  color: rgba(87, 75, 63, 0.9);
}

.hide {
  cursor: pointer;
  width: 70px;
  height: 70px;
  background-color: red;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
}
.hide::after {
  position: absolute;
  width: 50px;
  height: 2px;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%) rotate(45deg);
  background-color: #000;
}
.hide::before {
  position: absolute;
  width: 50px;
  height: 2px;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%) rotate(-45deg);
  background-color: #000;
}

.show {
  display: flex;
}

.remowe {
  display: none;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
.slick-list__draggable {
  width: 1100px;
}

.draggable {
  position: relative;
  right: -150px;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: center;
}

/* Слайд */
.slick-slide {
  margin: 0 20px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  flex: 0 0 33.333%;
}

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  display: none;
  font-size: 0;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  display: none;
}

/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slick-arrow.slick-next {
  display: none;
}