@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  transition: all 1s;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.page {
  display: flex;
  flex-direction: column;
}

.main-screen {
  flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.footer {
  position: relative;
  padding: 100px 0;
}

.bg-f {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -100;
}
@media (max-width: 580px) {
  .bg {
    display: none;
  }
}

.bg-2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -100;
}
@media (max-width: 640px) {
  .bg-2 {
    display: block;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.header {
  padding-top: 30px;
  position: relative;
  height: 100vh;
}
@media (max-width: 992px) {
  .header {
    padding-top: 20px;
  }
}
.header__title {
  color: #857b7b;
  font-size: 48px;
  font-family: Pacifico;
  transition: all 1s;
  display: inline-block;
  margin-top: 300px;
  width: 100vh;
}
.header__title h1 {
  transform-origin: center;
  transform: rotate(40deg);
}
@media (max-width: 1200px) {
  .header__title {
    margin-top: 420px;
  }
}
@media (max-width: 787px) {
  .header__title {
    margin-top: 280px;
  }
}
@media (max-width: 580px) {
  .header__title {
    color: #000;
    text-shadow: 0 0 20px #fff;
    font-size: 33px;
    padding-right: 30px;
    margin-top: 220px;
  }
}
@media (max-width: 400px) {
  .header__title {
    font-size: 25px;
    margin-left: -30px;
  }
}
@media (max-width: 310px) {
  .header__title {
    font-size: 20px;
  }
}
@media (max-width: 260px) {
  .header__title {
    font-size: 18px;
    margin-left: -50px;
  }
}
@media (max-width: 190px) {
  .header__title {
    font-size: 15px;
    margin-left: -50px;
  }
}
.header__title:hover {
  font-size: 55px;
}
@media (max-width: 992px) {
  .header__title:hover {
    font-size: 44px;
  }
}
@media (max-width: 580px) {
  .header__title:hover {
    font-size: 35px;
  }
}
@media (max-width: 360px) {
  .header__title:hover {
    font-size: 25px;
  }
}
@media (max-width: 240px) {
  .header__title:hover {
    font-size: 20px;
  }
}
.h-menu {
  margin-right: 50%;
  margin-top: 2%;
}
@media (max-width: 1200px) {
  .h-menu {
    margin: 0 auto;
    margin-top: 3%;
  }
}
.h-menu__list {
  display: flex;
  justify-content: space-between;
}
.h-menu__link a {
  margin: 0 5px;
  color: #424449;
  font-size: 30px;
  font-family: vollkorn;
  font-weight: bold;
  transition: all 1s;
  padding: 10px;
}
@media (max-width: 787px) {
  .h-menu__link a {
    font-size: 40px;
  }
}
@media (max-width: 360px) {
  .h-menu__link a {
    font-size: 30px;
  }
}
.h-menu__link a:hover {
  text-shadow: 0 0 30px #fff;
  color: #202020;
}
.h-menu__link_active a {
  text-shadow: 0 0 30px #fff;
  color: #202020;
}

.scill {
  padding: 70px 0;
  background-image: linear-gradient(to left, #000, #e3e2ec, #000);
}
@media (max-width: 992px) {
  .scill {
    padding: 55px 25px;
  }
}
@media (max-width: 787px) {
  .scill {
    padding: 30px 0;
  }
}
@media (max-width: 580px) {
  .scill {
    padding: 20px 0;
  }
}
@media (max-width: 360px) {
  .scill {
    padding: 10px 0;
  }
}
.scill__title {
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .scill__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 787px) {
  .scill__title {
    margin-bottom: 28px;
  }
}
@media (max-width: 580px) {
  .scill__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 360px) {
  .scill__title {
    margin-bottom: 15px;
  }
}
.scill__row {
  margin: 0 -75px;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .scill__row {
    margin: 0 -30px;
  }
}
.scill__column {
  flex: 0 0 50%;
  padding: 0 75px;
}
@media (max-width: 992px) {
  .scill__column {
    padding: 0 20px;
  }
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 800px;
  }
}
@media (max-width: 787px) {
  .container {
    padding: 0 70px;
  }
}
@media (max-width: 580px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 360px) {
  .container {
    padding: 0 30px;
  }
}

.all-title {
  font-family: Istok Web;
  font-weight: bold;
  font-size: 50px;
  color: #000;
  text-align: center;
  text-shadow: 2px 2px 0 #413f3f;
}
@media (max-width: 787px) {
  .all-title {
    font-size: 35px;
  }
}
@media (max-width: 580px) {
  .all-title {
    font-size: 27px;
  }
}
@media (max-width: 787px) {
  .scill__row {
    display: block;
  }
}
.scill__column {
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .scill__column {
    margin-bottom: 35px;
  }
}
@media (max-width: 787px) {
  .scill__column {
    margin-bottom: 30px;
  }
}
@media (max-width: 580px) {
  .scill__column {
    margin-bottom: 25px;
  }
}
@media (max-width: 360px) {
  .scill__column {
    margin-bottom: 18px;
  }
}

.box__row {
  align-items: flex-start;
}
@media (max-width: 787px) {
  .box__row {
    align-items: center;
  }
}
.box__marker {
  width: 200px;
  height: 200px;
  margin-right: 35px;
}
@media (max-width: 992px) {
  .box__marker {
    width: 130px;
    height: 130px;
    margin-right: 15px;
    margin-top: 10px;
  }
}
@media (max-width: 787px) {
  .box__marker {
    width: 120px;
    height: 120px;
    margin-right: 20px;
  }
}
@media (max-width: 399px) {
  .box__marker {
    width: 80px;
    height: 80px;
    display: none;
  }
}
@media (max-width: 299px) {
  .box__marker {
    display: none;
  }
}
.box__marker img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.box__text {
  max-width: 320px;
  font-family: Istok Web;
  font-size: 20px;
  color: #000;
  text-align: justify;
}
@media (max-width: 992px) {
  .box__text {
    max-width: 230px;
  }
}
@media (max-width: 787px) {
  .box__text {
    max-width: 350px;
  }
}
@media (max-width: 580px) {
  .box__text {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .box__text {
    font-size: 13px;
  }
}
.box__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
@media (max-width: 787px) {
  .box__title {
    font-size: 25px;
  }
}
@media (max-width: 580px) {
  .box__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
@media (max-width: 360px) {
  .box__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.box__descr {
  text-shadow: 0 0 30px #fff;
}
@media (max-width: 992px) {
  .box__descr {
    font-size: 18px;
    text-align: left;
  }
}
@media (max-width: 787px) {
  .box__descr {
    font-size: 16px;
  }
}
@media (max-width: 580px) {
  .box__descr {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .box__descr {
    font-size: 13px;
  }
}

.hide {
  display: none;
}
.show {
  display: flex;
  flex-direction: column;
}
.box__title {
  font-family: vollkorn;
}
.box__title_html {
  color: #c9620f;
}
.box__title_css {
  color: #0689a7;
}
.box__title_js {
  color: #c7e022;
}
.box__title_w {
  color: #f1edea;
}

.i {
  padding: 80px 0;
  background-image: linear-gradient(to left, #000, #e3e2ec, #000);
}
@media (max-width: 992px) {
  .i__row {
    display: block;
  }
}
@media (max-width: 1200px) {
  .i {
    padding: 60px 0;
  }
}
@media (max-width: 992px) {
  .i {
    padding: 45px 0;
  }
}
@media (max-width: 787px) {
  .i {
    padding: 30px 0;
  }
}
@media (max-width: 360px) {
  .i {
    padding: 10px 0;
  }
}
.i__title {
  margin-bottom: 40px;
}
@media (max-width: 787px) {
  .i__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 580px) {
  .i__title {
    margin-bottom: 20px;
    font-size: 27px;
  }
}
@media (max-width: 992px) {
  .tab__wrapper {
    max-width: 400px;
    margin: 0 auto;
  }
}
@media (max-width: 787px) {
  .tab__wrapper {
    max-width: 300px;
  }
}
.tab__click {
  padding: 15px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 20px;
  color: #000;
  border: solid 2px #000;
  border-radius: 30%;
  transition: all 1s;
  box-shadow: 0 0 20px #fff;
  font-family: vollkorn;
}
@media (max-width: 992px) {
  .tab__click {
    padding: 10px;
    margin: 0 3px;
    font-size: 17px;
  }
}
@media (max-width: 580px) {
  .tab__click {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .tab__click {
    padding: 5px;
    margin: 0 3px;
    font-size: 13px;
  }
}
.tab__click:hover {
  background-color: #000;
  color: #fff;
  border: solid 2px #fff;
  box-shadow: 0 0 20px #000;
}
.tab__content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 190px;
}
@media (max-width: 992px) {
  .tab__content {
    min-height: 150px;
  }
}
@media (max-width: 787px) {
  .tab__content {
    margin-top: 35px;
  }
}
@media (max-width: 580px) {
  .tab__content {
    min-height: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.tab__item {
  position: absolute;
  flex: 1 0 100%;
  width: 500px;
  font-size: 20px;
  font-family: Istok Web;
  font-size: 20px;
  color: #000;
  text-align: justify;
  min-height: 100%;
  z-index: 10;
  text-shadow: 0 0 20px #fff;
}
@media (max-width: 1200px) {
  .tab__item {
    font-size: 19px;
    margin-left: 10px;
  }
}
@media (max-width: 992px) {
  .tab__item {
    width: 600px;
    margin-left: 40px;
  }
}
@media (max-width: 787px) {
  .tab__item {
    margin-left: 0;
    width: 420px;
    font-size: 15px;
  }
}
@media (max-width: 583px) {
  .tab__item {
    width: 330px;
    font-size: 13px;
    position: relative;
  }
}
.slider {
  margin-left: 30px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  left: 100px;
}
@media (max-width: 1200px) {
  .slider {
    width: 400px;
  }
}
@media (max-width: 992px) {
  .slider {
    left: 0px;
  }
}
@media (max-width: 580px) {
  .slider {
    width: 300px;
  }
}
@media (max-width: 360px) {
  .slider {
    width: 200px;
  }
}
.slider__row {
  align-items: center;
  justify-content: space-between;
}
.slider__item {
  width: 300px;
}
@media (max-width: 1200px) {
  .slider__item {
    width: 250px;
  }
}
@media (max-width: 992px) {
  .slider__item {
    width: 200px;
  }
}
@media (max-width: 787px) {
  .slider__item {
    width: 170px;
  }
}
@media (max-width: 580px) {
  .slider__item {
    width: 150px;
  }
}
@media (max-width: 360px) {
  .slider__item {
    width: 100px;
  }
}
.slider__item img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
}
.n {
  display: block;
}
.prev {
  cursor: pointer;
}

.next {
  cursor: pointer;
  box-shadow: #dd0b0b;
}

.b {
  width: 100%;
  height: 3px;
  background-color: #000;
}
.m {
  display: none;
}
.deacr {
  transition: all 2s;
  padding: 80px 0;
  background-image: linear-gradient(to left, #000, #e3e2ec, #000);
}
@media (max-width: 992px) {
  .deacr {
    padding: 50px 0;
  }
}
@media (max-width: 787px) {
  .deacr {
    padding: 25px 0;
  }
}
@media (max-width: 580px) {
  .deacr {
    padding: 20px 0;
  }
}
@media (max-width: 360px) {
  .deacr {
    padding: 11px 0;
  }
}
.deacr__title {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .deacr__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 787px) {
  .deacr__title {
    margin-bottom: 15px;
  }
}
.deacr__taxt {
  font-family: Istok Web;
  font-size: 40px;
  color: #000;
  font-weight: 700;
  max-width: 800px;
  transition: 3s;
  height: 400px;
}
@media (max-width: 1200px) {
  .deacr__taxt {
    height: 250px;
    font-size: 35px;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .deacr__taxt {
    font-size: 27px;
    height: 200px;
    max-width: 700px;
  }
}
@media (max-width: 787px) {
  .deacr__taxt {
    font-size: 20px;
    height: 145px;
  }
}
@media (max-width: 580px) {
  .deacr__taxt {
    height: 180px;
    font-size: 17px;
  }
}
@media (max-width: 360px) {
  .deacr__taxt {
    font-size: 13px;
    height: 155px;
  }
}
@media (max-width: 260px) {
  .deacr__taxt {
    font-size: 13px;
    height: 175px;
  }
}

.btn {
  margin: 40px 0;
  text-align: center;
  padding: 25px 45px;
  font-size: 30px;
  background-image: linear-gradient(to top, #000, #000, #fff, #000, #000);
  color: #000;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 20px #000;
  transition: all 0.5s;
  font-family: vollkorn;
}
@media (max-width: 992px) {
  .btn {
    margin: 30px 0;
    padding: 20px 30px;
    font-size: 22px;
  }
}
.btn:hover {
  padding: 20px 40px;
  margin: 45px 10px;
}
@media (max-width: 992px) {
  .btn:hover {
    margin: 35px 5px;
    padding: 15px 25px;
  }
}
.v {
  text-align: center;
  background-image: linear-gradient(to left, #000, #e3e2ec, #000);
}

.footer {
  padding: 60px 0;
}
@media (max-width: 1200px) {
  .footer {
    padding: 55px 0;
  }
}
@media (max-width: 992px) {
  .footer {
    padding: 50px 0;
  }
}
@media (max-width: 787px) {
  .footer {
    padding: 45px 0;
  }
}
@media (max-width: 580px) {
  .footer {
    padding: 40px 0;
  }
}
@media (max-width: 360px) {
  .footer {
    padding: 24px 0;
  }
}
.footer__text {
  text-align: center;
  font-size: 30px;
  font-family: vollkorn;
}
.footer__text a {
  color: #000;
  transition: all 1s;
}
.footer__text a:hover {
  text-decoration: underline;
}
.portfolio {
  padding: 80px 0;
  background-image: linear-gradient(to left, #000, #e3e2ec, #000);
}
@media (max-width: 1200px) {
  .portfolio {
    padding: 60px 0;
  }
}
@media (max-width: 992px) {
  .portfolio {
    padding: 50px 0;
  }
}
@media (max-width: 787px) {
  .portfolio {
    padding: 35px 0;
  }
}
@media (max-width: 580px) {
  .portfolio {
    padding: 25px 0;
  }
}
@media (max-width: 360px) {
  .portfolio {
    padding: 15px 0;
    padding-bottom: 5px;
  }
}
.portfolio__title {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .portfolio__title {
    margin-bottom: 25px;
  }
}
@media (max-width: 787px) {
  .portfolio__title {
    margin-bottom: 18px;
  }
}
@media (max-width: 580px) {
  .portfolio__title {
    margin-bottom: 14px;
  }
}
@media (max-width: 360px) {
  .portfolio__title {
    margin-bottom: 13px;
  }
}
.portfolio__text {
  margin: 30px 0;
  font-family: Istok Web;
  font-size: 25px;
  color: #000;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .portfolio__text {
    font-size: 24px;
    margin: 26px 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 787px) {
  .portfolio__text {
    font-size: 20px;
    margin: 22px 0;
  }
}
@media (max-width: 580px) {
  .portfolio__text {
    font-size: 18px;
    margin: 20px 0;
  }
}
@media (max-width: 360px) {
  .portfolio__text {
    font-size: 15px;
    margin: 18px 0;
  }
}

.string {
  border: solid 2px #2424aa;
  box-shadow: 0 0 20px #2424aa;
  padding: 25px 10px;
  margin-bottom: 20px;
  transition: all 0.5s;
}
@media (max-width: 1200px) {
  .string {
    margin: 0 15px;
    margin-bottom: 10px;
  }
}
@media (max-width: 787px) {
  .string {
    margin: 0 -90px;
    margin-bottom: 10px;
    padding: 23px 8px;
  }
}
@media (max-width: 360px) {
  .string {
    margin: 0 -35px 10px -35px;
  }
}
.string:hover {
  padding: 35px 20px;
}
@media (max-width: 787px) {
  .string:hover {
    padding: 25px 10px;
  }
}
.string .row {
  align-items: center;
}
@media (max-width: 580px) {
  .string .row {
    display: block;
  }
}
.string__title {
  font-size: 30px;
  font-family: vollkorn;
  color: #000;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .string__title {
    font-size: 18px;
  }
}
@media (max-width: 787px) {
  .string__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
@media (max-width: 580px) {
  .string__title {
    font-size: 21px;
    text-align: center;
  }
}
.string__descr {
  font-family: Istok Web;
  font-size: 20px;
  color: #000;
  max-width: 600px;
  text-align: justify;
  line-height: 25px;
}
@media (max-width: 992px) {
  .string__descr {
    max-width: 400px;
    font-size: 17.5px;
    line-height: 15px;
  }
}
@media (max-width: 787px) {
  .string__descr {
    font-size: 15px;
    max-width: 230px;
    line-height: 15px;
    text-align: left;
  }
}
@media (max-width: 580px) {
  .string__descr {
    font-size: 20px;
    text-align: center;
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 19px;
  }
}
@media (max-width: 360px) {
  .string__descr {
    line-height: 16.5px;
  }
}
.string__link {
  font-size: 20px;
  font-family: vollkorn;
  color: #000;
  transition: all 0.5s;
}
@media (max-width: 992px) {
  .string__link {
    font-size: 19px;
  }
}
@media (max-width: 787px) {
  .string__link {
    font-size: 14px;
  }
}
@media (max-width: 580px) {
  .string__link {
    text-align: center;
    font-size: 18px;
  }
}
@media (max-width: 360px) {
  .string__link {
    font-size: 14px;
  }
}
.string__link:hover {
  transform: scale(-1, 1);
  display: flex;
  flex-direction: row-reverse;
}
.string__link:target {
  transform: scale(1, -1);
}
.string__link a {
  color: #000;
}

.contact {
  padding: 70px 0;
  background-image: linear-gradient(to left, #000, #e3e2ec, #000);
}
@media (max-width: 1200px) {
  .contact {
    padding: 60px 0;
  }
}
@media (max-width: 992px) {
  .contact {
    padding: 50px 0;
  }
}
@media (max-width: 787px) {
  .contact {
    padding: 35px 0;
  }
}
@media (max-width: 580px) {
  .contact {
    padding: 25px 0;
  }
}
@media (max-width: 360px) {
  .contact {
    padding: 15px 0;
    padding-bottom: 5px;
  }
}
.contact__title {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .contact__title {
    margin-bottom: 25px;
  }
}
@media (max-width: 787px) {
  .contact__title {
    margin-bottom: 18px;
  }
}
@media (max-width: 580px) {
  .contact__title {
    margin-bottom: 14px;
  }
}
@media (max-width: 360px) {
  .contact__title {
    margin-bottom: 13px;
  }
}
.contact__text {
  margin: 30px 0;
  font-family: Istok Web;
  font-size: 25px;
  color: #000;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
  margin: 30px 0;
  font-family: Istok Web;
  font-size: 25px;
  color: #000;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .contact__text {
    font-size: 24px;
    margin: 26px 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 787px) {
  .contact__text {
    font-size: 20px;
    margin: 22px 0;
  }
}
@media (max-width: 580px) {
  .contact__text {
    font-size: 18px;
    margin: 20px 0;
  }
}
@media (max-width: 360px) {
  .contact__text {
    font-size: 15px;
    margin: 18px 0;
  }
}

.soc {
  border: solid 2px #4e0269;
  box-shadow: 0 0 20px #4e0269;
  padding: 25px 10px;
  margin-bottom: 20px;
  transition: all 0.5s;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .soc {
    margin: 0 15px;
    margin-bottom: 10px;
  }
}
@media (max-width: 787px) {
  .soc {
    margin: 0 -20px;
    margin-bottom: 10px;
    padding: 23px 8px;
  }
}
@media (max-width: 360px) {
  .soc {
    margin: 0 -26px 10px -26px;
  }
}
.soc:hover {
  padding: 35px 20px;
}
@media (max-width: 787px) {
  .soc:hover {
    padding: 25px 10px;
  }
}
.soc__row {
  align-items: center;
}
@media (max-width: 580px) {
  .soc__row {
    display: block;
  }
}
.soc__title {
  color: #000;
  font-size: 30px;
  font-family: vollkorn;
  margin-bottom: 30px;
  margin-left: 80px;
}
@media (max-width: 992px) {
  .soc__title {
    font-size: 18px;
  }
}
@media (max-width: 787px) {
  .soc__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
@media (max-width: 580px) {
  .soc__title {
    font-size: 21px;
    text-align: center;
    margin-left: 0;
  }
}
.soc__text {
  font-family: Istok Web;
  font-size: 20px;
  color: #000;
  max-width: 600px;
  text-align: justify;
  line-height: 25px;
}
@media (max-width: 1200px) {
  .soc__text {
    max-width: 550px;
  }
}
@media (max-width: 992px) {
  .soc__text {
    max-width: 380px;
    font-size: 17.5px;
    line-height: 15px;
  }
}
@media (max-width: 787px) {
  .soc__text {
    font-size: 15px;
    max-width: 230px;
    line-height: 15px;
    text-align: left;
  }
}
@media (max-width: 580px) {
  .soc__text {
    font-size: 20px;
    text-align: center;
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 19px;
  }
}
@media (max-width: 360px) {
  .soc__text {
    line-height: 16.5px;
  }
}
.soc .row {
  align-items: center;
}
.soc__link {
  font-size: 20px;
  font-family: vollkorn;
  transition: all 0.5s;
}
@media (max-width: 1200px) {
  .soc__link {
    max-width: 350px;
  }
}
@media (max-width: 992px) {
  .soc__link {
    font-size: 19px;
    max-width: 330px;
  }
}
@media (max-width: 787px) {
  .soc__link {
    font-size: 14px;
    max-width: 240px;
  }
}
@media (max-width: 580px) {
  .soc__link {
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    max-width: 290px;
  }
}
@media (max-width: 360px) {
  .soc__link {
    font-size: 14px;
  }
}
.soc__link a {
  color: #000;
  display: inline-block;
  transition: all 0.8s;
}
.soc__link a:hover {
  color: #4e0269;
}
.know {
  padding: 80px 0;
  padding-left: 150px;
  background-image: linear-gradient(to left, #000, #e3e2ec, #000);
}
@media (max-width: 1200px) {
  .know {
    padding: 60px 0;
  }
}
@media (max-width: 992px) {
  .know {
    padding: 50px 0;
  }
}
@media (max-width: 787px) {
  .know {
    padding: 35px 0;
  }
}
@media (max-width: 580px) {
  .know {
    padding: 25px 0;
  }
}
@media (max-width: 360px) {
  .know {
    padding: 15px 0;
    padding-bottom: 5px;
  }
}
.know__title {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .know__title {
    margin-bottom: 25px;
  }
}
@media (max-width: 787px) {
  .know__title {
    margin-bottom: 18px;
  }
}
@media (max-width: 580px) {
  .know__title {
    margin-bottom: 14px;
  }
}
@media (max-width: 360px) {
  .know__title {
    margin-bottom: 13px;
  }
}

.knows__title {
  margin-left: 80px;
  font-size: 30px;
  color: #a31611;
  font-family: vollkorn;
  margin-bottom: 30px;
  margin-top: 30px;
  transition: all 0.5s;
}
@media (max-width: 787px) {
  .knows__title {
    font-size: 26px;
    margin: 23px 0 15px 80px;
  }
}
@media (max-width: 580px) {
  .knows__title {
    font-size: 23px;
    margin: 18px 0 13px 80px;
  }
}
@media (max-width: 360px) {
  .knows__title {
    margin-left: 50px;
  }
}
.knows__title:hover {
  color: #aa854e;
}
.knows__subtitle {
  font-family: Istok Web;
  font-size: 25px;
  color: #000;
  text-shadow: 0 0 10px #f8f6f6;
}
@media (max-width: 992px) {
  .knows__subtitle {
    margin-left: 10px;
  }
}
@media (max-width: 787px) {
  .knows__subtitle {
    font-size: 23px;
  }
}
@media (max-width: 580px) {
  .knows__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 360px) {
  .knows__subtitle {
    font-size: 15px;
  }
}
.knows__text {
  font-family: Istok Web;
  font-size: 20px;
  color: #000;
  max-width: 630px;
  line-height: 25px;
  margin: 10px 0 10px 50px;
  transition: all 0.5s;
}
@media (max-width: 787px) {
  .knows__text {
    max-width: 500px;
    line-height: 20px;
    font-size: 17px;
  }
}
@media (max-width: 580px) {
  .knows__text {
    max-width: 320px;
    line-height: 15px;
    font-size: 14px;
  }
}
.knows__text:hover {
  font-size: 23px;
}
@media (max-width: 787px) {
  .knows__text:hover {
    font-size: 17px;
  }
}
@media (max-width: 580px) {
  .knows__text:hover {
    font-size: 14px;
  }
}
@media (max-width: 787px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 50;
  }
  .header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 9px;
    transition: all 0.3s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .h-menu__list {
    flex-direction: column;
    justify-content: flex-end;
  }

  .header__burger.burger-active span {
    transform: scale(0);
  }

  .header__burger.burger-active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.burger-active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .h-menu {
    position: relative;
  }

  .h-menu__list {
    position: absolute;
    top: -700px;
  }

  .h-menu__link {
    margin-top: 7px;
    margin-bottom: 10px;
    margin-right: 150px;
  }
}
@media (max-width: 787px) and (max-width: 787px) {
  .h-menu__link {
    font-size: 40px;
    margin-right: 240px;
    margin-top: 7px;
    margin-bottom: 10px;
  }
}
@media (max-width: 787px) {
  .h-menu__list.burger-active {
    top: 50px;
    left: 90px;
  }
}
@media (max-width: 787px) {
  .header__menu {
    max-width: 300px;
    margin-left: 54%;
    margin-right: 4%;
  }
}
@media (max-width: 787px) {
  .header.burger-active {
    background-image: linear-gradient(to left, #000, #e3e2ec, #000);
  }
}
@media (max-width: 787px) {
  .header__row {
    flex-direction: row-reverse;
  }
}
@media (max-width: 787px) {
  .header__title.burger-active {
    display: none;
  }
}
@media (max-width: 787px) {
  .h-menu__list.burger-active {
    left: -150px;
  }
}
.menu-item a {
  margin: 0 5px;
  color: #424449;
  font-size: 30px;
  font-family: vollkorn;
  font-weight: bold;
  transition: all 1s;
  padding: 10px;
}
@media (max-width: 787px) {
  .menu-item a {
    font-size: 40px;
    margin-right: 240px;
    margin-top: 7px;
    margin-bottom: 10px;
  }
}
@media (max-width: 360px) {
  .menu-item a {
    font-size: 30px;
  }
}
.menu-item a:hover {
  text-shadow: 0 0 30px #fff;
  color: #202020;
}

.current-menu-item a {
  text-shadow: 0 0 30px #fff;
  color: #202020;
}