@import "nullstyle.scss";
@import "fonts.scss";

body {
   background: #1a1a1a;
   width: 100vw;
   overflow-x: hidden;
}
$wd: 373px;
.header {
   position: relative;
   width: 100vw;
   height: 100vh;
   overflow-x: hidden;
   padding-top: 48px;
   margin-bottom: 200px;
   &__top {
      margin-bottom: 40px;
   }

   &__logo {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;

      background: linear-gradient(307.72deg, #a7f306 2.04%, #f3cd06 98.59%), #ffffff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
   }

   &__menu {
      width: 695px;
   }

   &__link {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      opacity: 0.5;
   }
   &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__registration {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
   }

   &__title {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 800;
      font-size: 60px;
      line-height: 141px;
      text-align: center;
      letter-spacing: 1px;
      background: linear-gradient(90.01deg, #ffffff 0.01%, rgba(255, 255, 255, 0.3) 49.48%, #ffffff 99.99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin-bottom: 50px;
      span {
         // background: linear-gradient(90.01deg, #f3cd06 0.01%, rgba(255, 255, 255, 0.3) 49.48%, #ffffff 99.99%);
         color: #f3cd06;
         -webkit-background-clip: text;
         -webkit-text-fill-color: #f3cd06;
         background-clip: text;
         text-fill-color: #f3cd06;
      }
   }

   &__info {
      .row {
         align-items: start;
      }
   }

   &__company {
      .row {
         column-gap: 20px;
      }
   }

   &__item {
      padding: 30px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
      // opacity: 0.2;
      border-radius: 32px;
   }

   &__num {
      font-family: "Plus Jakarta Display";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 52px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      opacity: 1;
      color: #ffffff;
   }

   &__who {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 200%;
      color: #ffffff;
      opacity: 0.5;
   }

   &__about {
      max-width: $wd;
      display: flex;
      flex-direction: column;
   }

   &__text {
      max-width: $wd;
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 200%;
      letter-spacing: -0.03em;
      color: #ffffff;
      opacity: 0.5;
      margin-bottom: 30px;
   }

   &__btn {
      display: block;
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      border-radius: 120px;
      &_white {
         align-self: flex-start;
         background: #ffffff;
         color: #1a1a1a;
         padding: 23px 35px;
         margin-bottom: 20px;
      }

      &_black {
         align-self: flex-end;
         color: #ffffff;
         padding: 23px 28px;
         border: 1px solid rgb(255, 255, 255, 0.2);
         background-color: transparent;
      }
   }

   &__hand {
      position: absolute;
      width: 1300px;
      height: 644px;
      bottom: -60px;
      left: 0;
      img {
         width: 100%;
         height: 100%;
      }
   }
}
.container {
}
.row {
}
main {
   overflow-x: hidden;
}
.technlogy {
   background: #1a1a1a;
   margin-bottom: 200px;
   &__title {
      margin-bottom: 80px;
      position: relative;
      &::after {
         position: absolute;
         content: "";
         right: 0;
         top: 50%;
         transform: translateY(-50%);
         -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
         background: url("../img/right-top-arr.svg") center/cover no-repeat;
         width: 125px;
         height: 125px;
      }
   }

   &__body {
   }

   &__menu {
      width: 1300px;
      margin-bottom: 30px;
      position: relative;
      &::after {
         position: absolute;
         content: "";
         height: 4px;
         width: 100%;
         left: 0;
         bottom: 0;
         background: #d9d9d9;
      }
      .row {
         justify-content: space-around;
      }
   }

   &__link {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 112px;
      opacity: 0.5;
      text-align: center;
      color: #ffffff;
      position: relative;
      cursor: pointer;
      &.active-tab {
         opacity: 1;
         &::after {
            position: absolute;
            content: "";
            height: 4px;
            width: 190%;
            left: 50%;
            bottom: 0;
            background: #f3cd06;
            z-index: 5;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
         }
      }
   }

   &__item {
      display: none;
      &.active-tab {
         display: block;
      }
   }

   &__info {
   }

   &__title-second {
      margin-bottom: 30px;
      text-transform: uppercase;
      span {
         color: #f3cd06;
      }
   }

   &__text {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 200%;
      max-width: 586px;
      letter-spacing: -0.03em;
      color: #ffffff;
      opacity: 0.5;
      margin-bottom: 36px;
   }

   &__list {
      margin-bottom: 48px;
   }

   &__subtitle {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 20px;
      color: #ffffff;
      &:last-child {
         margin-bottom: 0;
      }
   }
   &__subtitle-img {
      margin-right: 16px;
      width: 32px;
      height: 32px;
      padding: 5px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.08);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
   }

   &__btn {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      color: #ffffff;
      //opacity: 0.2;
      border: 1px solid #ffffff34;
      border-radius: 120px;
      -webkit-border-radius: 120px;
      -moz-border-radius: 120px;
      -ms-border-radius: 120px;
      -o-border-radius: 120px;
      padding: 24px 88px 23px 32px;
      background-color: transparent;
      position: relative;
      &::after {
         position: absolute;
         content: "";
         background: url("../img/tab-btn.svg") center/cover no-repeat;
         right: 29px;
         top: 50%;
         width: 32px;
         height: 32px;
         transform: translateY(-50%);
         -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
      }
   }

   &__img {
      width: 600px;
      height: 600px;
      img {
         width: 100%;
         height: 100%;
      }
   }
}
.title {
   font-family: "Raleway";
   font-style: normal;
   font-weight: 700;
   font-size: 50px;
   line-height: 94px;
   letter-spacing: 1px;
   color: #ffffff;
}
.tab {
   &__menu {
   }
}
.develop {
   margin-bottom: 150px;
   &__title {
      margin-bottom: 90px;
   }

   &__body {
   }

   &__column {
      width: 500px;
      display: flex;
      flex-direction: column;
      row-gap: 60px;
   }

   &__item {
   }

   &__img {
      width: 160px;
      height: 180px;
      img {
         width: 100%;
         height: 100%;
      }
   }

   &__info {
   }

   &__subtitle {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 200%;
      margin-bottom: 8px;
      color: #ffffff;
   }

   &__text {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 200%;
      max-width: 316px;
      letter-spacing: -0.03em;

      color: #ffffff;
   }

   &__center {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 140px;
      text-align: center;
      position: relative;
      &::before {
         position: absolute;
         content: "";
         width: 1px;
         height: 100%;
         background-color: rgb(255, 255, 255, 0.1);
         left: 0;
         top: 0;
      }
      &::after {
         position: absolute;
         content: "";
         width: 1px;
         height: 100%;
         background-color: rgb(255, 255, 255, 0.1);
         right: 0;
         top: 0;
      }
   }

   &__arr {
      width: 82px;
      height: 82px;
      margin: 0 auto;
      img {
         width: 100%;
         height: 100%;
      }
   }
}
.container {
}
.title {
}
.row {
}
.support {
   margin-bottom: 200px;
   position: relative;
   &__title {
      margin-bottom: 100px;
   }

   &__body {
   }

   &__slider {
   }

   &__item {
   }

   &__img {
      margin-bottom: 36px;
      width: 320px;
      height: 400px;
      img {
         width: 100%;
         height: 100%;
      }
   }

   &__text {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 160%;
      max-width: 312px;
      color: #ffffff;
   }

   &__btns {
      min-width: 260px;
      position: absolute;
      top: 15px;
      right: 100px;
   }

   &__left {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 120px;
      max-width: 120px;
      min-height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
         background-color: rgb(0, 0, 0);
      }
      cursor: pointer;
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
   }

   &__right {
      position: absolute;
      right: 0;
      top: 0;
      min-width: 120px;
      max-width: 120px;
      min-height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
         transform: rotate(180deg);
         -webkit-transform: rotate(180deg);
         -moz-transform: rotate(180deg);
         -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
      }
      &:hover {
         background-color: rgb(0, 0, 0);
      }
      cursor: pointer;
      transition: all 1s;
   }
}
.right {
}
.container {
}
.title {
}
.row {
}
