@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&family=Poppins:wght@500&family=Raleway:wght@400;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  max-width: 1350px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  background: #1a1a1a;
  width: 100vw;
  overflow-x: hidden;
}

.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  padding-top: 48px;
  margin-bottom: 100px;
}
.header__top {
  margin-bottom: 40px;
}
.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  background: linear-gradient(307.72deg, #a7f306 2.04%, #f3cd06 98.59%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.header__menu {
  width: 695px;
}
.header__link {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.5;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__registration {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.header__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 141px;
  text-align: center;
  letter-spacing: 1px;
  background: linear-gradient(90.01deg, #ffffff 0.01%, rgba(255, 255, 255, 0.3) 49.48%, #ffffff 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 50px;
}
.header__title span {
  color: #f3cd06;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #f3cd06;
  background-clip: text;
  text-fill-color: #f3cd06;
}
.header__info .row {
  align-items: start;
}
.header__company .row {
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header__item {
  padding: 30px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 32px;
}
.header__num {
  font-family: "Plus Jakarta Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  opacity: 1;
  color: #ffffff;
}
.header__who {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #ffffff;
  opacity: 0.5;
}
.header__about {
  max-width: 373px;
  display: flex;
  flex-direction: column;
}
.header__text {
  max-width: 373px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.03em;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 30px;
}
.header__btn {
  display: block;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  border-radius: 120px;
}
.header__btn_white {
  align-self: flex-start;
  background: #ffffff;
  color: #1a1a1a;
  padding: 23px 35px;
  margin-bottom: 20px;
}
.header__btn_black {
  align-self: flex-end;
  color: #ffffff;
  padding: 23px 28px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
}
.header__hand {
  position: absolute;
  width: 1300px;
  height: 644px;
  bottom: -60px;
  left: 0;
}
.header__hand img {
  width: 100%;
  height: 100%;
}

main {
  overflow-x: hidden;
}

.technlogy {
  background: #1a1a1a;
  margin-bottom: 200px;
}
.technlogy__title {
  margin-bottom: 80px;
  position: relative;
}
.technlogy__title::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background: url("../img/right-top-arr.svg") center/cover no-repeat;
  width: 125px;
  height: 125px;
}
.technlogy__menu {
  width: 1300px;
  margin-bottom: 30px;
  position: relative;
}
.technlogy__menu::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #d9d9d9;
}
.technlogy__menu .row {
  justify-content: space-around;
}
.technlogy__link {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 112px;
  opacity: 0.5;
  text-align: center;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}
.technlogy__link.active-tab {
  opacity: 1;
}
.technlogy__link.active-tab::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 190%;
  left: 50%;
  bottom: 0;
  background: #f3cd06;
  z-index: 5;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.technlogy__item {
  display: none;
}
.technlogy__item.active-tab {
  display: block;
}
.technlogy__title-second {
  margin-bottom: 30px;
  text-transform: uppercase;
}
.technlogy__title-second span {
  color: #f3cd06;
}
.technlogy__text {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  max-width: 586px;
  letter-spacing: -0.03em;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 36px;
}
.technlogy__list {
  margin-bottom: 48px;
}
.technlogy__subtitle {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;
  color: #ffffff;
}
.technlogy__subtitle:last-child {
  margin-bottom: 0;
}
.technlogy__subtitle-img {
  margin-right: 16px;
  width: 32px;
  height: 32px;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.technlogy__btn {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2039215686);
  border-radius: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -ms-border-radius: 120px;
  -o-border-radius: 120px;
  padding: 24px 88px 23px 32px;
  background-color: transparent;
  position: relative;
}
.technlogy__btn::after {
  position: absolute;
  content: "";
  background: url("../img/tab-btn.svg") center/cover no-repeat;
  right: 29px;
  top: 50%;
  width: 32px;
  height: 32px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.technlogy__img {
  width: 600px;
  height: 600px;
}
.technlogy__img img {
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 94px;
  letter-spacing: 1px;
  color: #ffffff;
}

.develop {
  margin-bottom: 150px;
}
.develop__title {
  margin-bottom: 90px;
}
.develop__column {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.develop__img {
  width: 160px;
  height: 180px;
}
.develop__img img {
  width: 100%;
  height: 100%;
}
.develop__subtitle {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 200%;
  margin-bottom: 8px;
  color: #ffffff;
}
.develop__text {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  max-width: 316px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.develop__center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 140px;
  text-align: center;
  position: relative;
}
.develop__center::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  left: 0;
  top: 0;
}
.develop__center::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  right: 0;
  top: 0;
}
.develop__arr {
  width: 82px;
  height: 82px;
  margin: 0 auto;
}
.develop__arr img {
  width: 100%;
  height: 100%;
}

.support {
  margin-bottom: 200px;
  position: relative;
}
.support__title {
  margin-bottom: 100px;
}
.support__img {
  margin-bottom: 36px;
  width: 320px;
  height: 400px;
}
.support__img img {
  width: 100%;
  height: 100%;
}
.support__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
  max-width: 312px;
  color: #ffffff;
}
.support__btns {
  min-width: 260px;
  position: absolute;
  top: 15px;
  right: 100px;
}
.support__left {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 120px;
  max-width: 120px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.support__left:hover {
  background-color: rgb(0, 0, 0);
}
.support__right {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 120px;
  max-width: 120px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 1s;
}
.support__right img {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.support__right:hover {
  background-color: rgb(0, 0, 0);
}

.man {
  margin-bottom: 100px;
}
.man__title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}
.man__text {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 200%;
  color: rgba(255, 255, 255, 0.5);
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.man__text span {
  color: #fff;
}
.man__info {
  width: 695px;
  margin: 0 auto;
  position: relative;
}
.man__info::after {
  position: absolute;
  content: "";
  left: 48%;
  top: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  width: 64px;
  height: 2px;
  background-color: #fff;
}
.man__item {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.man__item_yellow {
  font-size: 32px;
  background: linear-gradient(307.72deg, #a7f306 2.04%, #f3cd06 98.59%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.brand {
  margin-bottom: 150px;
}
.brand__title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}
.brand__top {
  margin: 0 auto;
  margin-bottom: 80px;
  width: 1050px;
}
.brand__item {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.7;
  border-radius: 32px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 100px;
}
.brand__bottom {
  width: 100%;
}
.brand__bottom .row {
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.footer {
  padding-bottom: 70px;
}
.footer__logo {
  margin-bottom: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  background: linear-gradient(307.72deg, #a7f306 2.04%, #f3cd06 98.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.footer__logo span {
  background: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  background-clip: text;
  text-fill-color: white;
}
.footer__text {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  max-width: 329px;
  letter-spacing: -0.03em;
  color: #ffffff;
  opacity: 0.5;
}
.footer__body {
  position: relative;
}
.footer__body::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.footer__top {
  margin-bottom: 120px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #ffffff;
}
.footer__grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.footer__item {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #ffffff;
  opacity: 0.6;
}