@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&family=Poppins:wght@500&family=Raleway:wght@400;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  max-width: 1350px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  background: #1a1a1a;
  width: 100vw;
  overflow-x: hidden;
}

.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  padding-top: 48px;
  margin-bottom: 200px;
}
.header__top {
  margin-bottom: 40px;
}
.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  background: linear-gradient(307.72deg, #a7f306 2.04%, #f3cd06 98.59%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.header__menu {
  width: 695px;
}
.header__link {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.5;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__registration {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.header__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 141px;
  text-align: center;
  letter-spacing: 1px;
  background: linear-gradient(90.01deg, #ffffff 0.01%, rgba(255, 255, 255, 0.3) 49.48%, #ffffff 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 50px;
}
.header__title span {
  color: #f3cd06;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #f3cd06;
  background-clip: text;
  text-fill-color: #f3cd06;
}
.header__info .row {
  align-items: start;
}
.header__company .row {
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header__item {
  padding: 30px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 32px;
}
.header__num {
  font-family: "Plus Jakarta Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  opacity: 1;
  color: #ffffff;
}
.header__who {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #ffffff;
  opacity: 0.5;
}
.header__about {
  max-width: 373px;
  display: flex;
  flex-direction: column;
}
.header__text {
  max-width: 373px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.03em;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 30px;
}
.header__btn {
  display: block;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  border-radius: 120px;
}
.header__btn_white {
  align-self: flex-start;
  background: #ffffff;
  color: #1a1a1a;
  padding: 23px 35px;
  margin-bottom: 20px;
}
.header__btn_black {
  align-self: flex-end;
  color: #ffffff;
  padding: 23px 28px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
}
.header__hand {
  position: absolute;
  width: 1300px;
  height: 644px;
  bottom: -60px;
  left: 0;
}
.header__hand img {
  width: 100%;
  height: 100%;
}

main {
  overflow-x: hidden;
}

.technlogy {
  background: #1a1a1a;
}
.technlogy__title {
  margin-bottom: 80px;
  position: relative;
}
.technlogy__title::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background: url("../img/right-top-arr.svg") center/cover no-repeat;
  width: 125px;
  height: 125px;
}
.technlogy__menu {
  width: 1300px;
  margin-bottom: 30px;
  position: relative;
}
.technlogy__menu::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #d9d9d9;
}
.technlogy__menu .row {
  justify-content: space-around;
}
.technlogy__link {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 112px;
  opacity: 0.5;
  text-align: center;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}
.technlogy__link.active-tab {
  opacity: 1;
}
.technlogy__link.active-tab::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 190%;
  left: 50%;
  bottom: 0;
  background: #f3cd06;
  z-index: 5;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.technlogy__item {
  display: none;
}
.technlogy__item.active-tab {
  display: block;
}
.technlogy__title-second {
  margin-bottom: 30px;
  text-transform: uppercase;
}
.technlogy__text {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  max-width: 586px;
  letter-spacing: -0.03em;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 36px;
}
.technlogy__list {
  margin-bottom: 48px;
}
.technlogy__subtitle {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;
  color: #ffffff;
}
.technlogy__subtitle:last-child {
  margin-bottom: 0;
}
.technlogy__subtitle-img {
  margin-right: 16px;
  width: 32px;
  height: 32px;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.technlogy__btn {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2039215686);
  border-radius: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -ms-border-radius: 120px;
  -o-border-radius: 120px;
  padding: 24px 88px 23px 32px;
  background-color: transparent;
  position: relative;
}
.technlogy__btn::after {
  position: absolute;
  content: "";
  background: url("../img/tab-btn.svg") center/cover no-repeat;
  right: 29px;
  top: 50%;
  width: 32px;
  height: 32px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.technlogy__img {
  width: 600px;
  height: 600px;
}
.technlogy__img img {
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 94px;
  letter-spacing: 1px;
  color: #ffffff;
}