@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.row {
  display: flex;
}

.rowj {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  top: 0;
  left: 0;
}

.bgf {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  top: 0;
  left: 0;
}

/*@media (max-width: px){
	// body.lock{
	// 	overflow: hidden;
	// }
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		span{
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #fff;
			top: 9px;
			transition: all .3s;
		}
	}

	.header__burger:before ,
	.header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}
	.h-menu__list{
		flex-direction: column;
		justify-content: flex-end;
	}


	.header__burger.burger-active{
		span{
			transform: scale(0);
		}
	}

	.header__burger.burger-active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.burger-active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.h-menu{
		position: relative;
	}

	.h-menu__list{
		position: absolute;
		top: -700px;
	}
	.h-menu__link{
		margin-top: 7px;
		//margin-right: 50px;
	}
	.h-menu__list.burger-active{
		top: 0;
	}


}*/
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
.slick-list__draggable {
  padding: 0 50px;
}

.draggable {
  max-width: 570px;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: center;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  width: 30px;
  height: 60px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  font-size: 0;
  background: url("img/prev.png") 0 0 no-repeat;
  margin-right: 100px;
}

/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slick-arrow.slick-next {
  margin-left: 100px;
  font-size: 0;
  background: url("img/next.png") 0 0 no-repeat;
}

.header {
  padding-top: 30px;
}
.header_container {
  max-width: 1160px;
  margin: 0 auto;
}
.header__title {
  text-align: center;
  color: #26272d;
  font-family: "Varela Round";
  font-size: 62px;
  font-weight: 400;
  line-height: 72px;
  margin: 45px 0 35px 0;
}
.header__text {
  margin: 0 auto;
  text-align: center;
  max-width: 780px;
  color: #8c8f94;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.header__btn {
  text-align: center;
  margin: 45px 0;
  margin-right: 10px;
}

.h-menu_left_link {
  margin: 0 20px;
  color: #26272d;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
.h-menu_left {
  display: flex;
}
.h-menu_right {
  display: flex;
  align-items: center;
}
.h-menu_right_link {
  margin: 0 10px;
}
.h-menu_right_link-op {
  opacity: 0.4;
  color: #1b1c1e;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
.h-logo {
  display: flex;
  /* Style for "Small Butt" */
  width: 132px;
  height: 42px;
  border-radius: 21px;
  background-color: #267df4;
  justify-content: center;
  align-items: center;
}

.logo-img {
  margin-right: 7px;
}

.logo-text {
  /* Style for "Get  App" */
  width: 60px;
  height: 15px;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}

.h-btn {
  display: flex;
  margin: 0 auto;
  /* Style for "Button" */
  width: 155px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid #26272d;
  text-align: center;
  padding-left: 20px;
}

.h-img-b {
  margin-right: 7px;
  margin-top: 2px;
}

.phone-6 {
  text-align: center;
}

.p-6 {
  max-width: 298px;
}
.p-6 img {
  width: 100%;
  height: 100%;
}

.feat {
  padding: 100px 0 40px 0;
}
.feat__container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.feat__title {
  color: #26272d;
  font-family: Lato;
  font-size: 26px;
  font-weight: 300;
  line-height: 34px;
  margin: 30px 0;
}
.feat__text {
  max-width: 493px;
  color: #8c8f94;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.feat__text p:first-child {
  margin-bottom: 14px;
}

.prom {
  /* Style for "Divdier" */
  width: 1170px;
  height: 1px;
  border-radius: 1px;
  background-color: #26272d;
  opacity: 0.05;
  margin: 0 auto;
  margin: 100px 0;
}

.phone__container {
  max-width: 1170px;
  margin: 0 auto;
}
.phone__item-img {
  max-width: 600px;
  position: relative;
}
.phone__item-img img {
  width: 100%;
  height: 100%;
}
.phone__title {
  max-width: 230px;
}
.phone__text {
  max-width: 470px;
  margin: 50px 0;
}
.phone__text p:first-child {
  margin-bottom: 14px;
}
.phone__form {
  max-width: 365px;
  display: flex;
  align-items: center;
}

.all-title {
  color: #26272d;
  font-family: "Varela Round";
  font-size: 42px;
  font-weight: 400;
  line-height: 52px;
}

.all-text {
  color: #8c8f94;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.p-1-b {
  width: 202px;
  height: 42px;
  border-radius: 21px;
  background-color: #267df4;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  margin-right: 15px;
  display: flex;
  align-items: center;
  padding-left: 23px;
}
.p-1-b img {
  margin-left: 18px;
}

.p-2-b {
  color: #26272d;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  width: 142px;
  height: 42px;
  border-radius: 21px;
  border: 1px solid #7f8083;
}

.map__container {
  max-width: 1170px;
  margin: 0 auto;
}
.map__title {
  max-width: 279px;
}
.map__text {
  max-width: 470px;
  margin: 30px 0;
}
.map__text p:first-child {
  margin-bottom: 14px;
}
.map__subtitle {
  color: #26272d;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 25px;
}
.map__form-logo {
  max-width: 294px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map__img {
  max-width: 550px;
}
.map__img img {
  width: 100%;
  height: 100%;
}

.screen {
  overflow: hidden;
  padding-top: 100px;
  background-color: #f5f5f8;
  margin-top: 50px;
}
.screen__row {
  align-items: center;
}
.screen__pos {
  text-align: center;
  margin-left: -50px;
}
.screen__title {
  text-align: center;
  position: relative;
}
.screen__title:after {
  width: 50px;
  height: 2px;
  border-radius: 1px;
  background-color: #267df4;
  position: absolute;
  content: "";
  top: 87px;
  left: 720px;
}
.screen__subtitle {
  text-align: center;
  margin: 80px 0 30px 0;
  color: #8c8f94;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  /* Text style for "L, anding" */
  letter-spacing: 1.2px;
}
.screen__column img {
  height: 100%;
  width: 320px;
}
.screen__column-center img {
  height: 100%;
  width: 360px;
}

.ready {
  padding-top: 30px;
  background-color: #f5f5f8;
  padding-bottom: 80px;
}
.ready__subtitle {
  text-align: center;
  opacity: 0.5;
  color: #3a3d4b;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.ready__title {
  margin: 35px 0 45px 0;
  text-align: center;
}
.ready__form {
  display: flex;
  align-items: center;
  max-width: 502px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #84858a;
  justify-content: space-between;
  padding-left: 20px;
  align-items: center;
  margin: 0 auto;
}
.ready__btn-1 {
  background-color: rgba(1, 1, 1, 0);
  color: #3a3d4b;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
.ready__btn-2 {
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  width: 164px;
  height: 47px;
  border-radius: 21px;
  background-color: #6fc754;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-right: 2px;
}
.ready__endtitle {
  margin: 60px 0 30px 0;
  text-align: center;
  opacity: 0.3;
  color: #3a3d4b;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.ready__logo {
  display: flex;
  margin: 0 auto;
  width: 210px;
  height: 60px;
  border-radius: 30px;
  background-color: #131315;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}
.ready__l-t-1 {
  color: #ffffff;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 24.84px;
}
.ready__l-t-2 {
  color: #ffffff;
  font-family: Lato;
  font-weight: 400;
  font-size: 23px;
  line-height: 22px;
}

.cust {
  padding: 100px 0;
}
.cust__slider {
  margin: 0 auto;
  max-width: 1000px;
}
.cust__slides {
  display: flex;
  align-items: center;
  min-width: 0;
  margin: 0 auto;
}
.cust__slide-column {
  margin: 0 60px;
}
.cust__row {
  align-items: center;
  min-width: 0;
}
.cust__title {
  margin: 60px 0 40px 0;
  text-align: center;
  color: #26272d;
  font-family: Lato;
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
}
.cust__taxt {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
}
.cust__stars {
  text-align: center;
  max-width: 152px;
  margin: 0 auto;
}
.cust__subtitle {
  text-align: center;
  color: #26272d;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 40px;
  letter-spacing: 1.2px;
}

.plan {
  padding: 140px 0;
  background-color: #f4f4f5;
}
.plan__container {
  max-width: 1170px;
  margin: 0 auto;
}
.plan__column-first {
  padding-top: 40px;
}
.plan__title {
  max-width: 244px;
}
.plan__row {
  align-items: center;
}
.plan__sibtitle {
  color: #26272d;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin: 60px 0 30px;
}
.plan__form {
  display: flex;
  align-items: center;
  width: 258px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #7e7f81;
  padding-right: 20px;
  justify-content: space-between;
}
.plan__form-btn button {
  width: 124px;
  height: 42px;
  box-shadow: 10px 28px 50px rgba(92, 95, 101, 0.28), 2px 5px 20px rgba(61, 61, 62, 0.15);
  border-radius: 21px;
  background-color: #ffffff;
  color: #26292c;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
}
.plan__form-text {
  opacity: 0.4;
  color: #26292c;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
.plan__text {
  margin: 70px 0 40px 0;
  max-width: 351px;
}
.plan__blue {
  color: #267df4;
  text-decoration: underline;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.plan__endtitle {
  color: #8c8f94;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.many {
  padding: 62px 55px 70px 56px;
  background-color: #fff;
  box-shadow: 10px 28px 50px rgba(92, 95, 101, 0.2);
  border-radius: 10px;
  height: 100%;
}
.many__title {
  color: #26272d;
  font-family: Lato;
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
  text-align: center;
  margin-bottom: 29px;
}
.many__monay {
  /* Style for "Bage" */
  width: 63px;
  height: 28px;
  border-radius: 14px;
  border: 1px solid #797d81;
  margin: 30px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.many__text {
  text-align: center;
  margin: 0 auto;
  max-width: 169px;
  margin-top: 50px;
  margin-bottom: 47px;
}
.many__subtitle {
  color: #26292c;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.many__btn {
  margin-top: 70px;
}
.many__btn button {
  width: 212px;
  height: 42px;
  border-radius: 21px;
  background-color: #267df4;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}

.few {
  padding: 43px 55px 50px 56px;
  background-color: #ebebed;
  border-radius: 10px;
  height: 100%;
}
.few__title {
  color: #26272d;
  font-family: Lato;
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
  text-align: center;
  margin-bottom: 29px;
}
.few__monay {
  /* Style for "Bage" */
  width: 63px;
  height: 28px;
  border-radius: 14px;
  border: 1px solid #797d81;
  text-align: center;
  margin: 30px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.few__text {
  text-align: center;
  margin: 0 auto;
  max-width: 123px;
  margin-top: 50px;
  margin-bottom: 47px;
}
.few__subtitle {
  color: #26292c;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.few__btn {
  margin-top: 31px;
}
.few__btn button {
  width: 202px;
  height: 42px;
  border-radius: 21px;
  border: 1px solid #267df4;
  color: #267df4;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}

.sub {
  padding: 80px;
}
.sub__title {
  text-align: center;
  margin-bottom: 50px;
}
.sub__form {
  display: flex;
  width: 562px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #7f8285;
  align-items: center;
  justify-content: space-between;
  padding-left: 26px;
  margin: 0 auto;
  padding-right: 5px;
}
.sub__f-text {
  opacity: 0.7;
  color: #26292c;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
.sub__f-btn button {
  width: 134px;
  height: 42px;
  border-radius: 21px;
  background-color: #6fc754;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s;
}
.sub__f-btn button:hover {
  margin-right: -3px;
  width: 137px;
  height: 45px;
  box-shadow: 0 0 10px #16904f;
}
.sub__subtitle {
  text-align: center;
  color: #8c8f94;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
}

.footer {
  padding-bottom: 25px;
  padding-top: 190px;
}
.footer__container {
  margin: 0 auto;
  max-width: 1170px;
}
.footer__left-text {
  margin: 33px 0;
  max-width: 245px;
}
.footer__left-btn {
  margin-bottom: 40px;
}
.footer__img {
  max-width: 222px;
}
.footer__right {
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
  width: 475px;
}
.footer__row {
  padding-bottom: 100px;
}
.footer__right-title {
  margin-bottom: 25px;
  color: #26272d;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.footer__right-subtitle {
  margin-bottom: 10px;
  color: #8c8f94;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}

.br {
  width: 1170px;
  height: 1px;
  border-radius: 1px;
  background-color: #26292c;
  opacity: 0.05;
  margin: 0 auto;
}

.end {
  padding-top: 30px;
}
.end__left {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #8c8f94;
}
.end__left span {
  color: #3b55e6;
  text-decoration: underline;
}
.end__right {
  display: flex;
  align-items: center;
  color: #26272d;
  font-family: Lato;
  font-size: 9px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}
.end__right img {
  margin-left: 10px;
}