@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:400,400i,700,800&display=swap');
@font-face {
	font-family: 'Lato-Black';
	src: url('fonts/Lato-Black.eot');
	src: local('☺'), url('fonts/Lato-Black.woff') format('woff'), url('fonts/Lato-Black.ttf') format('truetype'), url('fonts/Lato-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'peace sans';
	src: url('fonts/peace_sans.eot');
	src: local('☺'), url('fonts/peace_sans.woff') format('woff'), url('fonts/peace_sans.ttf') format('truetype'), url('fonts/peace_sans.svg') format('svg');
	font-weight: 400;
	font-style: 400;
}
@font-face {
	font-family: 'PumpDemiBoldPlain';
	src: url('fonts/PumpDemiBoldPlain.eot');
	src: local('☺'), url('fonts/PumpDemiBoldPlain.woff') format('woff'), url('fonts/PumpDemiBoldPlain.ttf') format('truetype'), url('fonts/PumpDemiBoldPlain.svg') format('svg');
	font-weight: 700;
	font-style: 700;
}
@import url('https://fonts.googleapis.com/css?family=Lemon|Lemonada&display=swap');
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

%fc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.rowj{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.bg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	top: 0;
	left: 0;
}







.bgf{
	//opacity: ;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	top: 0;
	left: 0;
}

/*@media (max-width: px){
	// body.lock{
	// 	overflow: hidden;
	// }
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		span{
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #fff;
			top: 9px;
			transition: all .3s;
		}
	}

	.header__burger:before ,
	.header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}
	.h-menu__list{
		flex-direction: column;
		justify-content: flex-end;
	}


	.header__burger.burger-active{
		span{
			transform: scale(0);
		}
	}

	.header__burger.burger-active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.burger-active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.h-menu{
		position: relative;
	}

	.h-menu__list{
		position: absolute;
		top: -700px;
	}
	.h-menu__link{
		margin-top: 7px;
		//margin-right: 50px;
	}
	.h-menu__list.burger-active{
		top: 0;
	}
	

}*/

.wrapper {
    overflow: hidden;
}
.header {
    padding: 40px 0 145px 0;
    

    position: relative;
		// .header__container

		&__container {
            margin: 0 auto;
            max-width: 1242px;
            //@function: 900px;
		}

		// .header__menu

		&__menu {
		}

		// .header__logo

		&__logo {
		}

		// .header__logo-text

		&__logo-text {
            color: #ffffff;
            font-family: "lemonada";
            font-size: 43px;
            font-weight: 400;
            letter-spacing: -0.47px;
		}

		// .header__burger

		&__burger {
		}

		// .header__content

		&__content {
            margin-top: 150px;
		}

		// .header__text

		&__text {
		}

		// .header__text-title

		&__text-title {
            // width: 522px;
            // height: 126px;
            color: #ffffff;
            font-family: "Lemonada";
            font-size: 129px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.32px;
            opacity: 0.5;
            margin-left: 180px;
            line-height: 70px;
		}

		// .header__text-subtitle

		&__text-subtitle {
            color: #ffffff;
            font-family: "Lemonada";
            font-size: 129px;
            font-weight: 400;
            text-transform: uppercase;
            opacity: 0.5;
            letter-spacing: 0.32px;
            margin-left: 80px;
            line-height: 120px;
            margin-top: 15px;
            margin-bottom: 15px;
		}

		// .header__text-text

		&__text-text {
            color: #ffffff;
            font-family: "Lemonada";
            font-size: 86px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.51px;
            opacity: 0.5;
            margin-left: 120px;
            line-height: 30px;
            
		}

		// .header__text-btn

		&__text-btn {
            button{
                width: 192px;
                height: 54px;
                box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.47);
                background-color: #ffffff;
                border-radius: 50px;
                color: #242424;
                font-family: Lato;
                font-size: 21px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.32px;
                margin: 65px 0 0 300px;
            }
		}

		// .header__img

		&__img {
            //position: relative;
            width: 700px;
            height: 769px;
            position: absolute;
            top: 8%;
            right: 10%;
            img{
                /*position: absolute;
                width: 100%;
                height: 100%;
                top: -61%;
                right: -68%;
                z-index: 5;*/
                width: 100%;
                height: 100%;
            }
		}
}
.row {
}
.h-menu {

		// .h-menu__list

		&__list {
            margin-top: 3%;
            display: flex;
		}

		// .h-menu__link

		&__link {
            color: #ffffff;
            font-family: Lato;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.24px;
            margin-right: 25px;
		}

		// .h-menu__link-i1

		&__link-i1 {
            width: 20px;
            height: 20px;
            margin: 0 27px 0 31px;
            img{
                width: 100%;
                height: 100%;
            }
		}

		// .h-menu__link-i2

		&__link-i2 {
            width: 10px;
            height: 20px;
            img{
                width: 100%;
                height: 100%;
            }
		}
}
.bgf {
}
.bg {
}



.content {
}
.mac {
    overflow: hidden;
    position: relative;

		// .mac__container

		&__container {
            max-width: 1250px;
            margin: 0 auto;
            margin-top: 90px;

		}

		// .mac__text

		&__text {
            max-width: 471px;
            color: #6a6a6a;
            font-family: "Open Sans";
            font-size: 17px;
            font-weight: 400;
            line-height: 30px;
            margin: 55px 0;
		}

		// .mac__title

		&__title {
            color: #494949;
            font-family: "Peace Sans";
            font-size: 62px;
            font-weight: 400;
		}

		// .mac__btn

		&__btn {
            button{
                width: 192px;
                height: 54px;
                box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
                background-color: #bc2e3a;
                color: #ffffff;
                font-family: Lato;
                font-size: 21px;
                font-weight: 700;
                text-transform: uppercase;
                border-radius: 50px;
                letter-spacing: 0.32px;
            }
		}

		// .mac__img

		&__img {
            width: 700px;
            height: 400px;
            img{
                width: 100%;
                height: 100%;
            }
		}
}
.row {
}
.rowj {
}
.bleck {
    position: absolute;
    z-index: -5;
    top: -21.5%;
    right: -30%;
}

.do {
    z-index: -15;
    position: relative;
    padding: 94px 0 15px 0;
    background-color: #f5f5f5;

    &__row{
        margin: 0 -20px;
    }

    &__container{
        max-width: 1250px;
        margin: 0 auto;
    }

    &__title{
        text-align: center;
        color: #494949;
        font-family: "Peace Sans";
        font-size: 62px;
        font-weight: 400;
        margin-bottom: 80px;
    }

    // .do__column

    &__column {
        flex: 0 0 33.333%;
        margin-bottom: 95px;
        padding: 0 20px;
    }
}
.container {
}
.row {
}
.rowj {
}
.d-item {

    // .d-item__head

    &__head {/* Style for "Ellipse 1" */
        width: 76px;
        height: 75px;
        background-color: #bc2e3a;
        border-radius: 50%;
        @extend %fc;
    }

    // .d-item__img

    &__img {
        width: 27px;
        height: 32px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    // .d-item__dody

    &__dody {
        margin: 15px 15px 0 0;
    }

    // .d-item__title

    &__title {
        color: #6f6f6e;
        font-family: "Open Sans";
        font-size: 30px;
        font-weight: 400;
        letter-spacing: -1.82px;
        margin-bottom: 20px;
    }

    // .d-item__text

    &__text {
        max-width: 281px;
        height: 78px;
        color: #6a6a6a;
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: 400;
        line-height: 30px;
    }
}

.red{
    position: absolute;
    top: 30%;
    left: -19%;
}

.work {
    padding: 100px 0 100px 0;
    //overflow: hidden;
    position: relative;
    // .work__container

    &__container {
        margin-left: 200px;
    }

    // .work__title

    &__title {
        color: #494949;
        font-family: "Peace Sans";
        font-size: 62px;
        font-weight: 400;
        margin-bottom: 60px;
    }

    // .work__row

    &__row {
        flex-wrap: nowrap;
    }

    // .work__column

    &__column {
    }
}
.row {
}
.rowj {
}
.w-item {
    position: relative;
    z-index: 5;
    // .w-item__text

    &__text {
        max-width: 289px;
        color: #6a6a6a;
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
    }

    // .w-item__btn

    &__btn {
        button{
            margin-top: 50px;
            width: 192px;
            height: 54px;
            box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
            background-color: #bc2e3a;
            color: #ffffff;
            font-family: Lato;
            font-size: 21px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.32px;
            border-radius: 50px;
        }
    }

    // .w-item__num

    &__num {
        color: #ffffff;
        font-family: Lato;
        font-size: 58px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.32px;
        position: absolute;
        right: 45px;
        top: 20px;

    }

    // .w-item__title

    &__title {
        color: #ffffff;
        font-family: Lato;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.32px;
        position: absolute;
        bottom: 40px;
        left: 55px;
    }

    // .w-item__img

    &__img {
        width: 404px;
        height: 297px;
        opacity: 1;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.tr{
    position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	top: 0;
	left: 0;
}

.w-item-trans{
    margin-right: -80px;
}

.work__column-first{
    margin-right: 50px;
}

.work-red{
    position: absolute;
    top: -230px;
    right: -720px;
}

.work-black{
    position: absolute;
    top: 27px;
    left: -995px;
}


.slide {
    background-color: #f5f5f5;
    padding: 105px 0 ;
    z-index: -10;

		// .slide__conrainer

		&__conrainer {
            margin: 0 auto;
            width: 1400px;
		}

		// .slide__title

		&__title {
            color: #494949;
            font-family: "Peace Sans";
            font-size: 62px;
            font-weight: 400;
            text-align: center;
		}

		// .slide__prev

		&__prev {
		}

		// .slide__slider

		&__slider {
           display: flex;
        
		}

		// .slide__n

		&__n {
		}
}
.slider {
    //position: relative;
		// .slider__img

		&__img {
            position: relative;
            max-width: 397px;
            max-width: 397px;
            img{
                max-width: 397px;
                max-width: 397px;
            }
		}

		// .slider__text

		&__text {
            display: inline-block;
            color: #ffffff;
            font-family: "Open Sans";
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
            padding: 10px 70px 10px 70px;
            background-color: #252525;
            transform: skewX(45deg);
            margin-left: 130px;
           //margin-top: -30px;
		}

		// .slider__active

		&__active {
		}
}

.what {
    padding: 100px 0 100px 150px;
    position: relative;

    // .what__container

    &__container {
        max-width: 1185px;
        //z-index: 15;
    }

    // .what__title

    &__title {
        margin: 35px 0 40px 0;
        color: #6a6a6a;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
    }

    &__titled{
        color: #494949;
        font-family: "Peace Sans";
        font-size: 62px;
        font-weight: 400;
        margin-bottom: 33px;
        margin-left: 110px;
    }
    // .what__left

    &__left {
        z-index: 50;
    }

    // .what__right

    &__right {
        
    }

    // .what__text

    &__text {
        max-width: 650px;
        color: #6a6a6a;
        font-family: "Open Sans";
        font-size: 20px;
        font-style: italic;
        line-height: 30px;
        margin-top: 100px;
        position: relative;
        &:after{
            content: '“';
            position: absolute;
            width: 75px;
            height: 54px;
            color: #6a6a6a;
            font-family: "Pump Demi Bold Let Plain";
            font-size: 199px;
            font-weight: 700;
            line-height: 331.7px;
            top: -125px;
            left: -120px;
        }
    }

    // .what__images

    &__images {
        z-index: 30;
    }
}
.row {
}
.rowj {
}
.rowg {
}

.img-row{
    margin-right: 3px;
    width: 70px;
    height: 70px;
    //z-index: 50;
    img{
        width: 100%;
        height: 100%;
        //z-index: 70;
    }
}

.w-red{
    position: absolute;
    top: -70px;
    left: -500px;
    z-index: 1;
}
.w-black{
    position: absolute;
    top: -800px;
    right: -800px;
    z-index: -1;
}

.footer-bgf{
    opacity: 0.9;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	top: 0;
	left: 0;
}
.footer-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	top: 0;
	left: 0;
}

.footer {
    position: relative;
    padding: 80px 0 60px 0;

    // .footer__container

    &__container {
        max-width: 1160px;
        margin: 0 auto;
    }

    // .footer__title

    &__title {
        color: #9f9f9f;
        font-family: "Peace Sans";
        font-size: 62px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 80px;
    }

    // .footer__row

    &__row {
    }

    // .footer__column

    &__column {
        margin-bottom: 100px;
    }

    // .footer__icon

    &__icon {
        max-width: 425px;
        margin: 0 auto;
        //margin-top: 100px;
    }

    // .footer__text

    &__text {
        margin-top: 70px;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.42px;
        position: relative;
        &:before{
            position: absolute;
            content: '';
            top: -30px;
            width: 737px;
            height: 2px;
            background-color: #ffffff;
            opacity: 0.43;
            left: 215px;
        }
    }
}
.row {
}
.rowj {
}
.f-column {
    display: flex;

    // .f-column__head

    &__head {
        margin-right: 28px;
    }

    // .f-column__img

    &__img {
    }

    &__title{
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.55px;
        margin-bottom: 20px;
    }
    // .f-column__body

    &__body {
    }

    // .f-column__text

    &__text {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
    }
}
.footer-icon {
}
.footer-bgf {
}
.footer-bg {
}

.l-red{
    position: absolute;
    bottom: -220px;
    right: -80px;
}

